Repository iotaledger/firefly, pull requests merged in 2022-10, with the labels that each got.

#4714 feat: kickoff create new shimmer profile flow for mobile stardust
  packages/mobile/App.svelte
  packages/mobile/components/OnboardingLayout.svelte
  packages/mobile/components/index.js
  packages/mobile/lib/auxiliary/keyboard/index.ts
  packages/mobile/lib/auxiliary/keyboard/stores/index.ts
  packages/mobile/lib/auxiliary/keyboard/stores/keyboard.stores.ts
  packages/mobile/routes/index.js
  packages/mobile/routes/onboarding/OnboardingRouter.svelte
  packages/mobile/routes/onboarding/index.js
  packages/mobile/routes/onboarding/views/app-setup/AppSetupRouter.svelte
  packages/mobile/routes/onboarding/views/app-setup/index.js
  packages/mobile/routes/onboarding/views/app-setup/views/WelcomeView.svelte
  packages/mobile/routes/onboarding/views/app-setup/views/index.js
  packages/mobile/routes/onboarding/views/index.js
  packages/mobile/routes/onboarding/views/network-setup/NetworkSetupRouter.svelte
  packages/mobile/routes/onboarding/views/network-setup/index.js
  packages/mobile/routes/onboarding/views/network-setup/views/ChooseNetworkView.svelte
  packages/mobile/routes/onboarding/views/network-setup/views/ChooseProtocolView.svelte
  packages/mobile/routes/onboarding/views/network-setup/views/index.js
  packages/mobile/routes/onboarding/views/profile-setup/ProfileSetupRouter.svelte
  packages/mobile/routes/onboarding/views/profile-setup/index.js
  packages/mobile/routes/onboarding/views/profile-setup/views/EnterNameView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/SetupNewView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/SetupView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/index.js
  packages/mobile/routes/onboarding/views/storage-protection-setup/StorageProtectionSetupRouter.svelte
  packages/mobile/routes/onboarding/views/storage-protection-setup/index.js
  packages/mobile/routes/onboarding/views/storage-protection-setup/views/SetupPinProtectionView.svelte
  packages/mobile/routes/onboarding/views/storage-protection-setup/views/index.js
  packages/mobile/routes/onboarding/views/stronghold-setup/StrongholdSetupRouter.svelte
  packages/mobile/routes/onboarding/views/stronghold-setup/index.js
  packages/mobile/routes/onboarding/views/stronghold-setup/views/SetupStrongholdPasswordView.svelte
  packages/mobile/routes/onboarding/views/stronghold-setup/views/index.js
Labels: type:feature, platform:mobile, stardust

#4758 feat: adjust confirmation page
  packages/shared/components/popups/Transaction.svelte
  packages/shared/lib/app.ts
  packages/shared/lib/common/deep-links/types/deep-link-request.type.ts
  packages/shared/lib/common/deep-links/types/wallet-context.type.ts
  packages/shared/lib/common/deep-links/wallet-context-handler.ts
  packages/shared/lib/typings/sendParams.ts
  packages/shared/lib/utils.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
Labels: type:feature, desktop-1.7.0

#4794 chore: add `--no-sandbox` to electron start script
  packages/desktop/package.json
Labels: type:chore, type:fix, package:desktop, platform:desktop

#4779 fix: NumberInput
  packages/shared/components/inputs/NumberInput.svelte
  packages/shared/components/inputs/TextInput.svelte
Labels: type:fix, stardust

#4799 feat: add mobile feature flags
  packages/mobile/features/developer-tools.features.ts
  packages/mobile/features/features.ts
  packages/mobile/features/onboarding.features.ts
  packages/mobile/routes/onboarding/views/app-setup/views/WelcomeView.svelte
  packages/mobile/routes/onboarding/views/network-setup/views/ChooseNetworkView.svelte
  packages/mobile/routes/onboarding/views/network-setup/views/ChooseProtocolView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/SetupNewView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/SetupView.svelte
Labels: type:feature, platform:mobile, package:mobile

#4798 feat: add onboarding mnemonic and congratulation views for mobile stardust
  packages/mobile/components/RecoveryPhrase.svelte
  packages/mobile/components/index.js
  packages/mobile/routes/onboarding/OnboardingRouter.svelte
  packages/mobile/routes/onboarding/views/CongratulationsView.svelte
  packages/mobile/routes/onboarding/views/index.js
  packages/mobile/routes/onboarding/views/profile-backup/ProfileBackupRouter.svelte
  packages/mobile/routes/onboarding/views/profile-backup/index.js
  packages/mobile/routes/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
  packages/mobile/routes/onboarding/views/profile-backup/views/ViewMnemonicView.svelte
  packages/mobile/routes/onboarding/views/profile-backup/views/index.js
Labels: type:feature, platform:mobile, type:ui, stardust

#4547 feat: alias activity
  packages/desktop/public/global.css
  packages/shared/components/atoms/buttons/CreateAliasButton.svelte
  packages/shared/components/atoms/buttons/index.js
  packages/shared/components/atoms/tiles/AliasActivityTile.svelte
  packages/shared/components/atoms/tiles/AssetTile.svelte
  packages/shared/components/atoms/tiles/index.js
  packages/shared/components/inputs/AssetDropdown.svelte
  packages/shared/components/inputs/Input.svelte
  packages/shared/components/inputs/TextInput.svelte
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/organisms/AccountActivity.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/AliasConfirmationPopup.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/features/developer-tools.features.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/wallet/actions/activities/linkTransactionsWithClaimingTransactions.ts
  packages/shared/lib/core/wallet/actions/activities/preprocessOutputsForAccount.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/constants/index.ts
  packages/shared/lib/core/wallet/constants/new-alias-id.constants.ts
  packages/shared/lib/core/wallet/enums/activity-type.enum.ts
  packages/shared/lib/core/wallet/enums/alias-type.enum.ts
  packages/shared/lib/core/wallet/enums/index.ts
  packages/shared/lib/core/wallet/interfaces/activity.interface.ts
  packages/shared/lib/core/wallet/interfaces/alias-activity-data.interface.ts
  packages/shared/lib/core/wallet/interfaces/foundry-activity-data.interface.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/interfaces/processed-transaction.interface.ts
  packages/shared/lib/core/wallet/interfaces/wrapped-output.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/utils/convertBech32ToHexAddress.ts
  packages/shared/lib/core/wallet/utils/convertEd25519ToBech32.ts
  packages/shared/lib/core/wallet/utils/convertHexAddressToBech32.ts
  packages/shared/lib/core/wallet/utils/getActivityType.ts
  packages/shared/lib/core/wallet/utils/getBech32AddressFromAddressTypes.ts
  packages/shared/lib/core/wallet/utils/getOutputOptions.ts
  packages/shared/lib/core/wallet/utils/getSenderAddressFromUnlockCondition.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/lib/core/wallet/utils/isVisibleActivity.ts
  packages/shared/lib/core/wallet/utils/outputs/getAliasActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/getFoundryActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/getGovernorAddressFromOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/getRecipientAddressFromOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/getStateControllerAddressFromOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/getTransactionActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/index.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessGroupedOutputs.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/getFoundryOutputFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/getMainTransactionOutputFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/getSenderFromInputs.ts
  packages/shared/locales/en.json
  packages/shared/package.json
  packages/shared/routes/dashboard/developer/Developer.svelte
  yarn.lock
Labels: type:feature, context:wallet, stardust

#4772 chore: write Shimmer claiming documentation
  docs/specifications/onboarding/index.md
  docs/specifications/onboarding/routing.md
  docs/specifications/onboarding/shimmer-claiming.md
Labels: type:documentation, context:onboarding, stardust

#4806 refactor: clean up lib/wallet
  packages/shared/components/modals/AccountActionsMenu.svelte
  packages/shared/components/molecules/menu-items/AccountSwitcherMenuItem.svelte
  packages/shared/components/organisms/AccountSummary.svelte
  packages/shared/components/popups/AliasConfirmationPopup.svelte
  packages/shared/components/popups/MintNativeTokenFormPopup.svelte
  packages/shared/components/popups/SendConfirmationPopup.svelte
  packages/shared/components/popups/TestDeepLinkFormPopup.svelte
  packages/shared/lib/core/account/actions/buildAccountState.ts
  packages/shared/lib/core/account/interfaces/account-state.interface.ts
  packages/shared/lib/core/profile/actions/active-accounts/findActiveAccountWithAddress.ts
  packages/shared/lib/core/profile/actions/active-accounts/index.ts
  packages/shared/lib/core/profile/actions/resetDashboardState.ts
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/actions/sendOutput.ts
  packages/shared/lib/core/wallet/utils/getSubjectFromAddress.ts
Labels: type:refactor, package:shared, stardust

#4247 feat: initial nft tab
  packages/shared/components/Sidebar.svelte
  packages/shared/components/Text.svelte
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/core/collectibles/enums/attribute-display-type.enum.ts
  packages/shared/lib/core/collectibles/enums/index.ts
  packages/shared/lib/core/collectibles/enums/mime-type.enum.ts
  packages/shared/lib/core/collectibles/enums/standard.enum.ts
  packages/shared/lib/core/collectibles/interfaces/attribute.interface.ts
  packages/shared/lib/core/collectibles/interfaces/index.ts
  packages/shared/lib/core/collectibles/interfaces/nft.interface.ts
  packages/shared/lib/core/collectibles/types/attribute.type.ts
  packages/shared/lib/core/collectibles/types/collection.type.ts
  packages/shared/lib/core/collectibles/types/index.ts
  packages/shared/lib/core/collectibles/types/royalties.type.ts
  packages/shared/lib/core/router/collectibles-router.ts
  packages/shared/lib/core/router/enums/collectibles-route.enum.ts
  packages/shared/lib/core/router/enums/dashboard-route.enum.ts
  packages/shared/lib/core/router/enums/index.ts
  packages/shared/lib/core/router/helper.ts
  packages/shared/lib/core/router/index.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/Dashboard.svelte
  packages/shared/routes/dashboard/TopNavigation.svelte
  packages/shared/routes/dashboard/collectibles/Collectibles.svelte
  packages/shared/routes/dashboard/collectibles/views/GalleryView.svelte
  packages/shared/routes/dashboard/collectibles/views/index.js
Labels: stardust

#4811 fix: mnemonic auto-scroll
  packages/mobile/routes/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
Labels: type:fix, platform:mobile, package:mobile, stardust

#4047 feat: initial selected collectibles UI
  packages/shared/components/atoms/buttons/index.js
  packages/shared/components/modals/CollectibleDetailsMenu.svelte
  packages/shared/components/modals/index.js
  packages/shared/lib/core/router/enums/collectibles-route.enum.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/collectibles/Collectibles.svelte
  packages/shared/routes/dashboard/collectibles/views/DetailsView.svelte
  packages/shared/routes/dashboard/collectibles/views/GalleryView.svelte
  packages/shared/routes/dashboard/collectibles/views/index.js
  yarn.lock
Labels: type:feature, package:shared, platform:desktop, stardust

#4822 fix: fix loading state on alias creation
  packages/shared/components/popups/AliasConfirmationPopup.svelte
Labels: type:fix, context:wallet, stardust

#4813 feat: add login views for stardust mobile
  packages/mobile/App.svelte
  packages/mobile/components/buttons/ProfileButton.svelte
  packages/mobile/components/buttons/index.js
  packages/mobile/components/index.js
  packages/mobile/routes/index.js
  packages/mobile/routes/login/LoginRouter.svelte
  packages/mobile/routes/login/index.js
  packages/mobile/routes/login/views/EnterPinView.svelte
  packages/mobile/routes/login/views/LoadProfileView.svelte
  packages/mobile/routes/login/views/SelectProfileView.svelte
  packages/mobile/routes/login/views/index.js
  packages/mobile/routes/onboarding/views/app-setup/views/WelcomeView.svelte
Labels: type:feature, platform:mobile, type:ui, stardust

#4838 enhancement: polish UI
  packages/shared/components/popups/Transaction.svelte
Labels: type:ui, desktop-1.7.0

#4839 feat: validate input fields
  packages/shared/lib/address.ts
  packages/shared/lib/common/deep-links/wallet-context-handler.ts
  packages/shared/lib/tests/address.test.ts
Labels: desktop-1.7.0

#4837 refactor: cleanup TextTypes
  packages/mobile/components/OnboardingLayout.svelte
  packages/mobile/components/buttons/ProfileButton.svelte
  packages/mobile/routes/login/views/EnterPinView.svelte
  packages/mobile/routes/login/views/SelectProfileView.svelte
  packages/mobile/routes/onboarding/views/CongratulationsView.svelte
  packages/mobile/routes/onboarding/views/app-setup/views/WelcomeView.svelte
  packages/mobile/routes/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
  packages/mobile/routes/onboarding/views/profile-backup/views/ViewMnemonicView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/EnterNameView.svelte
  packages/mobile/routes/onboarding/views/storage-protection-setup/views/SetupPinProtectionView.svelte
  packages/mobile/routes/onboarding/views/stronghold-setup/views/SetupStrongholdPasswordView.svelte
Labels: type:refactor, platform:mobile, package:mobile, stardust

#4836 refactor: remove mobile routes transitions
  packages/mobile/routes/login/LoginRouter.svelte
  packages/mobile/routes/onboarding/OnboardingRouter.svelte
  packages/mobile/routes/onboarding/views/app-setup/AppSetupRouter.svelte
  packages/mobile/routes/onboarding/views/network-setup/NetworkSetupRouter.svelte
  packages/mobile/routes/onboarding/views/profile-backup/ProfileBackupRouter.svelte
  packages/mobile/routes/onboarding/views/profile-setup/ProfileSetupRouter.svelte
  packages/mobile/routes/onboarding/views/storage-protection-setup/StorageProtectionSetupRouter.svelte
  packages/mobile/routes/onboarding/views/stronghold-setup/StrongholdSetupRouter.svelte
Labels: type:refactor, platform:mobile, package:mobile, stardust

#4853 fix: amount stored in raw string format
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/Input.svelte
  packages/shared/components/inputs/NumberInput.svelte
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/SendConfirmationPopup.svelte
  packages/shared/components/popups/SendFormPopup.svelte
  packages/shared/lib/auxiliary/deep-link/errors/amount-not-an-integer.error.ts
  packages/shared/lib/auxiliary/deep-link/errors/index.ts
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendConfirmationOperation.ts
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendFormOperation.ts
  packages/shared/lib/auxiliary/deep-link/utils/getAmountFromSearchParam.ts
  packages/shared/lib/auxiliary/deep-link/utils/getRawAmountFromSearchParam.ts
  packages/shared/lib/auxiliary/deep-link/utils/index.ts
  packages/shared/lib/contexts/onboarding/actions/claimShimmerRewards.ts
  packages/shared/lib/core/ledger/helpers/deconstructLedgerVerificationProps.ts
  packages/shared/lib/core/wallet/interfaces/new-transaction-details.interface.ts
  packages/shared/lib/core/wallet/utils/getOutputOptions.ts
  packages/shared/locales/en.json
Labels: type:fix, stardust

#4762 enhancement: nsis script
  packages/desktop/electron-builder-config.js
  packages/desktop/nsis/amd64-unicode/INetC.dll
  packages/desktop/nsis/x86-ansi/INetC.dll
  packages/desktop/nsis/x86-unicode/INetC.dll
  packages/desktop/public/amd64-unicode/NScurl.dll
  packages/desktop/public/installer.nsh
  packages/desktop/public/x86-ansi/NScurl.dll
  packages/desktop/public/x86-unicode/NScurl.dll
  packages/desktop/webpack.config.js
Labels: type:enhancement, scope:dependencies, scope:security, package:desktop, stardust

#4768 fix: allow restoration on Shimmer network with old Stronghold backups
  packages/shared/lib/contexts/onboarding/actions/restoreBackupForShimmerClaimingProfileManager.ts
  packages/shared/lib/contexts/onboarding/actions/restoreBackupFromStrongholdFile.ts
  packages/shared/lib/contexts/onboarding/errors/stronghold-backup.errors.ts
  packages/shared/lib/contexts/onboarding/helpers/index.ts
  packages/shared/lib/contexts/onboarding/helpers/restoreBackupByCopyingFile.ts
Labels: type:fix, context:onboarding, stardust

#4851 feat: add mnemonic import view for stardust mobile
  packages/mobile/features/onboarding.features.ts
  packages/mobile/routes/onboarding/OnboardingRouter.svelte
  packages/mobile/routes/onboarding/views/index.js
  packages/mobile/routes/onboarding/views/profile-recovery/ProfileRecoveryRouter.svelte
  packages/mobile/routes/onboarding/views/profile-recovery/index.js
  packages/mobile/routes/onboarding/views/profile-recovery/views/ImportMnemonicPhraseView.svelte
  packages/mobile/routes/onboarding/views/profile-recovery/views/SuccessView.svelte
  packages/mobile/routes/onboarding/views/profile-recovery/views/index.js
  packages/mobile/routes/onboarding/views/profile-setup/ProfileSetupRouter.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/SetupRecoveredView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/index.js
Labels: type:feature, platform:mobile, type:ui, stardust

#4789 feat: add custom asset sorting
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/components/filters/items/OrderFilterItem.svelte
  packages/shared/components/filters/items/index.js
  packages/shared/components/molecules/AssetList.svelte
  packages/shared/lib/core/account/actions/syncBalance.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/wallet/actions/activities/loadAssetsForAllAccounts.ts
  packages/shared/lib/core/wallet/actions/activities/setAsyncStatusOfAccountActivities.ts
  packages/shared/lib/core/wallet/actions/getAccountAssetsForSelectedAccount.ts
  packages/shared/lib/core/wallet/actions/getOrRequestAssetFromPersistedAssets.ts
  packages/shared/lib/core/wallet/actions/index.ts
  packages/shared/lib/core/wallet/actions/refreshAccountAssetsForActiveProfile.ts
  packages/shared/lib/core/wallet/actions/requestPersistedAsset.ts
  packages/shared/lib/core/wallet/enums/filters/asset-order-option.enum.ts
  packages/shared/lib/core/wallet/enums/filters/index.ts
  packages/shared/lib/core/wallet/enums/filters/order-option.enum.ts
  packages/shared/lib/core/wallet/interfaces/filter/filter-unit.interface.ts
  packages/shared/lib/core/wallet/interfaces/filter/filter.interface.ts
  packages/shared/lib/core/wallet/stores/persisted-assets.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/outputs/getTransactionActivityData.ts
  packages/shared/lib/core/wallet/utils/sortAssets.ts
  packages/shared/locales/en.json
Labels: type:enhancement, type:feature, context:wallet, stardust

#4881 fix: update vulnerable dependencies
  package.json
  packages/desktop/package.json
  yarn.lock
Labels: scope:security, platform:desktop

#4834 feat: add alias selection on minting
  packages/shared/components/atoms/buttons/MintNativeTokenButton.svelte
  packages/shared/components/inputs/AliasInput.svelte
  packages/shared/components/inputs/index.js
  packages/shared/components/modals/AliasSelector.svelte
  packages/shared/components/modals/index.js
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/MintNativeTokenConfirmationPopup.svelte
  packages/shared/components/popups/MintNativeTokenFormPopup.svelte
  packages/shared/lib/core/error/constants/wallet-rs-error-parameters.constant.ts
  packages/shared/lib/core/error/handlers/handleError.ts
  packages/shared/lib/core/error/handlers/walletRs/handleWalletRsError.ts
  packages/shared/lib/core/error/handlers/walletRs/subhandlers/handleIotaClientError.ts
  packages/shared/lib/core/error/handlers/walletRs/subhandlers/index.ts
  packages/shared/lib/core/wallet/interfaces/mint-token-details.interface.ts
  packages/shared/lib/core/wallet/stores/mint-token-details.store.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#4667 enhancement: hide pointless activities
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/lib/core/wallet/actions/activities/preprocessOutputsForAccount.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/interfaces/activity.interface.ts
  packages/shared/lib/core/wallet/interfaces/filter/filter.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/utils/isVisibleActivity.ts
  packages/shared/lib/core/wallet/utils/parseRawAmount.ts
  packages/shared/lib/core/wallet/utils/transactions/containsValue.ts
  packages/shared/lib/core/wallet/utils/transactions/index.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#4882 chore: merge `release/desktop-2.0.1-beta-1` into `stardust-develop`
  docs/retype.yml
  packages/desktop/package.json
  packages/shared/features/onboarding.features.ts
Labels: type:chore, stardust

#4883 feat: setup app and login router for mobile stardust
  packages/mobile/App.svelte
  packages/mobile/components/Route.svelte
  packages/mobile/components/index.js
  packages/mobile/lib/core/router/app-router.ts
  packages/mobile/lib/core/router/enums/app-route.enum.ts
  packages/mobile/lib/core/router/enums/index.ts
  packages/mobile/lib/core/router/enums/login-route.enum.ts
  packages/mobile/lib/core/router/helper.ts
  packages/mobile/lib/core/router/index.ts
  packages/mobile/lib/core/router/subrouters/index.ts
  packages/mobile/lib/core/router/subrouters/login-router.ts
  packages/mobile/routes/login/LoginRouter.svelte
  packages/mobile/routes/login/views/EnterPinView.svelte
  packages/mobile/routes/login/views/SelectProfileView.svelte
Labels: type:feature, platform:mobile, stardust

#4886 chore: deep link documentation for registering proposals
  docs/specifications/deep-links.md
  docs/static/register-proposal-popup.png
  docs/static/send-confirmation-popup.png
  docs/static/send-form-popup.png
Labels: type:documentation, stardust

#4884 enhancement: add nfts to activity list
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/atoms/tiles/tileContents/NftActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/TransactionActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/index.js
  packages/shared/components/molecules/NftDetails.svelte
  packages/shared/components/molecules/index.js
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/wallet/actions/activities/hideActivitiesForHiddenAssets.ts
  packages/shared/lib/core/wallet/actions/activities/loadAssetsForAllAccounts.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/enums/activity-type.enum.ts
  packages/shared/lib/core/wallet/interfaces/activity.interface.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/interfaces/nft-activity-data.interface.ts
  packages/shared/lib/core/wallet/interfaces/nft-metadata.interface.ts
  packages/shared/lib/core/wallet/interfaces/processed-transaction.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/types/index.ts
  packages/shared/lib/core/wallet/types/mime-type.type.ts
  packages/shared/lib/core/wallet/utils/getActivityType.ts
  packages/shared/lib/core/wallet/utils/isVisibleActivity.ts
  packages/shared/lib/core/wallet/utils/outputs/getAsyncDataFromOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/getNftActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/getTransactionActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/index.ts
  packages/shared/lib/core/wallet/utils/transactions/getNftOutputFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/index.ts
  packages/shared/locales/en.json
Labels: context:wallet, stardust, context:nfts

#4890 chore: remove kdbx
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/lib/kdbx.js
  packages/desktop/package.json
  packages/mobile/capacitor/capacitorApi.ts
  packages/shared/lib/contexts/onboarding/actions/setProfileRecoveryTypeFromFilename.ts
  packages/shared/lib/contexts/onboarding/constants/index.ts
  packages/shared/lib/contexts/onboarding/constants/seedvault-regex.constant.ts
  packages/shared/lib/contexts/onboarding/enums/profile-recovery-type.enum.ts
  packages/shared/lib/contexts/onboarding/utils/validateBackupFile.ts
  packages/shared/lib/tests/__mocks__/platform.mock.ts
  packages/shared/lib/typings/platform.ts
  packages/shared/locales/af.json
  packages/shared/locales/ar.json
  packages/shared/locales/bg.json
  packages/shared/locales/ca.json
  packages/shared/locales/cs.json
  packages/shared/locales/da.json
  packages/shared/locales/de.json
  packages/shared/locales/el.json
  packages/shared/locales/en.json
  packages/shared/locales/eo.json
  packages/shared/locales/es-ES.json
  packages/shared/locales/es-LA.json
  packages/shared/locales/et.json
  packages/shared/locales/fa.json
  packages/shared/locales/fi.json
  packages/shared/locales/fr.json
  packages/shared/locales/he.json
  packages/shared/locales/hi.json
  packages/shared/locales/hr.json
  packages/shared/locales/hu.json
  packages/shared/locales/id.json
  packages/shared/locales/it.json
  packages/shared/locales/ja.json
  packages/shared/locales/ko.json
  packages/shared/locales/ku.json
  packages/shared/locales/lv.json
  packages/shared/locales/mk.json
  packages/shared/locales/nl.json
  packages/shared/locales/no.json
  packages/shared/locales/pl.json
  packages/shared/locales/pt-BR.json
  packages/shared/locales/pt-PT.json
  packages/shared/locales/ro.json
  packages/shared/locales/ru.json
  packages/shared/locales/si.json
  packages/shared/locales/sk.json
  packages/shared/locales/sl.json
  packages/shared/locales/sq.json
  packages/shared/locales/sr.json
  packages/shared/locales/sv.json
  packages/shared/locales/tr.json
  packages/shared/locales/uk.json
  packages/shared/locales/ur.json
  packages/shared/locales/vi.json
  packages/shared/locales/zh-CN.json
  packages/shared/locales/zh-TW.json
  packages/shared/routes/onboarding/views/profile-recovery/ProfileRecoveryRouter.svelte
  packages/shared/routes/onboarding/views/profile-recovery/views/ImportStrongholdBackupView.svelte
  yarn.lock
Labels: type:chore, stardust

#4891 UI/split send button
  packages/shared/components/atoms/buttons/SendButton.svelte
  packages/shared/features/features.ts
  packages/shared/lib/core/account/actions/setSelectedAccount.ts
  packages/shared/lib/core/wallet/stores/index.ts
  packages/shared/lib/core/wallet/stores/selected-send-option.store.ts
  packages/shared/locales/en.json
Labels: context:wallet, type:ui, stardust

#4920 feat: setup dashboard router for mobile stardust
  packages/mobile/App.svelte
  packages/mobile/lib/core/router/dashboard-router.ts
  packages/mobile/lib/core/router/enums/dashboard-route.enum.ts
  packages/mobile/lib/core/router/enums/index.ts
  packages/mobile/routes/dashboard/DashboardRouter.svelte
  packages/mobile/routes/dashboard/index.js
  packages/mobile/routes/index.js
Labels: type:feature, platform:mobile, stardust

#4929 feat: setup routing for stardust mobile onboarding (signed)
  packages/mobile/App.svelte
  packages/mobile/lib/core/router/enums/index.ts
  packages/mobile/lib/core/router/enums/onboarding/app-setup-route.enum.ts
  packages/mobile/lib/core/router/enums/onboarding/index.ts
  packages/mobile/lib/core/router/enums/onboarding/network-setup-route.enum.ts
  packages/mobile/lib/core/router/enums/onboarding/onboarding-route.enum.ts
  packages/mobile/lib/core/router/enums/onboarding/profile-backup-route.enum.ts
  packages/mobile/lib/core/router/enums/onboarding/profile-recovery-route.enum.ts
  packages/mobile/lib/core/router/enums/onboarding/profile-setup-route.enum.ts
  packages/mobile/lib/core/router/enums/onboarding/storage-protection-setup-route.enum.ts
  packages/mobile/lib/core/router/enums/onboarding/stronghold-setup-route.enum.ts
  packages/mobile/lib/core/router/helper.ts
  packages/mobile/lib/core/router/index.ts
  packages/mobile/lib/core/router/onboarding-router.ts
  packages/mobile/lib/core/router/subrouters/index.ts
  packages/mobile/lib/core/router/subrouters/onboarding/app-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/index.ts
  packages/mobile/lib/core/router/subrouters/onboarding/network-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-backup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-recovery-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/storage-protection-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/stronghold-setup-router.ts
  packages/mobile/routes/onboarding/OnboardingRouter.svelte
  packages/mobile/routes/onboarding/views/CongratulationsView.svelte
  packages/mobile/routes/onboarding/views/app-setup/AppSetupRouter.svelte
  packages/mobile/routes/onboarding/views/app-setup/views/WelcomeView.svelte
  packages/mobile/routes/onboarding/views/network-setup/NetworkSetupRouter.svelte
  packages/mobile/routes/onboarding/views/network-setup/views/ChooseNetworkView.svelte
  packages/mobile/routes/onboarding/views/network-setup/views/ChooseProtocolView.svelte
  packages/mobile/routes/onboarding/views/profile-backup/ProfileBackupRouter.svelte
  packages/mobile/routes/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
  packages/mobile/routes/onboarding/views/profile-backup/views/ViewMnemonicView.svelte
  packages/mobile/routes/onboarding/views/profile-recovery/ProfileRecoveryRouter.svelte
  packages/mobile/routes/onboarding/views/profile-recovery/views/ImportMnemonicPhraseView.svelte
  packages/mobile/routes/onboarding/views/profile-recovery/views/SuccessView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/ProfileSetupRouter.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/EnterNameView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/SetupRecoveredView.svelte
  packages/mobile/routes/onboarding/views/profile-setup/views/SetupView.svelte
  packages/mobile/routes/onboarding/views/storage-protection-setup/StorageProtectionSetupRouter.svelte
  packages/mobile/routes/onboarding/views/storage-protection-setup/views/SetupPinProtectionView.svelte
  packages/mobile/routes/onboarding/views/stronghold-setup/StrongholdSetupRouter.svelte
  packages/mobile/routes/onboarding/views/stronghold-setup/views/SetupStrongholdPasswordView.svelte
Labels: type:feature, platform:mobile, stardust

#4903 fix: fix claimed tx on second profile
  packages/shared/lib/core/wallet/utils/outputs/getTransactionActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessGroupedOutputs.ts
  packages/shared/lib/core/wallet/utils/transactions/getSenderAddressFromInputs.ts
  packages/shared/lib/core/wallet/utils/transactions/index.ts
Labels: type:fix, context:wallet, stardust

#4931 chore: refactor selector input
  packages/shared/components/inputs/AliasInput.svelte
  packages/shared/components/inputs/RecipientInput.svelte
  packages/shared/components/molecules/SelectorInput.svelte
  packages/shared/components/molecules/index.js
Labels: type:chore

#4932 fix: remove unnecessary code in onboarding routes
  packages/mobile/lib/core/router/enums/onboarding/profile-recovery-route.enum.ts
  packages/mobile/lib/core/router/subrouters/onboarding/app-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-backup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-recovery-router.ts
Labels: type:fix, platform:mobile, stardust

#4904 release: 2.0.1
  packages/desktop/package.json
  packages/shared/components/molecules/FoundryDetails.svelte
  packages/shared/lib/core/wallet/tests/formatTokenAmountDefault.test.ts
  packages/shared/lib/core/wallet/utils/formatTokenAmountDefault.ts
Labels: type:hotfix

#4985 feat: add mobile wallet tab navigation
  packages/mobile/features/developer-tools.features.ts
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/wallet/constants/index.ts
  packages/mobile/lib/contexts/wallet/constants/initial-active-tab.constant.ts
  packages/mobile/lib/contexts/wallet/constants/wallet-tab-component.constant.ts
  packages/mobile/lib/contexts/wallet/enums/index.ts
  packages/mobile/lib/contexts/wallet/enums/wallet-tab.enum.ts
  packages/mobile/lib/contexts/wallet/index.ts
  packages/mobile/lib/contexts/wallet/stores/active-wallet-tab.store.ts
  packages/mobile/lib/contexts/wallet/stores/index.ts
  packages/mobile/routes/dashboard/DashboardRouter.svelte
  packages/mobile/routes/dashboard/wallet/tabs/ActivityTab.svelte
  packages/mobile/routes/dashboard/wallet/tabs/TabNavigator.svelte
  packages/mobile/routes/dashboard/wallet/tabs/TokensTab.svelte
  packages/mobile/routes/dashboard/wallet/tabs/index.js
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/activity.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/locales/en.json
Labels: platform:mobile, context:wallet, package:mobile, stardust

#4982 feat: network selector on send
  packages/shared/components/inputs/Input.svelte
  packages/shared/components/inputs/NetworkInput.svelte
  packages/shared/components/inputs/RecipientInput.svelte
  packages/shared/components/inputs/TextInput.svelte
  packages/shared/components/inputs/index.js
  packages/shared/components/modals/NetworkSelector.svelte
  packages/shared/components/modals/index.js
  packages/shared/components/molecules/SelectorInput.svelte
  packages/shared/components/popups/SendFormPopup.svelte
  packages/shared/lib/core/network/constants/index.ts
  packages/shared/lib/core/network/constants/network-address.constant.ts
  packages/shared/lib/core/network/enums/destination-network.enum.ts
  packages/shared/lib/core/network/enums/index.ts
  packages/shared/locales/en.json
Labels: type:feature, stardust

#4990 ui: dashboard header setup
  packages/mobile/components/AccountSwitcher.svelte
  packages/mobile/components/TopBar.svelte
  packages/mobile/components/buttons/AccountActionsButton.svelte
  packages/mobile/components/buttons/ProfileActionsButton.svelte
  packages/mobile/components/buttons/index.js
  packages/mobile/components/index.js
  packages/mobile/features/features.ts
  packages/mobile/routes/dashboard/DashboardRouter.svelte
Labels: platform:mobile, context:wallet, package:mobile, type:ui, stardust

#4995 feat: add mobile activity list
  packages/mobile/components/ActivityList.svelte
  packages/mobile/components/ActivityTile.svelte
  packages/mobile/components/index.js
  packages/mobile/features/features.ts
  packages/mobile/routes/dashboard/wallet/tabs/ActivityTab.svelte
Labels: platform:mobile, package:mobile, type:ui, stardust

#4998 feat: add mobile receive drawer
  packages/mobile/components/Drawer.svelte
  packages/mobile/components/index.js
  packages/mobile/features/features.ts
  packages/mobile/lib/core/router/dashboard-router.ts
  packages/mobile/lib/core/router/enums/dashboard-route.enum.ts
  packages/mobile/lib/core/router/helper.ts
  packages/mobile/routes/dashboard/DashboardRouter.svelte
  packages/mobile/routes/dashboard/wallet/drawers/ReceiveDrawer.svelte
  packages/mobile/routes/dashboard/wallet/drawers/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#4915 feat: send nft
  packages/shared/components/atoms/buttons/SendButton.svelte
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/inputs/NftInput.svelte
  packages/shared/components/inputs/NumberInput.svelte
  packages/shared/components/inputs/index.js
  packages/shared/components/modals/NftSelector.svelte
  packages/shared/components/modals/index.js
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/AliasConfirmationPopup.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/send/SendConfirmationPopup.svelte
  packages/shared/components/popups/send/SendFormPopup.svelte
  packages/shared/components/popups/send/SendNftConfirmationPopup.svelte
  packages/shared/components/popups/send/SendNftFormPopup.svelte
  packages/shared/components/popups/send/index.js
  packages/shared/features/features.ts
  packages/shared/lib/core/error/constants/error-regex.constant.ts
  packages/shared/lib/core/error/constants/wallet-rs-error-parameters.constant.ts
  packages/shared/lib/core/error/enums/index.ts
  packages/shared/lib/core/error/enums/iota-client-error.enum.ts
  packages/shared/lib/core/error/handlers/walletRs/subhandlers/handleIotaClientError.ts
  packages/shared/lib/core/wallet/actions/index.ts
  packages/shared/lib/core/wallet/actions/sendNft.ts
  packages/shared/lib/core/wallet/constants/empty-hex-id.constants.ts
  packages/shared/lib/core/wallet/constants/index.ts
  packages/shared/lib/core/wallet/constants/new-alias-id.constants.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/interfaces/new-nft-transaction-details.interface.ts
  packages/shared/lib/core/wallet/interfaces/nft-activity-data.interface.ts
  packages/shared/lib/core/wallet/stores/index.ts
  packages/shared/lib/core/wallet/stores/new-nft-transaction-details.store.ts
  packages/shared/lib/core/wallet/utils/buildNftOutputData.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/lib/core/wallet/utils/outputs/getAliasActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/getNftActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/getRecipientAddressFromOutput.ts
  packages/shared/lib/core/wallet/utils/transactions/getSenderFromTransaction.ts
  packages/shared/locales/en.json
Labels: type:feature, context:wallet, stardust

#5000 enhancement: add storage deposit to native token minting
  packages/shared/components/atoms/buttons/MintNativeTokenButton.svelte
  packages/shared/components/atoms/buttons/MintNftButton.svelte
  packages/shared/components/inputs/AliasInput.svelte
  packages/shared/components/popups/MintNativeTokenConfirmationPopup.svelte
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/utils/buildFoundryOutputData.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#5004 feat: setup account switcher for stardust mobile
  packages/mobile/components/Drawer.svelte
  packages/mobile/components/TopBar.svelte
  packages/mobile/components/buttons/AccountSwitcherButton.svelte
  packages/mobile/components/buttons/index.js
  packages/mobile/components/index.js
  packages/mobile/components/molecules/index.js
  packages/mobile/components/molecules/menu-items/AccountSwitcherMenuItem.svelte
  packages/mobile/components/molecules/menu-items/index.js
  packages/mobile/features/features.ts
  packages/mobile/lib/core/router/enums/dashboard-route.enum.ts
  packages/mobile/routes/dashboard/DashboardRouter.svelte
  packages/mobile/routes/dashboard/wallet/drawers/AccountSwitcherDrawer.svelte
  packages/mobile/routes/dashboard/wallet/drawers/index.js
Labels: platform:mobile, context:wallet, package:mobile, type:ui, stardust

#5011 refactor: remove `shell` folder
  packages/desktop/App.svelte
  packages/desktop/electron/electronApi.js
  packages/mobile/App.svelte
  packages/mobile/capacitor/capacitorApi.ts
  packages/shared/lib/core/error/stores/error-log.store.ts
  packages/shared/lib/shell/errorLogger.ts
  packages/shared/lib/tests/__mocks__/platform.mock.ts
  packages/shared/lib/typings/platform.ts
Labels: type:refactor, stardust

#5012 feat: prepare mobile send router and views
  packages/mobile/components/Drawer.svelte
  packages/mobile/lib/core/router/enums/dashboard-route.enum.ts
  packages/mobile/lib/core/router/enums/index.ts
  packages/mobile/lib/core/router/enums/send-route.enum.ts
  packages/mobile/lib/core/router/helper.ts
  packages/mobile/lib/core/router/subrouters/index.ts
  packages/mobile/lib/core/router/subrouters/login-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/app-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/network-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-backup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-recovery-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/profile-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/storage-protection-setup-router.ts
  packages/mobile/lib/core/router/subrouters/onboarding/stronghold-setup-router.ts
  packages/mobile/lib/core/router/subrouters/send-router.ts
  packages/mobile/lib/core/router/subrouters/subrouter.ts
  packages/mobile/lib/core/router/types/parent-routers.type.ts
  packages/mobile/routes/dashboard/DashboardRouter.svelte
  packages/mobile/routes/dashboard/wallet/drawers/index.js
  packages/mobile/routes/dashboard/wallet/drawers/send/SendDrawer.svelte
  packages/mobile/routes/dashboard/wallet/drawers/send/index.js
  packages/mobile/routes/dashboard/wallet/drawers/send/views/Token.svelte
  packages/mobile/routes/dashboard/wallet/drawers/send/views/index.js
Labels: type:feature, platform:mobile, context:wallet, package:mobile, stardust

#5009 refactor: `units` submodule
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/UnitInput.svelte
  packages/shared/lib/auxiliary/deep-link/types/wallet-context.type.ts
  packages/shared/lib/core/utils/constants/index.ts
  packages/shared/lib/core/utils/constants/iota-unit-map.constant.ts
  packages/shared/lib/core/utils/constants/max-number-of-iotas.constant.ts
  packages/shared/lib/core/utils/enums/index.ts
  packages/shared/lib/core/utils/enums/iota-unit.enum.ts
  packages/shared/lib/core/utils/format.utils.ts
  packages/shared/lib/core/utils/index.ts
  packages/shared/lib/core/utils/types/index.ts
  packages/shared/lib/core/utils/types/iota-unit-map.type.ts
  packages/shared/lib/core/utils/types/values-of.type.ts
  packages/shared/lib/core/utils/unit.utils.ts
  packages/shared/lib/core/wallet/utils/convertToRawAmount.ts
  packages/shared/lib/core/wallet/utils/formatTokenAmountBestMatch.ts
  packages/shared/lib/currency.ts
  packages/shared/lib/transactionHistory.ts
  packages/shared/lib/typings/index.ts
  packages/shared/lib/units.ts
Labels: type:refactor, stardust

#5024 feat: add mobile send token & recipient (with address) views
  packages/mobile/components/AssetList.svelte
  packages/mobile/components/index.js
  packages/mobile/components/inputs/RecipientInput.svelte
  packages/mobile/components/inputs/index.js
  packages/mobile/lib/routers/subrouters/send-router.ts
  packages/mobile/views/dashboard/drawers/send/SendDrawer.svelte
  packages/mobile/views/dashboard/drawers/send/SendRouter.svelte
  packages/mobile/views/dashboard/drawers/send/views/AmountView.svelte
  packages/mobile/views/dashboard/drawers/send/views/RecipientView.svelte
  packages/mobile/views/dashboard/drawers/send/views/Token.svelte
  packages/mobile/views/dashboard/drawers/send/views/TokenView.svelte
  packages/mobile/views/dashboard/drawers/send/views/index.js
  packages/shared/locales/en.json
Labels: type:feature, platform:mobile, context:wallet, package:mobile, type:ui, stardust

#5042 refactor: path aliases for components
  packages/desktop/App.svelte
  packages/desktop/components/SidebarTab.svelte
  packages/desktop/tsconfig.json
  packages/desktop/views/dashboard/Sidebar.svelte
  packages/desktop/webpack.config.js
  packages/mobile/App.svelte
  packages/mobile/tsconfig.json
  packages/mobile/webpack.config.js
Labels: type:refactor, stardust

#5037 fix: update explorer url
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
Labels: type:fix, context:wallet, stardust

#4923 enhancement: generic tag and metadata
  packages/shared/components/inputs/Amount.svelte
  packages/shared/components/inputs/KeyValue.svelte
  packages/shared/lib/utils.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/wallet/views/Send.svelte
Labels: desktop-1.7.0
