Repository iotaledger/firefly, pull requests merged in 2022-03, with the labels that each got.

#2452 fix: capacitor binding yarn issue affecting Windows
  packages/backend/bindings/capacitor/package.json
  packages/backend/bindings/capacitor/scripts/build.js
Labels: os:windows, type:fix, package:backend, platform:mobile

#2448 fix: only show merge buttons if necessary
  packages/shared/components/popups/GovernanceCastVote.svelte
Labels: type:fix, context:voting

#2458 fix: Transaction.svelte crash
  packages/shared/components/popups/Transaction.svelte
Labels: context:voting

#2470 fix: capacitor bindings not building
  packages/backend/bindings/capacitor/package.json
  packages/backend/bindings/capacitor/scripts/build.js
Labels: os:windows, os:mac, os:linux, type:fix, package:backend, platform:desktop

#2455 feat: adds voting ledger UI components
  packages/shared/lib/wallet.ts
  packages/shared/routes/dashboard/governance/views/GovernanceEventDetails.svelte
  packages/shared/routes/dashboard/staking/Staking.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
Labels: context:voting

#2336 chore: iOS XCode project config
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/java/com/iota/wallet/MainActivity.java
  packages/mobile/android/app/src/main/res/values/strings.xml
  packages/mobile/android/app/src/main/res/xml/config.xml
  packages/mobile/capacitor-sample.config.ts
  packages/mobile/ios/App/App.xcodeproj/project.pbxproj
  packages/mobile/ios/App/App/config.xml
Labels: type:chore, platform:mobile

#2478 fix: transaction crash
  packages/shared/components/popups/Transaction.svelte
Labels: context:voting

#2481 fix: lib module path aliases
  packages/desktop/tsconfig.json
Labels: type:fix, package:desktop

#2468 fix: click max fiat
  packages/shared/components/inputs/Dropdown.svelte
  packages/shared/lib/app.ts
  packages/shared/lib/typings/app.ts
  packages/shared/lib/typings/sendParams.ts
  packages/shared/lib/typings/wallet.ts
  packages/shared/routes/dashboard/wallet/views/Send.svelte
Labels: type:fix, context:wallet, platform:desktop

#2497 chore: Update `node-abi` to 3.8.0
  package.json
  yarn.lock
Labels: scope:dependencies, type:chore, package:desktop

#2493 chore: Add missing deps to Podfile and check in Podfile.lock
  packages/mobile/ios/.gitignore
  packages/mobile/ios/App/Podfile
  packages/mobile/ios/App/Podfile.lock
Labels: type:chore, package:mobile

#2507 feat: move stronghold status and action to profile modal
  packages/shared/components/modals/ProfileActions.svelte
  packages/shared/locales/en.json
Labels: context:wallet

#2496 enhancement: Disable auto-updater on prereleases
  packages/desktop/App.svelte
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/lib/appUpdater.js
  packages/desktop/electron/lib/menu.js
  packages/desktop/electron/main.js
  packages/shared/components/popups/Version.svelte
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/wallet/views/Security.svelte
Labels: type:enhancement, package:desktop

#2516 chore: Add export compliance info to Info.plist
  packages/mobile/ios/App/App/Info.plist
Labels: type:chore, os:ios, package:mobile

#2461 Fix: Mobile Sentry
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/setup/Profile.svelte
Labels: type:fix, package:desktop, package:mobile

#2515 feat: move ledger HW state & refresh to profile modal
  packages/shared/components/modals/ProfileActions.svelte
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/wallet/views/Security.svelte
  packages/shared/routes/dashboard/wallet/views/index.js
Labels: context:wallet

#2520 feat: move backup to profile modal
  packages/shared/components/Button.svelte
  packages/shared/components/modals/ProfileActions.svelte
  packages/shared/locales/en.json
Labels: context:wallet

#2521 feat: move update to profile modal
  packages/shared/components/modals/ProfileActions.svelte
  packages/shared/locales/en.json
Labels: context:wallet

#2495 Fix Mobile Plugin Capacitor Bindings iOS build production
  packages/backend/bindings/capacitor/FireflyActorSystemCapacitorBindings.podspec
  packages/mobile/ios/App/App/Info.plist
Labels: os:ios, type:fix, platform:mobile

#2536 fix: Prevent barcode scanner from turning on at launch
  packages/mobile/capacitor/lib/barcodeManager.ts
Labels: type:fix, package:mobile

#2517 chore: Automatically add iOS internal bindings as dependency
  packages/mobile/ios/App/Podfile
  packages/mobile/ios/App/Podfile.lock
Labels: type:chore, os:ios, package:mobile

#2472 fix: cross platform dependency leaks
  packages/mobile/capacitor/capacitorApi.ts
  packages/mobile/main.js
  packages/mobile/tsconfig.json
  packages/mobile/webpack.config.js
  packages/shared/lib/platform.ts
  packages/shared/lib/typings/chart.ts
Labels: type:fix, platform:mobile, platform:desktop

#2502 Feat Add Mobile Application Icons
  packages/mobile/.gitignore
  packages/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
  packages/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
  packages/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
  packages/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
  packages/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  packages/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  packages/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
  packages/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  packages/mobile/icons/alpha.png
  packages/mobile/icons/beta.png
  packages/mobile/icons/icongen.sh
  packages/mobile/icons/prod.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@1x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x-1.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@2x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-20x20@3x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@1x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x-1.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@2x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-29x29@3x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@1x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x-1.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@2x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-40x40@3x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@2x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-60x60@3x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@1x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-76x76@2x.png
  packages/mobile/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-83.5x83.5@2x.png
  packages/mobile/package.json
  yarn.lock
Labels: type:feature, type:chore, platform:mobile

#2482 refactor: common `deep-links` module
  packages/mobile/capacitor/lib/deepLinkManager.ts
  packages/shared/jest.config.js
  packages/shared/lib/common/deep-links/deep-link-handler.ts
  packages/shared/lib/common/deep-links/enums/deep-link-context.enum.ts
  packages/shared/lib/common/deep-links/enums/index.ts
  packages/shared/lib/common/deep-links/enums/wallet-context.enum.ts
  packages/shared/lib/common/deep-links/index.ts
  packages/shared/lib/common/deep-links/interfaces/deep-link-manager.interface.ts
  packages/shared/lib/common/deep-links/interfaces/index.ts
  packages/shared/lib/common/deep-links/stores/deep-link-request.store.ts
  packages/shared/lib/common/deep-links/stores/index.ts
  packages/shared/lib/common/deep-links/types/deep-link-request.type.ts
  packages/shared/lib/common/deep-links/types/index.ts
  packages/shared/lib/common/deep-links/types/wallet-context.type.ts
  packages/shared/lib/common/deep-links/wallet-context-handler.ts
  packages/shared/lib/common/index.ts
  packages/shared/lib/router.ts
  packages/shared/lib/typings/deepLinking/deepLinking.ts
  packages/shared/lib/typings/deepLinking/walletContext.ts
  packages/shared/lib/typings/platform.ts
  packages/shared/routes/dashboard/Dashboard.svelte
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/tsconfig.test.json
Labels: type:refactor

#2535 refactor: backend path alias support
  packages/backend/bindings/node/index.ts
  packages/backend/bindings/node/package.json
  packages/backend/bindings/node/tsconfig.build.json
  packages/backend/bindings/node/tsconfig.json
  packages/desktop/tsconfig.json
Labels: type:chore

#2463 fix: mobile Android project folder
  packages/mobile/android/.gitignore
  packages/mobile/android/app/.gitignore
  packages/mobile/android/app/build.gradle
  packages/mobile/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/android/app/src/main/res/values/strings.xml
  packages/mobile/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
  packages/mobile/android/build.gradle
  packages/mobile/android/gradle/wrapper/gradle-wrapper.jar
  packages/mobile/android/gradle/wrapper/gradle-wrapper.properties
  packages/mobile/android/gradlew
  packages/mobile/android/gradlew.bat
  packages/mobile/android/variables.gradle
  packages/mobile/package.json
  yarn.lock
Labels: type:fix, package:mobile

#2534 feat: mobile add launch screen
  packages/mobile/App.svelte
  packages/mobile/android/app/src/main/res/drawable-port-hdpi/splash.png
  packages/mobile/android/app/src/main/res/drawable-port-mdpi/splash.png
  packages/mobile/android/app/src/main/res/drawable-port-xhdpi/splash.png
  packages/mobile/android/app/src/main/res/drawable-port-xxhdpi/splash.png
  packages/mobile/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
  packages/mobile/android/app/src/main/res/drawable/splash.png
  packages/mobile/capacitor-sample.config.ts
  packages/mobile/capacitor/assets/alpha.png
  packages/mobile/capacitor/assets/assetgen.sh
  packages/mobile/capacitor/assets/beta.png
  packages/mobile/capacitor/assets/prod.png
  packages/mobile/capacitor/capacitorApi.ts
  packages/mobile/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
  packages/mobile/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
  packages/mobile/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
  packages/mobile/ios/App/Podfile
  packages/mobile/ios/App/Podfile.lock
  packages/mobile/package.json
  packages/mobile/public/assets/docs/recovery-kit.pdf
  packages/mobile/webpack.config.js
  yarn.lock
Labels: type:feature, platform:mobile

#2332 feat: add Capacitor privacy screen
  packages/mobile/capacitor-sample.config.ts
  packages/mobile/ios/App/Podfile
  packages/mobile/ios/App/Podfile.lock
  packages/mobile/package.json
  yarn.lock
Labels: type:feature, platform:mobile

#2519 fix: mobile Android input event
  packages/shared/components/inputs/Pin.svelte
  packages/shared/lib/typings/platform.ts
Labels: type:fix, platform:mobile

#2569 chore: align Sentry configs with new project setup
  .github/workflows/build-desktop.yml
  packages/backend/src/lib.rs
  packages/desktop/sentry.js
  packages/desktop/webpack.config.js
Labels: type:chore, package:backend, package:desktop

#2591 feat: convert mobile popups into drawers
  packages/shared/components/Drawer.svelte
  packages/shared/components/popups/AddNode.svelte
  packages/shared/components/popups/AddressHistory.svelte
  packages/shared/components/popups/Backup.svelte
  packages/shared/components/popups/DeleteProfile.svelte
  packages/shared/components/popups/ErrorLog.svelte
  packages/shared/components/popups/HideAccount.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/LedgerMigrateIndex.svelte
  packages/shared/components/popups/MissingBundle.svelte
  packages/shared/components/popups/Password.svelte
  packages/shared/components/popups/RemoveNode.svelte
  packages/shared/components/popups/RiskFunds.svelte
  packages/shared/components/popups/SwitchNetwork.svelte
  packages/shared/components/popups/Version.svelte
Labels: type:feature, platform:mobile

#2574 chore: update mobile readme
  packages/mobile/README.md
Labels: type:chore, platform:mobile

#2603 feat: rewards per account and staking warnings
  packages/shared/components/AssetTile.svelte
  packages/shared/components/StakingAssetTile.svelte
  packages/shared/components/index.js
  packages/shared/lib/participation/staking.ts
  packages/shared/lib/participation/stores.ts
  packages/shared/routes/dashboard/staking/views/StakingAirdrop.svelte
  packages/shared/routes/dashboard/wallet/views/AccountAssets.svelte
Labels: context:wallet

#2627 fix: create wallet UI
  packages/shared/components/popups/CreateAccount.svelte
  packages/shared/components/popups/Index.svelte
Labels: context:wallet

#2631 chore: update bug report form
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: type:chore

#2296 feat: separate alpha, beta and production builds
  .github/workflows/build-desktop.yml
  packages/backend/src/lib.rs
  packages/desktop/.sentrycliignore
  packages/desktop/App.svelte
  packages/desktop/electron-builder-config.js
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/lib/aboutPreload.js
  packages/desktop/electron/lib/appUpdater.js
  packages/desktop/electron/lib/keychain.js
  packages/desktop/electron/lib/menu.js
  packages/desktop/electron/main.js
  packages/desktop/package.json
  packages/desktop/public/assets/icons/alpha/icon1024x1024.png
  packages/desktop/public/assets/icons/beta/icon1024x1024.png
  packages/desktop/public/assets/icons/linux/icon256x256.png
  packages/desktop/public/assets/icons/mac/icon.icns
  packages/desktop/public/assets/icons/prod/icon1024x1024.png
  packages/desktop/public/assets/icons/win/icon.ico
  packages/desktop/public/index.html
  packages/desktop/scripts/fix-productName.js
  packages/desktop/scripts/notarize.macos.js
  packages/desktop/webpack.config.js
  packages/mobile/App.svelte
  packages/mobile/webpack.config.js
  packages/shared/assets/logos/darkmode/alpha_firefly_logo.svg
  packages/shared/assets/logos/darkmode/beta_firefly_logo.svg
  packages/shared/assets/logos/darkmode/chrysalis_gem.svg
  packages/shared/assets/logos/darkmode/firefly_logo_full.svg
  packages/shared/assets/logos/darkmode/prod_firefly_logo.svg
  packages/shared/assets/logos/darkmode/stronghold.svg
  packages/shared/assets/logos/firefly_logo.svg
  packages/shared/assets/logos/lightmode/alpha_firefly_logo.svg
  packages/shared/assets/logos/lightmode/beta_firefly_logo.svg
  packages/shared/assets/logos/lightmode/chrysalis_gem.svg
  packages/shared/assets/logos/lightmode/firefly_logo_full.svg
  packages/shared/assets/logos/lightmode/prod_firefly_logo.svg
  packages/shared/assets/logos/lightmode/stronghold.svg
  packages/shared/components/Logo.svelte
  packages/shared/components/Toast.svelte
  packages/shared/components/popups/Version.svelte
  packages/shared/lib/app.ts
  packages/shared/lib/typings/stage.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/wallet/views/Security.svelte
  packages/shared/routes/setup/Profile.svelte
Labels: type:feature

#2654 fix: improve wording for theme settings hint
  packages/shared/locales/en.json
Labels: type:fix

#2662 fix: add missing get import to App.svelte
  packages/desktop/App.svelte
Labels: type:fix, package:desktop

#2684 fix: minimum rewards popup warning
  packages/shared/components/popups/Transaction.svelte
Labels: type:fix

#2691 chore: revert staking event IDs
  packages/backend/Cargo.lock
  packages/backend/Cargo.toml
  packages/backend/bindings/node/native/Cargo.lock
  packages/shared/lib/participation/constants.ts
Labels: type:chore

#2663 chore: update wallet.rs to fix missing addresses
  packages/backend/Cargo.lock
  packages/backend/Cargo.toml
  packages/backend/bindings/node/native/Cargo.lock
Labels: type:chore, type:fix, context:wallet

#2693 fix: cancel any requests to select a Bluetooth device
  .snyk
  packages/desktop/electron/main.js
Labels: scope:security, type:fix, package:desktop

#2695 chore: update wallet.rs to fix missing addresses
  packages/backend/Cargo.lock
  packages/backend/Cargo.toml
  packages/backend/bindings/node/native/Cargo.lock
Labels: type:chore, type:fix, package:backend

#2694 chore: update selfsigned to 2.0.1
  package.json
  yarn.lock
Labels: scope:dependencies, type:chore

#2365 chore: update `webpack-dev-server` to 3.11.3
  packages/desktop/package.json
  packages/mobile/package.json
  yarn.lock
Labels: scope:dependencies, type:chore, package:desktop, package:mobile

#2706 chore: remove "Embed Frameworks" phase of wallet iOS bindings
  packages/mobile/ios/App/Podfile
  packages/mobile/ios/App/Podfile.lock
Labels: os:ios, package:mobile
