Repository iotaledger/firefly, pull requests merged in 2022-08, with the labels that each got.

#4105 fix: german decimal comma on send
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/popups/SendFormPopup.svelte
Labels: type:fix, context:wallet, stardust

#4106 fix: claimed activities still claimable
  packages/shared/lib/core/wallet/actions/linkActivityAndClaimingTransaction.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/interfaces/activity.interface.ts
Labels: type:fix, context:wallet, stardust

#4136 enhancement: improve asset dropdown
  packages/shared/components/atoms/tiles/AssetTile.svelte
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/AssetDropdown.svelte
Labels: type:enhancement, context:wallet, stardust

#4138 fix: update desktop `package.json` file
  packages/desktop/package.json
Labels: type:fix

#4026 feat: adds dismissing to toast notification
  packages/shared/components/Drawer.svelte
  packages/shared/components/Swiper.svelte
  packages/shared/components/Toast.svelte
  packages/shared/components/ToastContainer.svelte
  packages/shared/components/index.js
  packages/shared/lib/actions.ts
Labels: type:feature, platform:mobile, package:shared

#4103 fix: fix sub unit selection
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/SendConfirmationPopup.svelte
  packages/shared/components/popups/SendFormPopup.svelte
Labels: type:fix, context:wallet, stardust

#4145 fix: ordering of activity list grouping
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
Labels: type:fix, context:wallet, stardust

#4094 ui: create filter component
  packages/shared/components/filters/Filter.svelte
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/components/filters/index.js
  packages/shared/components/index.js
  packages/shared/components/inputs/Checkbox.svelte
  packages/shared/components/inputs/TogglableButton.svelte
  packages/shared/components/modals/AssetActionsMenu.svelte
  packages/shared/components/modals/FilterModal.svelte
  packages/shared/components/modals/index.js
  packages/shared/components/molecules/AssetList.svelte
  packages/shared/components/organisms/AccountActivity.svelte
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/filter.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/auxiliary/icon/svgs/search.svg.ts
  packages/shared/lib/core/wallet/actions/getAccountAssetsForSelectedAccount.ts
  packages/shared/lib/core/wallet/interfaces/filter.interface.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/isFilteredActivity.ts
  packages/shared/lib/core/wallet/utils/isFilteredAsset.ts
  packages/shared/lib/utils.ts
  packages/shared/locales/en.json
Labels: context:wallet, type:ui, stardust

#4150 enhancement: gift storage deposit
  packages/shared/components/inputs/Toggle.svelte
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/popups/SendConfirmationPopup.svelte
  packages/shared/lib/auxiliary/deep-link/enums/send-operation-parameter.enum.ts
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendOperation.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/interfaces/send-form-parameters.interface.ts
  packages/shared/lib/core/wallet/utils/getOutputOptions.ts
  packages/shared/lib/core/wallet/utils/outputs/calculateStoragetDepositFromOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/getStorageDepositFromOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/index.ts
  packages/shared/lib/core/wallet/utils/send/validateSendConfirmation.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#4149 enhancement: create selection filter
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/components/inputs/Dropdown.svelte
  packages/shared/components/modals/FilterModal.svelte
  packages/shared/lib/core/utils/index.ts
  packages/shared/lib/core/utils/types/dropdown.interface.ts
  packages/shared/lib/core/utils/types/index.ts
  packages/shared/lib/core/wallet/interfaces/filter.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/isFilteredAsset.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/settings/views/general/Currency.svelte
  packages/shared/routes/dashboard/settings/views/general/Language.svelte
  packages/shared/routes/dashboard/settings/views/security/AppLock.svelte
  packages/shared/routes/onboarding/LanguageAndAppearanceView.svelte
Labels: type:enhancement, context:wallet, stardust

#4160 enhancement: status and type filter
  packages/shared/lib/core/wallet/interfaces/filter.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/utils/isFilteredActivity.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#4158 enhancement: amount filter
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/arrow-right.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/core/wallet/interfaces/filter.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/isFilteredActivity.ts
  packages/shared/locales/en.json
Labels: type:fix, context:wallet, stardust

#4159 fix: login issue client missing node
  packages/shared/routes/dashboard/settings/views/advanced/NetworkConfiguration.svelte
  packages/shared/routes/login/views/EnterPinView.svelte
Labels: type:fix, context:settings, stardust

#4164 ui: fix padding on asset list
  packages/shared/components/molecules/AssetList.svelte
  packages/shared/components/organisms/AccountActivity.svelte
Labels: context:wallet, type:ui, stardust

#4169 chore: merge desktop 2.0.0 alpha/beta 3 into `stardust-develop`
  packages/desktop/package.json
Labels: type:chore, stardust

#4168 release: mobile beta 0.1.0(22)
  packages/mobile/android/app/build.gradle
  packages/mobile/ios/App/App.xcodeproj/project.pbxproj
Labels: package:mobile

#4176 fix: `modal.open` crash in recipient input on single wallet profiles
  packages/shared/components/inputs/RecipientInput.svelte
Labels: type:fix, stardust

#3774 feature: add capacitor keyboard plugin
  packages/mobile/App.svelte
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/capacitor.config.ts
  packages/mobile/capacitor/capacitorApi.ts
  packages/mobile/package.json
  packages/shared/lib/app.ts
  packages/shared/lib/tests/mocks/platform.ts
  packages/shared/lib/typings/keyboard.ts
  packages/shared/lib/typings/platform.ts
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  yarn.lock
Labels: type:feature, platform:mobile

#4177 enhancement: add show rejected filter
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/lib/core/wallet/actions/index.ts
  packages/shared/lib/core/wallet/actions/rejectActivity.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/interfaces/activity.interface.ts
  packages/shared/lib/core/wallet/interfaces/filter.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/isFilteredActivity.ts
  packages/shared/lib/core/wallet/utils/isFilteredAsset.ts
  packages/shared/locales/en.json
Labels: type:enhancement, type:refactor, context:wallet, stardust

#4183 fix: fix tokeninfo after hiding token
  packages/shared/components/modals/AssetActionsMenu.svelte
Labels: type:fix, context:wallet, stardust

#4186 enhancement: add asset filter
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/components/inputs/AssetDropdown.svelte
  packages/shared/components/inputs/Dropdown.svelte
  packages/shared/components/molecules/AssetList.svelte
  packages/shared/components/organisms/AccountActivity.svelte
  packages/shared/components/popups/TokenInformationPopup.svelte
  packages/shared/lib/core/wallet/actions/getAccountAssetsForSelectedAccount.ts
  packages/shared/lib/core/wallet/interfaces/filter.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/isFilteredActivity.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#4144 fix: mobile drawers and popups `hideClose`
  packages/mobile/App.svelte
  packages/shared/components/Drawer.svelte
  packages/shared/lib/actions.ts
  packages/shared/lib/core/router/backbutton-history.ts
  packages/shared/lib/core/router/router.ts
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/login/views/SelectProfile.svelte
  packages/shared/routes/setup/Welcome.svelte
Labels: type:fix, platform:mobile

#4194 refactor: network configuration settings
  packages/shared/components/atoms/MenuItem.svelte
  packages/shared/components/atoms/buttons/AccountActionsButton.svelte
  packages/shared/components/atoms/buttons/AssetActionsButton.svelte
  packages/shared/components/atoms/buttons/NodeActionsButton.svelte
  packages/shared/components/atoms/buttons/index.js
  packages/shared/components/atoms/iconButtons/MeatballMenuButton.svelte
  packages/shared/components/atoms/iconButtons/index.js
  packages/shared/components/inputs/TogglableButton.svelte
  packages/shared/components/modals/Modal.svelte
  packages/shared/components/modals/NodeActionsMenu.svelte
  packages/shared/components/modals/index.js
  packages/shared/components/organisms/NodeConfigOptions.svelte
  packages/shared/components/organisms/NodeListTable.svelte
  packages/shared/components/organisms/index.js
  packages/shared/components/popups/AddNodePopup.svelte
  packages/shared/components/popups/Diagnostics.svelte
  packages/shared/lib/core/network/actions/addNodeToClientOptions.ts
  packages/shared/lib/core/network/actions/addOfficialNodesToClientOptions.ts
  packages/shared/lib/core/network/actions/editNodeInClientOptions.ts
  packages/shared/lib/core/network/actions/index.ts
  packages/shared/lib/core/network/actions/removeNodeFromClientOptions.ts
  packages/shared/lib/core/network/actions/toggleDisabledNodeInClientOptions.ts
  packages/shared/lib/core/network/actions/toggleLocalPowInClientOptions.ts
  packages/shared/lib/core/network/actions/togglePrimaryNodeInClientOptions.ts
  packages/shared/lib/core/network/actions/updateClientOptions.ts
  packages/shared/lib/core/network/helpers/buildClientOptions.ts
  packages/shared/lib/core/network/helpers/index.ts
  packages/shared/lib/core/network/interfaces/client-options.interface.ts
  packages/shared/lib/core/network/tests/network.test.ts
  packages/shared/lib/core/network/utils/buildNode.ts
  packages/shared/lib/core/network/utils/ensureSinglePrimaryNode.ts
  packages/shared/lib/core/network/utils/getDefaultClientOptions.ts
  packages/shared/lib/core/network/utils/getNodeCandidates.ts
  packages/shared/lib/core/network/utils/index.ts
  packages/shared/lib/core/network/utils/isAuthValid.ts
  packages/shared/lib/core/network/utils/setRandomPrimaryNode.ts
  packages/shared/lib/core/network/utils/validateAndCleanNodeData.ts
  packages/shared/lib/core/profile/actions/active-profile/addNodeToActiveProfile.ts
  packages/shared/lib/core/profile/actions/active-profile/index.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/settings/views/advanced/NetworkConfiguration.svelte
Labels: type:refactor, context:settings, stardust

#4192 feat: implement export Stronghold with Android Sharesheet
  packages/mobile/capacitor/plugins/secure-filesystem-access/android/src/main/java/org/iota/plugins/securefilesystemaccess/SecureFilesystemAccessPlugin.java
Labels: type:feature, platform:mobile

#4196 fix: add missing conditional chaining
  packages/shared/components/AccountNavigation.svelte
  packages/shared/components/MainMenu.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/lib/core/router/router.ts
  packages/shared/lib/profile.ts
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/login/views/SelectProfile.svelte
  packages/shared/routes/setup/Welcome.svelte
Labels: type:fix

#4210 enhancement: adjust onboarding locales
  packages/shared/components/inputs/ImportTextfield.svelte
  packages/shared/lib/core/router/enums/onboarding/network-setup-route.enum.ts
  packages/shared/lib/core/router/enums/onboarding/profile-recovery-route.enum.ts
  packages/shared/lib/core/router/subrouters/onboarding/network-setup-router.ts
  packages/shared/lib/core/router/subrouters/onboarding/profile-recovery-router.ts
  packages/shared/locales/en.json
  packages/shared/routes/onboarding/views/CongratulationsView.svelte
  packages/shared/routes/onboarding/views/app-setup/views/LanguageAndAppearanceView.svelte
  packages/shared/routes/onboarding/views/app-setup/views/LegalView.svelte
  packages/shared/routes/onboarding/views/app-setup/views/WelcomeView.svelte
  packages/shared/routes/onboarding/views/network-setup/NetworkSetupRouter.svelte
  packages/shared/routes/onboarding/views/network-setup/views/ChooseNetworkView.svelte
  packages/shared/routes/onboarding/views/network-setup/views/ChooseProtocolView.svelte
  packages/shared/routes/onboarding/views/network-setup/views/SetupPrivateNetworkConnectionView.svelte
  packages/shared/routes/onboarding/views/network-setup/views/index.js
  packages/shared/routes/onboarding/views/profile-backup/views/BackupMnemonic.svelte
  packages/shared/routes/onboarding/views/profile-backup/views/BackupStronghold.svelte
  packages/shared/routes/onboarding/views/profile-backup/views/VerifyMnemonic.svelte
  packages/shared/routes/onboarding/views/profile-backup/views/ViewMnemonic.svelte
  packages/shared/routes/onboarding/views/profile-recovery/ProfileRecoveryRouter.svelte
  packages/shared/routes/onboarding/views/profile-recovery/views/BackupPasswordView.svelte
  packages/shared/routes/onboarding/views/profile-recovery/views/ImportMnemonicPhraseView.svelte
  packages/shared/routes/onboarding/views/profile-recovery/views/ImportStrongholdBackupView.svelte
  packages/shared/routes/onboarding/views/profile-recovery/views/SuccessView.svelte
  packages/shared/routes/onboarding/views/profile-recovery/views/index.js
  packages/shared/routes/onboarding/views/profile-setup/views/EnterNameView.svelte
  packages/shared/routes/onboarding/views/profile-setup/views/SetupNewView.svelte
  packages/shared/routes/onboarding/views/profile-setup/views/SetupRecoveredView.svelte
  packages/shared/routes/onboarding/views/profile-setup/views/SetupView.svelte
  packages/shared/routes/onboarding/views/storage-protection-setup/views/SetupPinProtectionView.svelte
  packages/shared/routes/onboarding/views/stronghold-setup/views/SetupStrongholdPasswordView.svelte
Labels: type:enhancement, context:onboarding, stardust

#4174 enhancement: get token data from foundry output
  packages/shared/lib/core/wallet/actions/hideActivitiesForFoundries.ts
  packages/shared/lib/core/wallet/actions/index.ts
  packages/shared/lib/core/wallet/actions/loadAccountActivities.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/utils/getIrc30MetadataFromFoundryOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/getFoundryId.ts
  packages/shared/lib/core/wallet/utils/outputs/getNativeTokenFromOutput.ts
  packages/shared/lib/core/wallet/utils/transactions/getRelevantOutputFromTransaction.ts
  packages/shared/package.json
  yarn.lock
Labels: type:enhancement, type:fix, context:wallet, stardust

#4181 fix: ios status bar send & receive
  packages/shared/components/AccountNavigation.svelte
  packages/shared/routes/dashboard/TopNavigation.svelte
Labels: type:fix, platform:mobile

#4204 chore: add metrics opt out to android manifest
  packages/mobile/android/app/src/main/AndroidManifest.xml
Labels: type:chore, platform:mobile

#3864 chore: align backup profile style to figma design
  packages/shared/assets/illustrations/export-stronghold.png
  packages/shared/components/popups/Backup.svelte
Labels: type:chore, platform:mobile

#4209 fix: network status
  packages/shared/components/ProfileActions.svelte
  packages/shared/components/popups/NetworkStatus.svelte
  packages/shared/lib/networkStatus.ts
  packages/shared/lib/typings/network.ts
  packages/shared/locales/en.json
Labels: type:fix, platform:mobile, platform:desktop

#4208 feat: block android native back button in forbidden onboarding views
  packages/mobile/App.svelte
  packages/shared/components/OnboardingLayout.svelte
  packages/shared/lib/core/router/backbutton-history.ts
  packages/shared/routes/dashboard/Dashboard.svelte
Labels: platform:mobile

#4206 chore: update wallet and type dependencies
  packages/desktop/electron/preload.js
  packages/shared/components/popups/NodeInfoPopup.svelte
  packages/shared/lib/core/network/stores/node-info.store.ts
  packages/shared/lib/core/profile-manager/api/events/newOutput.ts
  packages/shared/lib/core/profile-manager/api/events/spentOutput.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/tests/__mocks__/profile-manager.mock.ts
  packages/shared/locales/af.json
  packages/shared/locales/ar.json
  packages/shared/locales/bg.json
  packages/shared/locales/ca.json
  packages/shared/locales/cs.json
  packages/shared/locales/da.json
  packages/shared/locales/de.json
  packages/shared/locales/el.json
  packages/shared/locales/en.json
  packages/shared/locales/eo.json
  packages/shared/locales/es-ES.json
  packages/shared/locales/es-LA.json
  packages/shared/locales/et.json
  packages/shared/locales/fa.json
  packages/shared/locales/fi.json
  packages/shared/locales/fr.json
  packages/shared/locales/he.json
  packages/shared/locales/hi.json
  packages/shared/locales/hr.json
  packages/shared/locales/hu.json
  packages/shared/locales/id.json
  packages/shared/locales/it.json
  packages/shared/locales/ja.json
  packages/shared/locales/ko.json
  packages/shared/locales/ku.json
  packages/shared/locales/lv.json
  packages/shared/locales/mk.json
  packages/shared/locales/nl.json
  packages/shared/locales/no.json
  packages/shared/locales/pl.json
  packages/shared/locales/pt-BR.json
  packages/shared/locales/pt-PT.json
  packages/shared/locales/ro.json
  packages/shared/locales/ru.json
  packages/shared/locales/si.json
  packages/shared/locales/sk.json
  packages/shared/locales/sl.json
  packages/shared/locales/sq.json
  packages/shared/locales/sr.json
  packages/shared/locales/sv.json
  packages/shared/locales/tr.json
  packages/shared/locales/uk.json
  packages/shared/locales/ur.json
  packages/shared/locales/vi.json
  packages/shared/locales/zh-CN.json
  packages/shared/locales/zh-TW.json
  packages/shared/package.json
  yarn.lock
Labels: type:chore, package:wallet.rs, stardust

#4225 enhancement: improve profile loading
  packages/shared/lib/core/profile/actions/active-profile/index.ts
  packages/shared/lib/core/profile/actions/active-profile/loadAccounts.ts
  packages/shared/lib/core/profile/actions/active-profile/loadProfile.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/recoverAndLoadProfile.ts
  packages/shared/lib/core/wallet/actions/loadAllAccountActivities.ts
Labels: type:refactor, stardust, context:login

#4228 chore: merge `desktop-2.0.0-beta-4` into `stardust-develop`
  packages/desktop/package.json
Labels: type:chore, stardust

#4167 chore: upgrade electron
  packages/desktop/package.json
  packages/desktop/webpack.config.js
  packages/shared/components/Alert.svelte
  packages/shared/components/NetworkIconBadge.svelte
  packages/shared/components/StakingAirdropIndicator.svelte
  packages/shared/components/Text.svelte
  packages/shared/components/atoms/BalanceSummarySection.svelte
  packages/shared/components/atoms/boxes/AddressBox.svelte
  packages/shared/components/atoms/boxes/CopyableBox.svelte
  packages/shared/components/atoms/buttons/OnboardingButton.svelte
  packages/shared/components/atoms/buttons/ReceiveAddressButton.svelte
  packages/shared/components/atoms/labels/AccountLabel.svelte
  packages/shared/components/atoms/labels/TogglableAmountLabel.svelte
  packages/shared/components/atoms/pills/Pill.svelte
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/atoms/tiles/AssetTile.svelte
  packages/shared/components/atoms/tiles/RewardClaimTile.svelte
  packages/shared/components/inputs/AmountInput.svelte
  packages/shared/components/inputs/AssetDropdown.svelte
  packages/shared/components/inputs/Dropdown2.svelte
  packages/shared/components/inputs/ImportTextfield.svelte
  packages/shared/components/inputs/Input.svelte
  packages/shared/components/inputs/TextInput.svelte
  packages/shared/components/inputs/UnitInput.svelte
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/organisms/AccountActivity.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/ConfirmationPopup.svelte
  packages/shared/components/popups/FaucetRequestPopup.svelte
  packages/shared/components/popups/LedgerLegacyTransaction.svelte
  packages/shared/components/popups/MintNativeTokenFormPopup.svelte
  packages/shared/components/popups/NodeInfoPopup.svelte
  packages/shared/components/popups/ReceiveAddressPopup.svelte
  packages/shared/components/popups/SendConfirmationPopup.svelte
  packages/shared/components/popups/SendFormPopup.svelte
  packages/shared/components/popups/StakingConfirmation.svelte
  packages/shared/components/popups/StakingManager.svelte
  packages/shared/components/popups/StorageDepositBreakdownPopup.svelte
  packages/shared/components/popups/TokenInformationPopup.svelte
  packages/shared/components/popups/Version.svelte
  packages/shared/components/popups/WalletFinderPopup.svelte
  packages/shared/lib/participation/stores.ts
  packages/shared/routes/onboarding/views/app-setup/views/WelcomeView.svelte
  yarn.lock
Labels: package:desktop, platform:desktop, stardust

#4157 fix: pin samsung keyboard and other brands
  packages/shared/components/inputs/Pin.svelte
  packages/shared/routes/setup/protect/views/Pin.svelte
Labels: type:fix, platform:mobile

#4246 feat: reduce app size
  packages/desktop/electron-builder-config.js
Labels: type:chore, stardust

#4237 fix: if toast has action do not show generic dismiss button
  packages/shared/components/Toast.svelte
Labels: type:fix, platform:mobile, package:shared

#4249 fix: amount input with decimal point in iOS
  packages/shared/components/inputs/Amount.svelte
Labels: type:fix, platform:mobile, package:shared

#4243 feat: disable auto backup
  packages/backend/bindings/capacitor/ios/Plugin/Plugin.swift
  packages/mobile/android/app/src/main/AndroidManifest.xml
Labels: type:feature, platform:mobile, package:mobile

#4240 fix: adjusts styling of ProfileActions as figma
  packages/shared/components/ProfileActions.svelte
  packages/shared/tailwind.config.js
Labels: type:fix, platform:mobile, package:shared

#4220 chore: allow paste passwords
  packages/shared/components/inputs/Address.svelte
  packages/shared/components/inputs/Password.svelte
Labels: type:chore, platform:mobile

#4262 chore: update wallet-rs to v2.0.2-alpha.16
  packages/shared/package.json
  yarn.lock
Labels: os:mac, stardust

#4263 refactor: reuse drawer content with existing popups
  packages/shared/components/AccountNavigation.svelte
  packages/shared/components/drawerContent/AccountActions.svelte
  packages/shared/components/drawerContent/AccountSwitcher.svelte
  packages/shared/components/drawerContent/AddressHistory.svelte
  packages/shared/components/drawerContent/DeleteAccount.svelte
  packages/shared/components/drawerContent/ExportTransactionHistory.svelte
  packages/shared/components/drawerContent/HideAccount.svelte
  packages/shared/components/drawerContent/index.js
  packages/shared/components/popups/AddressHistory.svelte
  packages/shared/components/popups/DeleteAccount.svelte
  packages/shared/components/popups/ExportTransactionHistory.svelte
  packages/shared/components/popups/HideAccount.svelte
  packages/shared/lib/core/router/enums/routes.ts
  packages/shared/routes/dashboard/TopNavigation.svelte
  packages/shared/routes/dashboard/wallet/Wallet.svelte
Labels: type:refactor, type:fix, platform:mobile

#4213 fix: adapt inputs to overlay keyboard
  packages/mobile/App.svelte
  packages/shared/assets/illustrations/send-mobile-darkmode.svg
  packages/shared/assets/illustrations/send-mobile.svg
  packages/shared/components/AccountNavigation.svelte
  packages/shared/components/OnboardingLayout.svelte
  packages/shared/components/inputs/Pin.svelte
  packages/shared/components/popups/AddNode.svelte
  packages/shared/components/popups/Backup.svelte
  packages/shared/components/popups/BalanceFinder.svelte
  packages/shared/components/popups/CreateAccount.svelte
  packages/shared/components/popups/DeleteProfile.svelte
  packages/shared/components/popups/HideAccount.svelte
  packages/shared/components/popups/Password.svelte
  packages/shared/components/popups/Transaction.svelte
  packages/shared/lib/app.ts
  packages/shared/routes/dashboard/settings/views/security/ChangePincode.svelte
  packages/shared/routes/dashboard/wallet/views/AccountBalance.svelte
  packages/shared/routes/dashboard/wallet/views/ManageAccount.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/setup/Password.svelte
  packages/shared/routes/setup/Profile.svelte
  packages/shared/routes/setup/Welcome.svelte
  packages/shared/routes/setup/import/views/BackupPassword.svelte
  packages/shared/routes/setup/import/views/FileImport.svelte
  packages/shared/routes/setup/import/views/TextImport.svelte
  packages/shared/routes/setup/protect/views/Pin.svelte
  packages/shared/routes/setup/protect/views/RepeatPin.svelte
Labels: type:fix, platform:mobile

#4226 feat: simple Stronghold-based Shimmer claiming flow
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/main.js
  packages/shared/features/onboardingFeatures.ts
  packages/shared/lib/contexts/onboarding/actions/index.ts
  packages/shared/lib/contexts/onboarding/actions/initialiseFirstShimmerClaimingAccount.ts
  packages/shared/lib/contexts/onboarding/actions/initialiseProfileManagerFromOnboardingProfile.ts
  packages/shared/lib/contexts/onboarding/actions/restoreBackupForShimmerClaimingProfileManager.ts
  packages/shared/lib/contexts/onboarding/errors/index.ts
  packages/shared/lib/contexts/onboarding/errors/stronghold-backup.errors.ts
  packages/shared/lib/contexts/onboarding/errors/unsupported-backup-file.error.ts
  packages/shared/lib/contexts/onboarding/helpers/copyStrongholdFileToProfileDirectory.ts
  packages/shared/lib/contexts/onboarding/helpers/index.ts
  packages/shared/lib/contexts/onboarding/helpers/prepareShimmerClaimingAccount.ts
  packages/shared/lib/core/account/utils/createBoundAccount.ts
  packages/shared/lib/core/account/utils/index.ts
  packages/shared/lib/core/profile-manager/utils/buildProfileManagerOptionsFromProfileData.ts
  packages/shared/lib/core/profile-manager/utils/getSecretManagerPath.ts
  packages/shared/lib/core/profile-manager/utils/index.ts
  packages/shared/lib/core/utils/convert.utils.ts
  packages/shared/lib/core/utils/filter.utils.ts
  packages/shared/lib/core/utils/index.ts
  packages/shared/lib/core/utils/iter.utils.ts
  packages/shared/lib/core/utils/sort.utils.ts
  packages/shared/lib/core/utils/time.utils.ts
  packages/shared/lib/tests/__mocks__/platform.mock.ts
  packages/shared/lib/typings/platform.ts
  packages/shared/locales/en.json
  packages/shared/routes/onboarding/views/profile-recovery/views/BackupPasswordView.svelte
Labels: type:feature, context:onboarding, stardust

#4273 feat: add mobile nodes configuration options
  packages/shared/components/popups/AddNode.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/NodeConfigOptions.svelte
  packages/shared/routes/dashboard/settings/views/advanced/NetworkConfiguration.svelte
Labels: type:feature, type:fix, platform:mobile

#4214 refactor: improve activity initialization
  packages/shared/components/atoms/pills/ActivityStatusPill.svelte
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/components/modals/AssetActionsMenu.svelte
  packages/shared/lib/core/profile-manager/api/events/newOutput.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/wallet/actions/activities/generateActivitiesFromProcessedTransactions.ts
  packages/shared/lib/core/wallet/actions/activities/generateAndStoreActivitiesForAccount.ts
  packages/shared/lib/core/wallet/actions/activities/hideActivitiesForFoundries.ts
  packages/shared/lib/core/wallet/actions/activities/hideActivitiesForHiddenAssets.ts
  packages/shared/lib/core/wallet/actions/activities/index.ts
  packages/shared/lib/core/wallet/actions/activities/linkActivityAndClaimingTransaction.ts
  packages/shared/lib/core/wallet/actions/activities/preprocessOutputsForAccount.ts
  packages/shared/lib/core/wallet/actions/activities/preprocessTransactionsForAccount.ts
  packages/shared/lib/core/wallet/actions/activities/setAsyncStatusOfAccountActivities.ts
  packages/shared/lib/core/wallet/actions/generateAndStoreActivitiesForAllAccounts.ts
  packages/shared/lib/core/wallet/actions/index.ts
  packages/shared/lib/core/wallet/actions/loadAccountActivities.ts
  packages/shared/lib/core/wallet/actions/loadAccountActivitiesFromOutputs.ts
  packages/shared/lib/core/wallet/actions/loadAccountActivitiesFromTransactions.ts
  packages/shared/lib/core/wallet/actions/loadAllAccountActivities.ts
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/actions/sendOutput.ts
  packages/shared/lib/core/wallet/actions/setAsyncActivitiesToClaimed.ts
  packages/shared/lib/core/wallet/actions/tryGetAndStoreAssetFromPersistedAssets.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/enums/activity-type.enum.ts
  packages/shared/lib/core/wallet/enums/filters/boolean-option.enum.ts
  packages/shared/lib/core/wallet/enums/filters/index.ts
  packages/shared/lib/core/wallet/enums/filters/number-filter-option.enum.ts
  packages/shared/lib/core/wallet/enums/filters/status-option.enum.ts
  packages/shared/lib/core/wallet/enums/filters/type-option.enum.ts
  packages/shared/lib/core/wallet/enums/index.ts
  packages/shared/lib/core/wallet/interfaces/activity.interface.ts
  packages/shared/lib/core/wallet/interfaces/filter.interface.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/interfaces/processed-transaction.interface.ts
  packages/shared/lib/core/wallet/stores/all-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/getActivityType.ts
  packages/shared/lib/core/wallet/utils/getIrc30MetadataFromFoundryOutput.ts
  packages/shared/lib/core/wallet/utils/isFilteredActivity.ts
  packages/shared/lib/core/wallet/utils/isFilteredAsset.ts
  packages/shared/lib/core/wallet/utils/outputs/index.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessGroupedOutputs.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/containsFoundryOutput.ts
  packages/shared/lib/core/wallet/utils/transactions/getFoundryOutputFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/getMainTransactionOutputFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/index.ts
  packages/shared/locales/en.json
Labels: type:refactor, context:wallet, stardust

#4280 update: wallet rs 19
  packages/shared/package.json
Labels: context:wallet, package:wallet.rs, stardust

#4264 fix: make password input autofocus for Stronghold password popup
  packages/shared/components/inputs/Input.svelte
Labels: type:fix, context:wallet, stardust

#4295 fix: updates deprecated version of ubuntu for github hosted runners
  .github/workflows/build-desktop.yml
  .github/workflows/ci.lint.yml
  .github/workflows/ci.snyk.yml
  .github/workflows/ci.test.yml
  .github/workflows/handbook.yml
Labels: os:linux, scope:ci, type:fix

#4296 fix: updates deprecated version of ubuntu for github hosted runners
  .github/workflows/build-desktop.yml
  .github/workflows/ci.lint.yml
  .github/workflows/ci.snyk.yml
  .github/workflows/ci.test.yml
  .github/workflows/handbook.yml
Labels: os:linux, scope:ci, type:fix

#4266 feat: export text file filesystem plugin
  packages/mobile/capacitor/plugins/secure-filesystem-access/android/src/main/java/org/iota/plugins/securefilesystemaccess/Mediastore.java
  packages/mobile/capacitor/plugins/secure-filesystem-access/android/src/main/java/org/iota/plugins/securefilesystemaccess/SecureFilesystemAccessPlugin.java
  packages/mobile/capacitor/plugins/secure-filesystem-access/ios/Plugin/Plugin.m
  packages/mobile/capacitor/plugins/secure-filesystem-access/ios/Plugin/Plugin.swift
  packages/mobile/capacitor/plugins/secure-filesystem-access/src/definitions.ts
Labels: platform:mobile

#4294 fix: sort currency alphabetically
  packages/shared/routes/dashboard/settings/views/general/Currency.svelte
Labels: scope:ux, platform:mobile

#4252 fix: wallet finder
  packages/shared/components/popups/WalletFinderPopup.svelte
Labels: type:fix, context:settings, stardust

#4227 chore: update dev dependencies
  packages/desktop/package.json
  packages/desktop/webpack.config.js
  packages/shared/package.json
  yarn.lock
Labels: scope:dependencies, type:chore, stardust

#4306 chore: update node version in ci to 16.4.2
  .github/workflows/build-desktop.yml
  .github/workflows/ci.lint.yml
  .github/workflows/ci.test.yml
Labels: type:chore, scope:ci, stardust

#4302 update: wallet-rs to 21
  packages/desktop/package.json
  packages/shared/package.json
  yarn.lock
Labels: type:enhancement, scope:ci, stardust

#4309 fix: disable notification settings
  packages/mobile/App.svelte
  packages/shared/routes/dashboard/settings/views/SettingsHome.svelte
Labels: platform:mobile

#4301 fix: remove prevent close flag from password popup call
  packages/shared/components/popups/Backup.svelte
Labels: type:fix, platform:mobile

#4314 chore: update API typings
  packages/shared/lib/core/profile-manager/api/recoverAccounts.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/tests/__mocks__/profile-manager.mock.ts
  yarn.lock
Labels: type:chore, stardust

#4281 enhancement: pending state to activity claiming
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/SendConfirmationPopup.svelte
  packages/shared/components/popups/TokenInformationPopup.svelte
  packages/shared/lib/core/profile-manager/api/events/newTransactionInclusionEvent.ts
  packages/shared/lib/core/wallet/actions/activities/generateAndStoreActivitiesForAccount.ts
  packages/shared/lib/core/wallet/actions/activities/updateClaimingTransactionInclusion.ts
  packages/shared/lib/core/wallet/actions/claimActivity.ts
  packages/shared/lib/core/wallet/actions/index.ts
  packages/shared/lib/core/wallet/actions/setOutgoingAsyncActivitiesToClaimed.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/stores/all-account-activities.store.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#4265 enhancement: add busy prop spinner to OnboardingButton
  packages/shared/components/Spinner.svelte
  packages/shared/components/atoms/buttons/OnboardingButton.svelte
  packages/shared/routes/onboarding/views/profile-setup/views/SetupClaimedView.svelte
  packages/shared/routes/onboarding/views/profile-setup/views/SetupRecoveredView.svelte
Labels: type:enhancement, context:onboarding, stardust

#4321 fix: mnemonic was already stored error
  packages/shared/routes/setup/backup/views/VerifyRecoveryPhrase.svelte
Labels: platform:mobile

#4322 improvement: polish keyboard open and close animations
  packages/mobile/App.svelte
  packages/shared/components/popups/AddNode.svelte
  packages/shared/components/popups/BalanceFinder.svelte
  packages/shared/components/popups/CreateAccount.svelte
  packages/shared/components/popups/DeleteProfile.svelte
  packages/shared/components/popups/HideAccount.svelte
  packages/shared/components/popups/Password.svelte
  packages/shared/lib/app.ts
  packages/shared/routes/dashboard/settings/views/security/ChangePincode.svelte
  packages/shared/routes/dashboard/wallet/views/ManageAccount.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/setup/Password.svelte
  packages/shared/routes/setup/Profile.svelte
  packages/shared/routes/setup/import/views/BackupPassword.svelte
  packages/shared/routes/setup/import/views/TextImport.svelte
  packages/shared/routes/setup/protect/views/Pin.svelte
  packages/shared/routes/setup/protect/views/RepeatPin.svelte
Labels: platform:mobile, type:ui

#4323 fix: match Congratulations view layout with figma
  packages/shared/assets/animations/butterfly-chrysalis-darkmode.json
  packages/shared/assets/animations/butterfly-chrysalis.json
  packages/shared/components/Animation.svelte
  packages/shared/locales/en.json
  packages/shared/routes/setup/Congratulations.svelte
Labels: type:fix, platform:mobile

#4326 fix: ensure password and error is always visible on password setup when keyboard is opened
  packages/shared/components/popups/AddNode.svelte
  packages/shared/components/popups/BalanceFinder.svelte
  packages/shared/components/popups/CreateAccount.svelte
  packages/shared/components/popups/DeleteProfile.svelte
  packages/shared/components/popups/HideAccount.svelte
  packages/shared/components/popups/Password.svelte
  packages/shared/lib/app.ts
  packages/shared/routes/dashboard/settings/views/security/ChangePincode.svelte
  packages/shared/routes/dashboard/wallet/views/ManageAccount.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/setup/Password.svelte
  packages/shared/routes/setup/Profile.svelte
  packages/shared/routes/setup/import/views/BackupPassword.svelte
  packages/shared/routes/setup/import/views/TextImport.svelte
  packages/shared/routes/setup/protect/views/Pin.svelte
  packages/shared/routes/setup/protect/views/RepeatPin.svelte
Labels: type:fix, platform:mobile

#4270 feat: find Shimmer rewards
  .github/workflows/ci.lint.yml
  package.json
  packages/shared/components/atoms/tiles/ShimmerClaimingAccountTile.svelte
  packages/shared/components/popups/WalletFinderPopup.svelte
  packages/shared/features/onboardingFeatures.ts
  packages/shared/lib/contexts/onboarding/actions/claimShimmerRewards.ts
  packages/shared/lib/contexts/onboarding/actions/completeOnboardingProcess.ts
  packages/shared/lib/contexts/onboarding/actions/findShimmerRewards.ts
  packages/shared/lib/contexts/onboarding/actions/findShimmerRewardsForAccount.ts
  packages/shared/lib/contexts/onboarding/constants/default-shimmer-claiming-sync-options.constant.ts
  packages/shared/lib/contexts/onboarding/constants/index.ts
  packages/shared/lib/contexts/onboarding/enums/shimmer-claiming-account-state.enum.ts
  packages/shared/lib/contexts/onboarding/helpers/deriveShimmerClaimingAccountState.ts
  packages/shared/lib/contexts/onboarding/helpers/getSortedRenamedBoundAccounts.ts
  packages/shared/lib/contexts/onboarding/helpers/index.ts
  packages/shared/lib/contexts/onboarding/helpers/prepareShimmerClaimingAccount.ts
  packages/shared/lib/contexts/onboarding/stores/onboarding-profile.store.ts
  packages/shared/lib/contexts/onboarding/utils/canUserClaimRewards.ts
  packages/shared/lib/contexts/onboarding/utils/hasUserClaimedRewards.ts
  packages/shared/lib/contexts/onboarding/utils/index.ts
  packages/shared/lib/contexts/onboarding/utils/sumTotalClaimedRewards.ts
  packages/shared/lib/contexts/onboarding/utils/sumTotalUnclaimedRewards.ts
  packages/shared/lib/core/account/errors/index.ts
  packages/shared/lib/core/account/errors/unable-to-get-bound-account.error.ts
  packages/shared/lib/core/account/index.ts
  packages/shared/lib/core/account/utils/getBoundAccount.ts
  packages/shared/lib/core/account/utils/index.ts
  packages/shared/lib/core/account/utils/sumBalanceForAccounts.ts
  packages/shared/lib/core/account/utils/sumTotalFromOutputs.ts
  packages/shared/lib/core/account/utils/syncAccountsInParallel.ts
  packages/shared/lib/core/profile-manager/api/recoverAccounts.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/errors/index.ts
  packages/shared/lib/core/profile/errors/unable-to-find-profile-setup-type.error.ts
  packages/shared/lib/core/profile/errors/unable-to-find-profile-type.error.ts
  packages/shared/lib/core/profile/interfaces/index.ts
  packages/shared/lib/core/profile/interfaces/login-options.interface.ts
  packages/shared/lib/core/utils/index.ts
  packages/shared/lib/core/utils/number.utils.ts
  packages/shared/lib/shell/walletErrors.ts
  packages/shared/lib/tests/__mocks__/profile-manager.mock.ts
  packages/shared/lib/typings/events.ts
  packages/shared/locales/en.json
  packages/shared/routes/onboarding/views/shimmer-claiming/views/ClaimRewardsView.svelte
Labels: type:feature, context:onboarding, stardust

#4332 feat: protect against restoring Stronghold with the wrong coin type
  packages/shared/lib/contexts/onboarding/actions/restoreBackupForShimmerClaimingProfileManager.ts
  packages/shared/lib/contexts/onboarding/actions/restoreBackupFromStrongholdFile.ts
  packages/shared/lib/contexts/onboarding/errors/stronghold-backup.errors.ts
  packages/shared/lib/contexts/onboarding/helpers/index.ts
  packages/shared/lib/contexts/onboarding/helpers/validateStrongholdCoinType.ts
  packages/shared/locales/en.json
  packages/shared/routes/onboarding/views/profile-recovery/views/BackupPasswordView.svelte
Labels: type:feature, context:onboarding, stardust

#4328 fix: styling issues for production release regarding to figma feedback
  packages/shared/components/ActivityDetail.svelte
  packages/shared/components/OnboardingLayout.svelte
  packages/shared/components/ProfileActions.svelte
  packages/shared/components/inputs/Pin.svelte
  packages/shared/components/popups/AddressHistory.svelte
  packages/shared/components/popups/Backup.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/dashboard/wallet/views/AccountBalance.svelte
  packages/shared/routes/dashboard/wallet/views/ManageAccount.svelte
  packages/shared/routes/dashboard/wallet/views/Receive.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/setup/protect/views/Pin.svelte
  packages/shared/routes/setup/protect/views/RepeatPin.svelte
Labels: type:fix, platform:mobile, type:ui

#4335 fix: privacy policy and terms of service view
  packages/shared/components/OnboardingLayout.svelte
  packages/shared/routes/setup/legal/Legal.svelte
Labels: type:fix, platform:mobile, type:ui

#4334 enhancement: adds dark launch screen on mobile
  packages/mobile/capacitor/assets/alpha.png
  packages/mobile/capacitor/assets/assetgen.sh
  packages/mobile/capacitor/assets/beta.png
  packages/mobile/capacitor/assets/dark/alpha.png
  packages/mobile/capacitor/assets/dark/beta.png
  packages/mobile/capacitor/assets/dark/prod.png
  packages/mobile/capacitor/assets/light/alpha.png
  packages/mobile/capacitor/assets/light/beta.png
  packages/mobile/capacitor/assets/light/prod.png
  packages/mobile/capacitor/assets/prod.png
Labels: type:enhancement, platform:mobile, package:mobile, type:ui

#4271 feat: transaction history and migration log export
  packages/desktop/electron/electronApi.js
  packages/mobile/capacitor/capacitorApi.ts
  packages/shared/components/drawerContent/AccountSwitcher.svelte
  packages/shared/components/popups/ExportTransactionHistory.svelte
  packages/shared/lib/typings/platform.ts
  packages/shared/routes/setup/Congratulations.svelte
Labels: type:feature, platform:mobile

#4331 feat: Shimmer claiming transaction store
  packages/shared/features/onboardingFeatures.ts
  packages/shared/lib/contexts/onboarding/actions/claimShimmerRewards.ts
  packages/shared/lib/contexts/onboarding/interfaces/index.ts
  packages/shared/lib/contexts/onboarding/interfaces/shimmer-claiming-transaction-store.interface.ts
  packages/shared/lib/contexts/onboarding/stores/index.ts
  packages/shared/lib/contexts/onboarding/stores/shimmer-claiming-profile-manager.store.ts
  packages/shared/lib/contexts/onboarding/stores/shimmer-claiming-transactions.store.ts
  packages/shared/lib/contexts/settings/actions/deleteProfile.ts
  packages/shared/lib/core/wallet/errors/index.ts
  packages/shared/lib/core/wallet/errors/missing-transaction-id.error.ts
  packages/shared/lib/core/wallet/index.ts
  packages/shared/locales/en.json
Labels: type:feature, context:onboarding, stardust

#4346 ui: update icons on alert and text hints
  packages/shared/components/Alert.svelte
  packages/shared/components/TextHint.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/WalletFinderPopup.svelte
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/checkmark-filled.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/error-filled.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/exclamation-filled.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/exclamation.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/auxiliary/icon/svgs/info-filled.svg.ts
Labels: context:wallet, type:ui, stardust

#4308 refactor: activity payload types
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/atoms/tiles/FoundryActivityTile.svelte
  packages/shared/components/atoms/tiles/TransactionActivityTile.svelte
  packages/shared/components/atoms/tiles/index.js
  packages/shared/components/molecules/AssetIcon.svelte
  packages/shared/components/molecules/AssetList.svelte
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/organisms/AccountActivity.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/TokenInformationPopup.svelte
  packages/shared/lib/core/profile-manager/api/events/spentOutput.ts
  packages/shared/lib/core/wallet/actions/activities/hideActivitiesForHiddenAssets.ts
  packages/shared/lib/core/wallet/actions/activities/linkActivityAndClaimingTransaction.ts
  packages/shared/lib/core/wallet/actions/activities/setAsyncStatusOfAccountActivities.ts
  packages/shared/lib/core/wallet/actions/activities/updateClaimingTransactionInclusion.ts
  packages/shared/lib/core/wallet/actions/claimActivity.ts
  packages/shared/lib/core/wallet/actions/rejectActivity.ts
  packages/shared/lib/core/wallet/actions/setOutgoingAsyncActivitiesToClaimed.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/interfaces/activity.interface.ts
  packages/shared/lib/core/wallet/interfaces/foundry-activity-data.interface.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/interfaces/transaction-activity-data.interface.ts
  packages/shared/lib/core/wallet/stores/all-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/utils/getAssetInitials.ts
  packages/shared/lib/core/wallet/utils/isVisibleActivity.ts
  packages/shared/lib/core/wallet/utils/isVisibleAsset.ts
  packages/shared/lib/core/wallet/utils/outputs/getFoundryActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/getTimeDifferenceUntilExpirationTime.ts
  packages/shared/lib/core/wallet/utils/outputs/getTransactionActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/index.ts
Labels: type:refactor, context:wallet, stardust

#4129 feat: skip migration bundle mining in mobile
  packages/shared/components/BundleMiningLayout.svelte
  packages/shared/components/OnboardingLayout.svelte
  packages/shared/lib/core/router/subrouters/migrate-router.ts
  packages/shared/lib/wallet.ts
  packages/shared/locales/en.json
  packages/shared/routes/setup/migrate/views/BundleMiningWarning.svelte
  packages/shared/routes/setup/migrate/views/SecureSpentAddresses.svelte
  packages/shared/routes/setup/migrate/views/TransferFragmentedFunds.svelte
Labels: platform:mobile

#4317 feat: fix mobile rewards info and warning drawers
  packages/shared/components/StakingAssetTile.svelte
  packages/shared/components/popups/AirdropNetworkInfo.svelte
  packages/shared/components/popups/AirdropNetworkWarning.svelte
  packages/shared/components/popups/Index.svelte
Labels: platform:mobile

#4354 fix: duplicated actors
  packages/shared/components/ToastContainer.svelte
  packages/shared/routes/login/views/EnterPin.svelte
Labels: platform:mobile

#4356 fix: tap to copy address not working
  packages/shared/routes/dashboard/wallet/views/Receive.svelte
Labels: type:fix, platform:mobile

#4357 fix: adds prevent default to change pin and password
  packages/shared/routes/dashboard/settings/views/security/ChangePassword.svelte
  packages/shared/routes/dashboard/settings/views/security/ChangePincode.svelte
Labels: type:fix, platform:mobile, package:shared

#4359 fix: adds bottom padding to recovery phrase setup title
  packages/shared/routes/setup/backup/views/RecoveryPhrase.svelte
Labels: type:fix, platform:mobile, package:shared

#4336 enhancement: timelock activities
  packages/shared/components/atoms/tiles/FoundryActivityTile.svelte
  packages/shared/components/atoms/tiles/TransactionActivityTile.svelte
  packages/shared/components/molecules/TransactionDetails.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/lib/core/wallet/actions/activities/setAsyncStatusOfAccountActivities.ts
  packages/shared/lib/core/wallet/classes/activity.class.ts
  packages/shared/lib/core/wallet/enums/activity-async-status.enum.ts
  packages/shared/lib/core/wallet/interfaces/transaction-activity-data.interface.ts
  packages/shared/lib/core/wallet/utils/outputs/getTimeDifference.ts
  packages/shared/lib/core/wallet/utils/outputs/getTimelockDateFromOutput.ts
  packages/shared/lib/core/wallet/utils/outputs/getTransactionActivityData.ts
  packages/shared/lib/core/wallet/utils/outputs/index.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#4352 feat: implement mobile app version
  packages/mobile/App.svelte
  packages/mobile/capacitor/capacitorApi.ts
  packages/mobile/package.json
  yarn.lock
Labels: platform:mobile

#4370 feat: adds sync spinner on the AccountAssets
  packages/shared/routes/dashboard/wallet/views/AccountAssets.svelte
Labels: type:feature, platform:mobile

#4367 fix: correct subject if expired output
  packages/shared/lib/core/wallet/utils/transactions/getSenderFromInputs.ts
Labels: type:fix, stardust

#4372 fix: disable keyboard autofocus on setup
  packages/shared/routes/setup/backup/views/Backup.svelte
  packages/shared/routes/setup/protect/views/Pin.svelte
  packages/shared/routes/setup/protect/views/RepeatPin.svelte
Labels: type:fix, platform:mobile
