Repository iotaledger/firefly, pull requests merged in 2022-12, with the labels that each got.

#5309 ui: update shared nft details for mobile usage
  packages/shared/components/molecules/NftActivityDetails.svelte
Labels: context:wallet, type:ui, stardust

#5308 feat: open in explorer
  packages/desktop/views/dashboard/collectibles/views/DetailsView.svelte
  packages/shared/components/molecules/activity-info/GenericActivityInformation.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/lib/core/network/enums/explorer-endpoint.enum.ts
  packages/shared/lib/core/network/enums/index.ts
Labels: type:feature, context:wallet, stardust

#5323 fix: tailwind purge
  packages/shared/tailwind.config.js
Labels: type:fix, stardust

#5307 chore: rename isOwned to isSpendable
  packages/desktop/features/features.ts
  packages/shared/components/popups/send/SendFormPopup.svelte
  packages/shared/lib/core/nfts/actions/loadNftsForActiveProfile.ts
  packages/shared/lib/core/nfts/interfaces/nft.interface.ts
  packages/shared/lib/core/nfts/stores/selected-account-nfts.store.ts
  packages/shared/lib/core/nfts/utils/buildNftFromNftOutput.ts
  packages/shared/lib/core/nfts/utils/getIsSpendableFromUnspentNftOutput.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleSpentOutputEvent.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
  packages/shared/lib/core/wallet/actions/activities/setAsyncStatusOfAccountActivities.ts
  packages/shared/lib/core/wallet/actions/burnNft.ts
Labels: type:chore, context:wallet, stardust

#5330 enhancement: reset router on tab change
  packages/desktop/views/dashboard/Sidebar.svelte
Labels: type:enhancement, context:wallet, stardust

#5332 fix: height recipient input
  packages/shared/components/inputs/RecipientInput.svelte
Labels: type:ui, stardust

#5327 feat: initial governance ui
  packages/desktop/lib/routers/actions/initialiseRouters.ts
  packages/desktop/lib/routers/actions/resetRouters.ts
  packages/desktop/views/dashboard/Dashboard.svelte
  packages/desktop/views/dashboard/Sidebar.svelte
  packages/desktop/views/dashboard/TopNavigation.svelte
  packages/desktop/views/dashboard/governance/Governance.svelte
  packages/desktop/views/dashboard/governance/index.js
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/desktop/views/dashboard/governance/views/ProposalsView.svelte
  packages/desktop/views/dashboard/governance/views/index.js
  packages/desktop/views/dashboard/index.js
  packages/mobile/components/AsyncActivityTileFooter.svelte
  packages/shared/components/ProposalStatusInfo.svelte
  packages/shared/components/ProposalStatusTimelineTooltip.svelte
  packages/shared/components/Proposals.svelte
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/components/Tooltip.svelte
  packages/shared/components/VotingPower.svelte
  packages/shared/components/atoms/buttons/TooltipIcon.svelte
  packages/shared/components/atoms/pills/ProposalStatusPill.svelte
  packages/shared/components/atoms/pills/index.js
  packages/shared/components/atoms/tiles/tileFooters/AsyncActivityTileFooter.svelte
  packages/shared/components/atoms/tiles/tileFooters/TimelockActivityTileFooter.svelte
  packages/shared/components/enums/index.ts
  packages/shared/components/enums/position.enum.ts
  packages/shared/components/enums/proposal-status.enum.ts
  packages/shared/components/index.js
  packages/shared/components/inputs/OptionalInput.svelte
  packages/shared/components/panes/Pane.svelte
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/governance.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/auxiliary/icon/svgs/voted.svg.ts
  packages/shared/lib/core/governance/index.ts
  packages/shared/lib/core/governance/stores/index.ts
  packages/shared/lib/core/governance/stores/selected-proposal.store.ts
  packages/shared/lib/core/router/enums/dashboard-route.enum.ts
  packages/shared/lib/core/router/enums/governance-route.enum.ts
  packages/shared/lib/core/router/enums/index.ts
  packages/shared/lib/core/router/routers/governance-router.ts
  packages/shared/lib/core/router/routers/index.ts
  packages/shared/lib/core/utils/date.ts
  packages/shared/locales/en.json
  packages/shared/tailwind.config.js
Labels: context:governance, stardust

#5329 feat: send nft button
  packages/desktop/views/dashboard/collectibles/views/DetailsView.svelte
  packages/shared/components/popups/send/SendConfirmationPopup.svelte
Labels: type:enhancement, context:wallet, stardust

#5334 enhancement: update activity filters
  packages/shared/components/filters/FilterItem.svelte
  packages/shared/components/modals/FilterModal.svelte
  packages/shared/lib/core/wallet/enums/filters/index.ts
  packages/shared/lib/core/wallet/enums/filters/internal-external.enum.ts
  packages/shared/lib/core/wallet/enums/filters/type-option.enum.ts
  packages/shared/lib/core/wallet/interfaces/filter/filter.interface.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/utils/isVisibleActivity.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#5341 enhancement: disable nft/asset select if using nft/asset send button
  packages/desktop/views/dashboard/collectibles/views/DetailsView.svelte
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/AssetDropdown.svelte
  packages/shared/components/inputs/NftInput.svelte
  packages/shared/components/modals/CollectibleDetailsMenu.svelte
  packages/shared/components/molecules/SelectorInput.svelte
  packages/shared/components/popups/TokenInformationPopup.svelte
  packages/shared/components/popups/send/SendFormPopup.svelte
  packages/shared/lib/core/wallet/types/new-transaction-details.type.ts
Labels: type:enhancement, context:wallet, stardust

#5342 fix: add nft after claiming
  packages/shared/lib/core/nfts/interfaces/nft.interface.ts
  packages/shared/lib/core/nfts/utils/buildNftFromNftOutput.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleSpentOutputEvent.ts
Labels: type:fix, context:wallet, stardust

#5346 refactor: add wrapped inputs to processedTransaction
  packages/shared/components/popups/AliasConfirmationPopup.svelte
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/wallet/actions/activities/linkTransactionsWithClaimingTransactions.ts
  packages/shared/lib/core/wallet/actions/activities/preprocessOutputsForAccount.ts
  packages/shared/lib/core/wallet/actions/activities/preprocessTransactionsForAccount.ts
  packages/shared/lib/core/wallet/actions/burnAsset.ts
  packages/shared/lib/core/wallet/actions/burnNft.ts
  packages/shared/lib/core/wallet/actions/consolidateOutputs.ts
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/actions/mintNft.ts
  packages/shared/lib/core/wallet/actions/sendOutput.ts
  packages/shared/lib/core/wallet/interfaces/processed-transaction.interface.ts
  packages/shared/lib/core/wallet/interfaces/wrapped-output.interface.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateAliasActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateFoundryActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateNftActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateTransactionActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getSendingInformation.ts
  packages/shared/lib/core/wallet/utils/outputs/getOutputIdFromTransactionIdAndIndex.ts
  packages/shared/lib/core/wallet/utils/outputs/index.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessGroupedOutputs.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/getSenderAddressFromInputs.ts
Labels: type:refactor, stardust

#5331 refactor: combine asset input and asset slider input
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/AssetAmountSliderInput.svelte
  packages/shared/components/inputs/SliderInput.svelte
  packages/shared/components/inputs/index.js
  packages/shared/components/popups/BurnNativeTokensPopup.svelte
  packages/shared/lib/core/wallet/actions/burnAsset.ts
Labels: type:refactor, context:wallet, stardust

#5337 feat: adds voting power management
  packages/shared/components/VotingPower.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/lib/core/account/actions/buildAccountState.ts
  packages/shared/lib/core/account/actions/index.ts
  packages/shared/lib/core/account/actions/syncVotingPower.ts
  packages/shared/lib/core/account/api/getVotingPower.ts
  packages/shared/lib/core/account/api/index.ts
  packages/shared/lib/core/account/interfaces/account-state.interface.ts
  packages/shared/lib/core/account/interfaces/account.interface.ts
  packages/shared/lib/core/governance/actions/index.ts
  packages/shared/lib/core/governance/actions/setVotingPower.ts
  packages/shared/lib/core/governance/index.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
  packages/shared/lib/tests/__mocks__/account.mock.ts
  packages/shared/locales/en.json
Labels: type:feature, context:governance, stardust

#5354 fix: selector input unwanted readonly
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/NftInput.svelte
  packages/shared/components/molecules/SelectorInput.svelte
Labels: type:fix, stardust

#5321 chore: upgrade electron
  packages/desktop/electron/main.js
  packages/desktop/package.json
  yarn.lock
Labels: scope:security, platform:desktop

#5361 chore: upgrade wallet.rs
  packages/shared/components/popups/StorageDepositBreakdownPopup.svelte
  packages/shared/lib/core/account/actions/buildAccountState.ts
  packages/shared/lib/core/account/interfaces/account-balances.interface.ts
  packages/shared/lib/core/account/interfaces/account.interface.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/tests/__mocks__/account-balance.mock.ts
  packages/shared/lib/tests/__mocks__/account.mock.ts
  packages/shared/lib/tests/__mocks__/profile-manager.mock.ts
  packages/shared/package.json
  yarn.lock
Labels: package:wallet.rs, stardust

#5368 enhancement: storage deposit breakdown per output
  packages/shared/components/atoms/BalanceSummarySection.svelte
  packages/shared/components/popups/StorageDepositBreakdownPopup.svelte
  packages/shared/locales/en.json
Labels: type:enhancement, stardust

#5366 enhancement: nft name on activity tile
  packages/shared/components/atoms/tiles/tileContents/NftActivityTileContent.svelte
Labels: type:enhancement, stardust

#5369 fix: callback error
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
Labels: type:fix

#5367 enhancement: nft activity summary
  packages/shared/components/molecules/NftActivityDetails.svelte
  packages/shared/components/molecules/NftMediaContainer.svelte
Labels: type:enhancement, stardust

#5370 ui: implement responsive design to gallery
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
  packages/desktop/views/dashboard/collectibles/views/GalleryView.svelte
  packages/shared/components/atoms/pills/ActivityAsyncStatusPill.svelte
  packages/shared/components/atoms/pills/ActivityInclusionStatusPill.svelte
  packages/shared/components/enums/nft-media-size.enum.ts
  packages/shared/components/molecules/NftGalleryItem.svelte
  packages/shared/components/molecules/NftMediaContainer.svelte
  packages/shared/locales/af.json
  packages/shared/locales/ar.json
  packages/shared/locales/bg.json
  packages/shared/locales/ca.json
  packages/shared/locales/cs.json
  packages/shared/locales/da.json
  packages/shared/locales/de.json
  packages/shared/locales/el.json
  packages/shared/locales/en.json
  packages/shared/locales/eo.json
  packages/shared/locales/es-ES.json
  packages/shared/locales/es-LA.json
  packages/shared/locales/et.json
  packages/shared/locales/fa.json
  packages/shared/locales/fi.json
  packages/shared/locales/fr.json
  packages/shared/locales/he.json
  packages/shared/locales/hi.json
  packages/shared/locales/hr.json
  packages/shared/locales/hu.json
  packages/shared/locales/id.json
  packages/shared/locales/it.json
  packages/shared/locales/ja.json
  packages/shared/locales/ko.json
  packages/shared/locales/ku.json
  packages/shared/locales/lv.json
  packages/shared/locales/mk.json
  packages/shared/locales/nl.json
  packages/shared/locales/no.json
  packages/shared/locales/pl.json
  packages/shared/locales/pt-BR.json
  packages/shared/locales/pt-PT.json
  packages/shared/locales/ro.json
  packages/shared/locales/ru.json
  packages/shared/locales/si.json
  packages/shared/locales/sk.json
  packages/shared/locales/sl.json
  packages/shared/locales/sq.json
  packages/shared/locales/sr.json
  packages/shared/locales/sv.json
  packages/shared/locales/tr.json
  packages/shared/locales/uk.json
  packages/shared/locales/ur.json
  packages/shared/locales/vi.json
  packages/shared/locales/zh-CN.json
  packages/shared/locales/zh-TW.json
Labels: context:wallet, type:ui, stardust

#5356 enhancement: update url whitelist
  packages/desktop/electron/main.js
  packages/desktop/views/dashboard/collectibles/views/DetailsView.svelte
  packages/desktop/views/dashboard/settings/views/help/HelpSection.svelte
  packages/desktop/views/onboarding/views/app-setup/views/ConditionsOfUse.svelte
  packages/shared/components/molecules/activity-info/GenericActivityInformation.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/ConfirmationPopup.svelte
  packages/shared/components/popups/LedgerConnectionGuidePopup.svelte
  packages/shared/components/popups/LegalUpdate.svelte
  packages/shared/components/popups/Version.svelte
  packages/shared/lib/core/app/constants/external-allowed-links.constant.ts
  packages/shared/lib/core/app/constants/index.ts
  packages/shared/lib/core/app/utils/index.ts
  packages/shared/lib/core/app/utils/openUrlInBrowser.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#5359 feat: open nft media in browser
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
  packages/desktop/views/dashboard/collectibles/views/NftDetailsView.svelte
  packages/desktop/views/dashboard/collectibles/views/index.js
  packages/shared/components/modals/CollectibleDetailsMenu.svelte
  packages/shared/lib/core/app/utils/openUrlInBrowser.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/nfts/utils/rewriteIpfsUri.ts
  packages/shared/locales/en.json
Labels: type:feature, context:wallet, stardust

#5302 update nft placeholder icons
  packages/desktop/views/dashboard/collectibles/views/NftDetailsView.svelte
  packages/shared/components/molecules/NftMediaContainer.svelte
  packages/shared/components/molecules/NftPlaceholderIcon.svelte
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-application-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-application-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-audio-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-audio-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-font-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-font-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-image-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-image-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-model-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-model-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-text-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-text-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-unknown-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-unknown-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-video-large.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/collectibles-video-small.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
Labels: type:ui, stardust

#5349 refactor: mobile routers folder
  packages/mobile/lib/routers/actions/goToAppContext.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard/account-switcher-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/activity-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/enums/dashboard/profile-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/send-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/token-route.enum.ts
  packages/mobile/lib/routers/enums/index.ts
  packages/mobile/lib/routers/index.ts
  packages/mobile/lib/routers/routers/app-router.ts
  packages/mobile/lib/routers/routers/dashboard-router.ts
  packages/mobile/lib/routers/routers/dashboard/account-switcher-router.ts
  packages/mobile/lib/routers/routers/dashboard/activity-router.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/routers/dashboard/send-router.ts
  packages/mobile/lib/routers/routers/dashboard/token-router.ts
  packages/mobile/lib/routers/routers/index.ts
  packages/mobile/lib/routers/routers/login-router.ts
  packages/mobile/lib/routers/routers/onboarding-router.ts
  packages/mobile/lib/routers/routers/onboarding/app-setup-router.ts
  packages/mobile/lib/routers/routers/onboarding/index.ts
  packages/mobile/lib/routers/routers/onboarding/network-setup-router.ts
  packages/mobile/lib/routers/routers/onboarding/profile-backup-router.ts
  packages/mobile/lib/routers/routers/onboarding/profile-recovery-router.ts
  packages/mobile/lib/routers/routers/onboarding/profile-setup-router.ts
  packages/mobile/lib/routers/routers/onboarding/storage-protection-setup-router.ts
  packages/mobile/lib/routers/routers/onboarding/stronghold-setup-router.ts
  packages/mobile/lib/routers/utils/getAppRouter.ts
  packages/mobile/lib/routers/utils/getRouterForAppContext.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
Labels: type:refactor, platform:mobile, package:mobile, stardust

#5353 feat: kickoff mobile settings routing
  packages/mobile/components/buttons/ProfileActionsButton.svelte
  packages/mobile/features/features.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/lib/routers/enums/index.ts
  packages/mobile/lib/routers/enums/profile-route.enum.ts
  packages/mobile/lib/routers/enums/settings/advanced-settings-route.enum.ts
  packages/mobile/lib/routers/enums/settings/general-settings-route.enum.ts
  packages/mobile/lib/routers/enums/settings/help-and-info-route.enum.ts
  packages/mobile/lib/routers/enums/settings/index.ts
  packages/mobile/lib/routers/enums/settings/security-settings-route.enum.ts
  packages/mobile/lib/routers/enums/settings/settings-route.enum.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/interfaces/profile-router-event.interface.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/routers/dashboard/profile-router.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/drawers/index.js
  packages/mobile/views/dashboard/drawers/profile-actions/ProfileActionsDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile-actions/index.js
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/ProfileRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/index.js
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/SettingsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/index.js
Labels: platform:mobile, package:mobile, stardust

#5336 feat: add expiration to mobile send flow
  packages/mobile/components/ExpirationTimePicker.svelte
  packages/mobile/components/index.js
  packages/mobile/lib/routers/interfaces/send-router-event.interface.ts
  packages/mobile/lib/routers/routers/dashboard/send-router.ts
  packages/mobile/views/dashboard/drawers/send/SendDrawer.svelte
  packages/mobile/views/dashboard/drawers/send/SendRouter.svelte
  packages/mobile/views/dashboard/drawers/send/views/Expiration.svelte
  packages/mobile/views/dashboard/drawers/send/views/ReviewView.svelte
  packages/mobile/views/dashboard/drawers/send/views/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#5375 enhancement: nft details and fixes
  packages/desktop/views/dashboard/collectibles/views/NftDetailsView.svelte
  packages/shared/components/atoms/boxes/KeyValueBox.svelte
  packages/shared/components/molecules/activity-info/NftActivityInformation.svelte
  packages/shared/components/molecules/activity-info/NftMetadataInformation.svelte
  packages/shared/components/popups/MintNftConfirmationPopup.svelte
  packages/shared/components/popups/MintNftFormPopup.svelte
  packages/shared/lib/core/nfts/interfaces/index.ts
  packages/shared/lib/core/nfts/interfaces/irc27-attribute.interface.ts
  packages/shared/lib/core/nfts/interfaces/irc27-metadata.interface.ts
  packages/shared/lib/core/nfts/interfaces/nft.interface.ts
  packages/shared/lib/core/nfts/utils/buildNftFromNftOutput.ts
  packages/shared/lib/core/nfts/utils/convertAndFormatNftMetadata.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/nfts/utils/parseNftMetadata.ts
  packages/shared/lib/core/wallet/enums/index.ts
  packages/shared/lib/core/wallet/enums/irc27-version.enum.ts
  packages/shared/lib/core/wallet/enums/token-standard.enum.ts
  packages/shared/lib/core/wallet/helpers/buildPersistedAssetFromIrc30Metadata.ts
  packages/shared/lib/core/wallet/interfaces/irc30-metadata.interface.ts
  packages/shared/lib/core/wallet/utils/getHexAddressFromAddressTypes.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/locales/en.json
Labels: type:enhancement, stardust, context:collectibles

#5357 feat: governance proposals dashboard
  packages/desktop/views/dashboard/governance/views/ProposalsView.svelte
  packages/shared/components/ProposalStatusInfo.svelte
  packages/shared/components/ProposalStatusTimelineTooltip.svelte
  packages/shared/components/Proposals.svelte
  packages/shared/components/atoms/pills/ProposalStatusPill.svelte
  packages/shared/components/enums/index.ts
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/components/organisms/index.js
  packages/shared/components/popups/RegisterProposalPopup.svelte
  packages/shared/lib/core/governance/enums/index.ts
  packages/shared/lib/core/governance/enums/proposal-status.enum.ts
  packages/shared/lib/core/governance/interfaces/index.ts
  packages/shared/lib/core/governance/interfaces/organization.interface.ts
  packages/shared/lib/core/governance/interfaces/proposal.interface.ts
  packages/shared/lib/core/governance/stores/selected-proposal.store.ts
  packages/shared/lib/core/governance/utils/createProposalsFromEvents.ts
  packages/shared/lib/core/governance/utils/index.ts
  packages/shared/lib/core/profile-manager/api/getVotingProposals.ts
  packages/shared/lib/core/profile-manager/api/index.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/tests/__mocks__/profile-manager.mock.ts
Labels: context:governance, stardust

#5381 fix: fix asset actions not displayed
  packages/mobile/views/dashboard/drawers/token/TokenDrawer.svelte
  packages/mobile/views/dashboard/drawers/token/views/TokenInformation.svelte
  packages/shared/components/popups/MintNativeTokenConfirmationPopup.svelte
  packages/shared/components/popups/TokenInformationPopup.svelte
Labels: type:fix, context:wallet, stardust

#5383 enhancement: burn confirmation popup
  packages/shared/components/atoms/boxes/KeyValueBox.svelte
  packages/shared/components/inputs/SliderInput.svelte
  packages/shared/components/popups/BurnNativeTokensConfirmationPopup.svelte
  packages/shared/components/popups/BurnNativeTokensPopup.svelte
  packages/shared/components/popups/Index.svelte
Labels: type:enhancement, context:wallet, stardust

#5378 feat: proposal dashboard
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/ProposalAnswer.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/components/ProposalStatusTimelineTooltip.svelte
  packages/shared/components/index.js
  packages/shared/components/modals/ProposalsDetailsMenu.svelte
  packages/shared/components/organisms/ProposalInformation.svelte
  packages/shared/components/organisms/index.js
  packages/shared/lib/core/account/api/getParticipationOverview.ts
  packages/shared/lib/core/account/api/index.ts
  packages/shared/lib/core/account/interfaces/account.interface.ts
  packages/shared/lib/core/governance/interfaces/index.ts
  packages/shared/lib/core/governance/interfaces/participation.interface.ts
  packages/shared/lib/core/governance/interfaces/proposal.interface.ts
  packages/shared/lib/core/governance/utils/createProposalsFromEvents.ts
  packages/shared/lib/core/profile-manager/api/getVotingProposal.ts
  packages/shared/lib/core/profile-manager/api/index.ts
  packages/shared/lib/core/utils/constants/date-format.constant.ts
  packages/shared/lib/core/utils/constants/index.ts
  packages/shared/lib/tests/__mocks__/account.mock.ts
Labels: context:governance, stardust

#5399 fix: change index signature parameter types in IParticipations
  packages/shared/lib/core/governance/interfaces/participation.interface.ts
Labels: priority:1, type:fix, package:shared

#5403 Refactor: remove collectibles folder from core library
  packages/shared/lib/core/collectibles/enums/attribute-display-type.enum.ts
  packages/shared/lib/core/collectibles/enums/index.ts
  packages/shared/lib/core/collectibles/enums/standard.enum.ts
  packages/shared/lib/core/collectibles/index.ts
  packages/shared/lib/core/collectibles/interfaces/attribute.interface.ts
  packages/shared/lib/core/collectibles/interfaces/index.ts
  packages/shared/lib/core/collectibles/interfaces/nft.interface.ts
  packages/shared/lib/core/collectibles/types/attribute.type.ts
  packages/shared/lib/core/collectibles/types/collection.type.ts
  packages/shared/lib/core/collectibles/types/index.ts
  packages/shared/lib/core/collectibles/types/royalties.type.ts
Labels: type:refactor, context:collectibles

#5389 enhancement: blacklist localhost
  packages/desktop/electron/main.js
Labels: type:enhancement, type:fix, stardust

#5305 feat-mobile: add actions for token information
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/enums/index.ts
  packages/mobile/lib/contexts/dashboard/enums/token-action.enum.ts
  packages/mobile/lib/routers/interfaces/token-router-event.interface.ts
  packages/mobile/lib/routers/routers/dashboard/token-router.ts
  packages/mobile/views/dashboard/drawers/token/TokenRouter.svelte
  packages/mobile/views/dashboard/drawers/token/views/TokenInformation.svelte
Labels: type:feature, platform:mobile, context:wallet, package:mobile, stardust

#5408 fix: audit fixes for url whitelist
  packages/shared/lib/core/app/utils/openUrlInBrowser.ts
Labels: scope:security, type:fix, stardust

#5387 fix: fix corrupted profiles
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/profiles/checkAndMigrateProfiles.ts
  packages/shared/lib/core/profile/constants/profile-version.constant.ts
  packages/shared/lib/core/profile/stores/profiles.store.ts
Labels: type:fix, context:wallet, stardust

#5407 ui: animate pending activity tile
  packages/shared/components/atoms/tiles/ActivityTile.svelte
Labels: type:ui, stardust

#5398 feat: basic media support for collectibles
  packages/desktop/public/index.html
  packages/desktop/views/dashboard/Sidebar.svelte
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
  packages/desktop/views/dashboard/collectibles/stores/index.ts
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/desktop/views/dashboard/collectibles/views/CollectiblesGalleryView.svelte
  packages/desktop/views/dashboard/collectibles/views/index.js
  packages/shared/components/atoms/MediaDisplay.svelte
  packages/shared/components/atoms/index.js
  packages/shared/components/atoms/tiles/tileContents/NftActivityTileContent.svelte
  packages/shared/components/inputs/NftInput.svelte
  packages/shared/components/molecules/MediaPlaceholder.svelte
  packages/shared/components/molecules/NftActivityDetails.svelte
  packages/shared/components/molecules/NftGallery.svelte
  packages/shared/components/molecules/NftGalleryItem.svelte
  packages/shared/components/molecules/NftImageOrIconBox.svelte
  packages/shared/components/molecules/NftMedia.svelte
  packages/shared/components/molecules/NftMediaContainer.svelte
  packages/shared/components/molecules/index.js
  packages/shared/components/popups/MintNftConfirmationPopup.svelte
  packages/shared/components/popups/send/SendConfirmationPopup.svelte
  packages/shared/lib/core/nfts/enums/supported-mime-type.enum.ts
  packages/shared/lib/core/nfts/stores/index.ts
  packages/shared/lib/core/nfts/stores/selected-nft.store.ts
  packages/shared/lib/core/nfts/types/mime-type.type.ts
Labels: type:feature, stardust, context:collectibles

#5412 feat: adds the ability to remove proposals
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/atoms/buttons/ProposalDetailsButton.svelte
  packages/shared/components/atoms/buttons/index.js
  packages/shared/components/modals/ProposalDetailsMenu.svelte
  packages/shared/components/modals/index.js
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/RemoveProposalPopup.svelte
  packages/shared/locales/en.json
Labels: type:feature, context:governance, stardust

#5415 feat: implement voting flow
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/VoteForProposalPopup.svelte
  packages/shared/lib/core/account/api/index.ts
  packages/shared/lib/core/account/api/vote.ts
  packages/shared/lib/core/account/interfaces/account.interface.ts
  packages/shared/lib/core/error/handlers/walletRs/walletRs/handleClientError.ts
  packages/shared/lib/tests/__mocks__/account.mock.ts
  packages/shared/locales/en.json
Labels: context:governance, stardust

#5418 enhancement: reset collectibles router if account changes
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
Labels: type:enhancement, context:wallet, stardust, context:collectibles

#5394 fix: collectibles scrollbar spacing
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/shared/components/molecules/NftGallery.svelte
Labels: type:fix, context:collectibles

#5420 fix: fix backbutton if switched from details view
  packages/desktop/views/dashboard/Sidebar.svelte
Labels: type:fix, context:wallet, stardust

#5422 fix: update network address
  packages/shared/lib/core/layer-2/constants/network-address.constant.ts
Labels: type:fix, stardust

#5401 feat: display soonaverse attributes
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/shared/lib/core/nfts/interfaces/index.ts
  packages/shared/lib/core/nfts/interfaces/irc27-metadata.interface.ts
  packages/shared/lib/core/nfts/interfaces/soonaverse-attribute.interface.ts
  packages/shared/lib/core/nfts/interfaces/soonaverse-attributes.interface.ts
  packages/shared/lib/core/nfts/utils/parseNftMetadata.ts
  packages/shared/locales/en.json
Labels: status:do-not-merge, type:feature, stardust, context:collectibles

#5410 ui: add elevation to collectibles
  packages/shared/components/molecules/NftGallery.svelte
  packages/shared/components/molecules/NftGalleryItem.svelte
Labels: type:ui, stardust, context:collectibles

#5419 feat-mobile: setup settings menu
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/index.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/lib/contexts/dashboard/enums/index.ts
  packages/mobile/lib/contexts/dashboard/enums/settings-category.enum.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/enums/dashboard/settings-route.enum.ts
  packages/mobile/lib/routers/enums/index.ts
  packages/mobile/lib/routers/enums/profile-route.enum.ts
  packages/mobile/lib/routers/enums/settings/advanced-settings-route.enum.ts
  packages/mobile/lib/routers/enums/settings/general-settings-route.enum.ts
  packages/mobile/lib/routers/enums/settings/help-and-info-route.enum.ts
  packages/mobile/lib/routers/enums/settings/index.ts
  packages/mobile/lib/routers/enums/settings/security-settings-route.enum.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/routers/dashboard/settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/ProfileRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/SettingsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/SettingsRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/index.js
  packages/mobile/views/dashboard/drawers/profile/views/settings/security/ChangePasswordView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/security/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#5424 feat-mobile: add change password to settings
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/interfaces/settings-router-event.interface.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/routers/dashboard/settings-router.ts
  packages/mobile/lib/routers/routers/index.ts
  packages/mobile/lib/routers/routers/settings-router.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/ProfileRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/SettingsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/index.js
  packages/mobile/views/dashboard/drawers/profile/views/settings/SettingsRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/SettingsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/index.js
  packages/mobile/views/dashboard/drawers/profile/views/settings/security/ChangePasswordView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/ChangePasswordView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/SettingsIndexView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: platform:mobile, package:mobile, stardust

#5431 fix: add preventDefault to all forms
  packages/desktop/electron/main.js
  packages/desktop/views/dashboard/settings/views/general/ChangeProfileName.svelte
  packages/desktop/views/dashboard/settings/views/security/ChangePassword.svelte
  packages/desktop/views/dashboard/settings/views/security/ChangePincode.svelte
  packages/desktop/views/onboarding/views/network-setup/views/SetupPrivateNetworkConnectionView.svelte
  packages/desktop/views/onboarding/views/profile-recovery/views/ImportMnemonicPhraseView.svelte
  packages/desktop/views/onboarding/views/storage-protection-setup/views/SetupPinProtectionView.svelte
  packages/mobile/components/StrongholdUnlock.svelte
  packages/mobile/views/onboarding/views/profile-recovery/views/ImportMnemonicPhraseView.svelte
  packages/mobile/views/onboarding/views/storage-protection-setup/views/SetupPinProtectionView.svelte
  packages/shared/components/organisms/NodeConfigurationForm.svelte
  packages/shared/components/popups/AddNodePopup.svelte
  packages/shared/components/popups/DeleteAccount.svelte
  packages/shared/components/popups/UnlockStrongholdPopup.svelte
Labels: type:chore, type:fix, stardust

#5432 feat: flow to stop voting for a proposal
  packages/shared/components/modals/ProposalDetailsMenu.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/StopVotingPopup.svelte
  packages/shared/lib/core/account/api/vote.ts
  packages/shared/lib/core/error/handlers/index.ts
  packages/shared/lib/core/governance/actions/index.ts
  packages/shared/lib/core/governance/actions/stopVotingForProposal.ts
  packages/shared/lib/core/governance/utils/index.ts
  packages/shared/lib/core/governance/utils/isVotingForSelectedProposal.ts
  packages/shared/locales/en.json
Labels: type:feature, context:governance, stardust

#5439 refactor: move `governance` module to contexts directory
  packages/desktop/features/features.ts
  packages/desktop/features/governance.features.ts
  packages/desktop/views/dashboard/governance/Governance.svelte
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/desktop/views/dashboard/governance/views/ProposalsView.svelte
  packages/shared/components/ProposalStatusInfo.svelte
  packages/shared/components/ProposalStatusTimelineTooltip.svelte
  packages/shared/components/Proposals.svelte
  packages/shared/components/atoms/pills/ProposalStatusPill.svelte
  packages/shared/components/modals/ProposalDetailsMenu.svelte
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/components/organisms/ProposalInformation.svelte
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/components/popups/RemoveProposalPopup.svelte
  packages/shared/components/popups/StopVotingPopup.svelte
  packages/shared/components/popups/VoteForProposalPopup.svelte
  packages/shared/lib/contexts/governance/actions/index.ts
  packages/shared/lib/contexts/governance/actions/proposalsStatePolling.ts
  packages/shared/lib/contexts/governance/actions/setVotingPower.ts
  packages/shared/lib/contexts/governance/actions/stopVotingForProposal.ts
  packages/shared/lib/contexts/governance/constants/index.ts
  packages/shared/lib/contexts/governance/constants/proposal-status-poll-interval.constant.ts
  packages/shared/lib/contexts/governance/enums/index.ts
  packages/shared/lib/contexts/governance/enums/proposal-status.enum.ts
  packages/shared/lib/contexts/governance/index.ts
  packages/shared/lib/contexts/governance/interfaces/index.ts
  packages/shared/lib/contexts/governance/interfaces/organization.interface.ts
  packages/shared/lib/contexts/governance/interfaces/participation.interface.ts
  packages/shared/lib/contexts/governance/interfaces/proposal.interface.ts
  packages/shared/lib/contexts/governance/stores/index.ts
  packages/shared/lib/contexts/governance/stores/proposals-state.store.ts
  packages/shared/lib/contexts/governance/stores/registered-event-ids.store.ts
  packages/shared/lib/contexts/governance/stores/selected-proposal.store.ts
  packages/shared/lib/contexts/governance/utils/createProposalsFromEvents.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/isVotingForSelectedProposal.ts
  packages/shared/lib/core/profile-manager/api/deregisterParticipationEvent.ts
  packages/shared/lib/core/profile-manager/api/registerParticipationEvent.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:refactor, context:governance

#5436 enhancement: add error toast if media doesnt load
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/shared/components/atoms/MediaDisplay.svelte
  packages/shared/components/atoms/buttons/TooltipIcon.svelte
  packages/shared/components/molecules/NftGalleryItem.svelte
  packages/shared/components/molecules/NftMedia.svelte
  packages/shared/locales/en.json
Labels: type:enhancement, stardust, context:nft

#5451 enhancement: link to nft details from nft activity popup
  packages/shared/components/molecules/NftActivityDetails.svelte
  packages/shared/components/molecules/NftImageOrIconBox.svelte
  packages/shared/components/molecules/NftMedia.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
Labels: type:enhancement, context:collectibles

#5456 feat: adds node authentication flow in voting
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/NodeAuthRequiredPopup.svelte
  packages/shared/components/popups/RegisterProposalPopup.svelte
  packages/shared/locales/en.json
Labels: type:feature, context:governance, stardust

#5474 fix: correct proposal state store
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/lib/contexts/governance/interfaces/index.ts
  packages/shared/lib/contexts/governance/interfaces/proposal-state.interface.ts
  packages/shared/lib/contexts/governance/stores/proposals-state.store.ts
Labels: type:fix, context:governance

#5460 enhancement: add uri info on nft mint form
  packages/shared/components/popups/MintNftFormPopup.svelte
  packages/shared/locales/en.json
Labels: type:enhancement, stardust, context:nft

#5461 enhancement: add amount input on nft minting
  packages/shared/components/popups/MintNftConfirmationPopup.svelte
  packages/shared/components/popups/MintNftFormPopup.svelte
  packages/shared/lib/core/wallet/actions/mintNft.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/interfaces/mint-nft-details.interface.ts
  packages/shared/lib/core/wallet/stores/mint-nft-details.store.ts
Labels: type:enhancement, stardust, context:nft

#5457 enhancement: add max media size setting
  packages/desktop/features/features.ts
  packages/desktop/views/dashboard/settings/views/security/MaxMediaSize.svelte
  packages/desktop/views/dashboard/settings/views/security/Security.svelte
  packages/desktop/views/dashboard/settings/views/security/index.js
  packages/shared/components/atoms/MediaDisplay.svelte
  packages/shared/lib/auxiliary/icon/constants/settings-icon-svg.ts
  packages/shared/lib/core/profile/actions/profiles/checkAndMigrateProfiles.ts
  packages/shared/lib/core/profile/constants/default-persisted-profile-object.constant.ts
  packages/shared/lib/core/profile/constants/profile-version.constant.ts
  packages/shared/lib/core/profile/interfaces/profile-settings.interface.ts
  packages/shared/lib/core/router/enums/settings/security-settings-route.enum.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#5455 feat: governance details dashboard pane
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/lib/contexts/governance/interfaces/index.ts
  packages/shared/lib/contexts/governance/interfaces/proposals-details.interface.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfActiveProposals.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfVotingProposals.ts
  packages/shared/lib/contexts/governance/utils/getTotalNumberOfProposals.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/isProposalActive.ts
  packages/shared/lib/contexts/governance/utils/isVotingForProposal.ts
  packages/shared/lib/contexts/governance/utils/isVotingForSelectedProposal.ts
Labels: type:feature, context:governance

#5488 fix: add not owned nfts to nft store
  packages/shared/lib/core/nfts/actions/loadNftsForActiveProfile.ts
Labels: type:fix, stardust, context:nft

#5440 feat: show vote percentages
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/ProposalAnswer.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/components/popups/VoteForProposalPopup.svelte
  packages/shared/lib/contexts/governance/interfaces/proposal.interface.ts
  packages/shared/lib/contexts/governance/utils/isVotingForSelectedProposal.ts
Labels: type:feature, context:governance, stardust

#5473 feat-mobile: add wallet finder to settings
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/lib/routers/routers/settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/SettingsRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/WalletFinderView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5493 enhancement: add isTransferring behavior to vote and stop vote
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/popups/StopVotingPopup.svelte
  packages/shared/components/popups/VoteForProposalPopup.svelte
Labels: type:enhancement, context:governance, type:ui, stardust

#5463 feat-mobile: add diagnostics to settings
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/DiagnosticsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/SettingsIndexView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#5464 refactor: activity generation
  packages/shared/components/atoms/tiles/tileContents/AliasActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/FoundryActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/NftActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/TransactionActivityTileContent.svelte
  packages/shared/components/popups/AliasConfirmationPopup.svelte
  packages/shared/lib/contexts/governance/actions/setVotingPower.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/wallet/actions/activities/generateActivitiesFromProcessedTransactions.ts
  packages/shared/lib/core/wallet/actions/burnAsset.ts
  packages/shared/lib/core/wallet/actions/burnNft.ts
  packages/shared/lib/core/wallet/actions/consolidateOutputs.ts
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/actions/mintNft.ts
  packages/shared/lib/core/wallet/actions/sendOutput.ts
  packages/shared/lib/core/wallet/enums/activity-action.enum.ts
  packages/shared/lib/core/wallet/interfaces/activity-generation-parameters.interface.ts
  packages/shared/lib/core/wallet/interfaces/index.ts
  packages/shared/lib/core/wallet/stores/all-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivities.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateAliasActivitiesFromTransaction.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateBasicActivitiesFromTransaction.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateFoundryActivitiesFromTransaction.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateNftActivitiesFromTransaction.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleAliasActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleBasicActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleFoundryActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleNftActivity.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getActivityTypeFromOutput.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getAsyncDataFromOutput.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getSendingInformation.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/index.ts
  packages/shared/lib/core/wallet/utils/generateActivity/index.ts
  packages/shared/lib/core/wallet/utils/getActivityTileTitle.ts
  packages/shared/lib/core/wallet/utils/getActivityType.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessGroupedOutputs.ts
  packages/shared/lib/core/wallet/utils/outputs/preprocessTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/activityOutputContainsValue.ts
  packages/shared/lib/core/wallet/utils/transactions/getFoundryOutputFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/getNftOutputFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/getNonRemainderBasicOutputsFromTransaction.ts
  packages/shared/lib/core/wallet/utils/transactions/index.ts
  packages/shared/lib/core/wallet/utils/transactions/outputContainsValue.ts
Labels: type:enhancement, type:refactor, context:wallet, stardust

#5501 fix: get participation event not called after logout
  packages/desktop/views/dashboard/governance/Governance.svelte
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/lib/contexts/governance/stores/proposals-state.store.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfActiveProposals.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfVotingProposals.ts
  packages/shared/lib/contexts/governance/utils/getTotalNumberOfProposals.ts
  packages/shared/lib/contexts/governance/utils/isVotingForProposal.ts
  packages/shared/lib/core/profile-manager/api/getAccount.ts
  packages/shared/lib/core/profile-manager/api/getVotingEvent.ts
  packages/shared/lib/core/profile-manager/api/getVotingEvents.ts
  packages/shared/lib/core/profile-manager/api/index.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
Labels: type:fix

#5477 feat-mobile: add copy to clipboard to receive
  packages/mobile/views/dashboard/drawers/ReceiveDrawer.svelte
Labels: type:enhancement, platform:mobile, package:mobile, stardust

#5484 feat-mobile: add app lock setting
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/AppLockView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5489 feat-mobile: add profile actions buttons and use it for settings
  packages/mobile/components/TopBar.svelte
  packages/mobile/components/buttons/DashboardProfileButton.svelte
  packages/mobile/components/buttons/ProfileActionButton.svelte
  packages/mobile/components/buttons/index.js
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
  packages/shared/locales/en.json
Labels: platform:mobile, package:mobile, type:ui, stardust

#5476 feat-mobile: delete profile
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/DeleteProfileView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5458 fix-mobile: logout doesnt destroy drawers
  packages/mobile/components/Drawer.svelte
  packages/mobile/views/dashboard/drawers/AccountSwitcherDrawer.svelte
Labels: type:fix, platform:mobile, package:mobile, stardust

#5475 fix-mobile: reset settings router on drawer close
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
Labels: type:fix, platform:mobile, context:settings, package:mobile, stardust

#5481 feat-mobile: add change profile setting
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/ChangeProfileNameView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5479 feat-mobile: add hidden wallets settings
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/HiddenAccountsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5483 feat-mobile: add currency setting
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/CurrencyView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5492 feat-mobile: add network status button & view
  packages/mobile/components/buttons/NetworkStatusButton.svelte
  packages/mobile/components/buttons/index.js
  packages/mobile/features/features.ts
  packages/mobile/lib/routers/enums/dashboard/profile-route.enum.ts
  packages/mobile/lib/routers/interfaces/profile-router-event.interface.ts
  packages/mobile/lib/routers/routers/dashboard/profile-router.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/ProfileRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/NetworkStatusView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/index.js
Labels: type:feature, platform:mobile, package:mobile, type:ui

#5485 feat-mobile: add settings help & info external links
  packages/mobile/components/Drawer.svelte
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/settings-route-meta.constant.ts
  packages/mobile/lib/routers/enums/dashboard/settings-route.enum.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/SettingsIndexView.svelte
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5494 feat-mobile: profile lock
  packages/mobile/components/buttons/ProfileLockButton.svelte
  packages/mobile/components/buttons/index.js
  packages/mobile/features/features.ts
  packages/mobile/lib/routers/routers/dashboard/profile-router.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5524 fix-mobile: refresh views on locale change
  packages/mobile/App.svelte
Labels: type:fix, platform:mobile, package:mobile, stardust

#5531 fix: de-bounce buttons on Governance actions
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/components/popups/RegisterProposalPopup.svelte
  packages/shared/lib/contexts/governance/interfaces/proposal-state.interface.ts
  packages/shared/lib/core/error/handlers/handleError.ts
  packages/shared/lib/core/error/handlers/handleGenericError.ts
  packages/shared/locales/en.json
Labels: type:fix, context:governance

#5530 fix: fix on available balance click
  packages/shared/components/inputs/AssetAmountInput.svelte
Labels: type:fix, context:wallet, stardust

#5521 fix-mobile: max balance set undefined unit, and unit change validation
  packages/mobile/components/inputs/RecipientInput.svelte
  packages/mobile/views/dashboard/drawers/send/views/AmountView.svelte
  packages/mobile/views/dashboard/drawers/send/views/RecipientView.svelte
Labels: type:fix, platform:mobile, package:mobile, stardust

#5522 feat-mobile: add recipient quick list
  packages/mobile/components/inputs/RecipientInput.svelte
  packages/mobile/views/dashboard/drawers/send/views/RecipientView.svelte
Labels: type:feature, platform:mobile, package:mobile, stardust

#5523 feat-mobile: add fiat value to send amount
  packages/mobile/views/dashboard/drawers/send/views/AmountView.svelte
Labels: platform:mobile, package:mobile, stardust
