Repository iotaledger/firefly, pull requests merged in 2022-02, with the labels that each got.

#1615 Feat: add mobile QR scanner
  packages/mobile/App.svelte
  packages/mobile/android/app/src/main/AndroidManifest.xml
  packages/mobile/ios/App/App/Info.plist
  packages/mobile/lib/qrScanner.ts
  packages/mobile/package.json
  packages/mobile/yarn.lock
  packages/shared/components/QRScanner.svelte
  packages/shared/components/index.js
  packages/shared/lib/device.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/wallet/views/Send.svelte
Labels: scope:dependencies, type:feature, scope:mobile

#1857 feat: transaction search and filtering
  packages/shared/components/icon/icons.js
  packages/shared/components/inputs/Input.svelte
  packages/shared/lib/utils.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/wallet/views/Account.svelte
  packages/shared/routes/dashboard/wallet/views/AccountHistory.svelte
Labels: type:feature, scope:desktop

#1774 Feat: Account colour customization
  packages/shared/assets/patterns/wallet-balance-darkmode.svg
  packages/shared/assets/patterns/wallet-balance.svg
  packages/shared/components/AccountTile.svelte
  packages/shared/components/ActivityDetail.svelte
  packages/shared/components/ActivityRow.svelte
  packages/shared/components/BalanceSummary.svelte
  packages/shared/components/ColorPicker.svelte
  packages/shared/components/WalletPill.svelte
  packages/shared/components/charts/Bar.svelte
  packages/shared/components/charts/Index.svelte
  packages/shared/components/charts/Line.svelte
  packages/shared/components/icon/Index.svelte
  packages/shared/components/icon/icons.js
  packages/shared/components/index.js
  packages/shared/lib/chart.ts
  packages/shared/lib/helpers.ts
  packages/shared/lib/profile.ts
  packages/shared/lib/typings/chart.ts
  packages/shared/lib/typings/profile.ts
  packages/shared/lib/wallet.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/staking/views/StakingAirdrop.svelte
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/dashboard/wallet/views/Account.svelte
  packages/shared/routes/dashboard/wallet/views/AccountActions.svelte
  packages/shared/routes/dashboard/wallet/views/AccountBalance.svelte
  packages/shared/routes/dashboard/wallet/views/AccountNavigation.svelte
  packages/shared/routes/dashboard/wallet/views/BarChart.svelte
  packages/shared/routes/dashboard/wallet/views/CreateAccount.svelte
  packages/shared/routes/dashboard/wallet/views/LineChart.svelte
  packages/shared/routes/dashboard/wallet/views/ManageAccount.svelte
  packages/shared/routes/dashboard/wallet/views/WalletActions.svelte
Labels: type:feature, scope:desktop

#2257 chore: improve PR template
  .github/pull_request_template.md
Labels: type:chore

#2243 feat: Remove PII from Sentry reports
  packages/backend/bindings/node/index.ts
  packages/backend/bindings/node/native/src/lib.rs
  packages/backend/src/lib.rs
  packages/desktop/electron/main.js
  packages/desktop/electron/preload.js
  packages/desktop/package.json
  packages/desktop/sentry.js
  packages/desktop/webpack.config.js
  packages/shared/lib/electron.ts
  packages/shared/lib/wallet.ts
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/setup/Profile.svelte
  yarn.lock
Labels: type:enhancement, scope:backend, scope:desktop

#2267 feat: Sentry reporting conditional initialization
  packages/desktop/electron/lib/aboutPreload.js
  packages/desktop/electron/lib/errorPreload.js
  packages/desktop/electron/main.js
  packages/desktop/electron/preload.js
  packages/desktop/index.js
  packages/desktop/sentry.js
Labels: type:fix, scope:desktop

#2265 chore: Update ToS and privacy policy
  packages/shared/routes/setup/Legal.svelte
Labels: type:chore, scope:shared

#2193 refactor: script markup style
  packages/desktop/App.svelte
  packages/mobile/App.svelte
  packages/shared/components/AccountTile.svelte
  packages/shared/components/ActivityDetail.svelte
  packages/shared/components/Button.svelte
  packages/shared/components/DashboardPane.svelte
  packages/shared/components/Link.svelte
  packages/shared/components/ProgressBar.svelte
  packages/shared/components/ProgressFlow.svelte
  packages/shared/components/QR.svelte
  packages/shared/components/RecoveryPhrase.svelte
  packages/shared/components/SecurityTile.svelte
  packages/shared/components/Sidebar.svelte
  packages/shared/components/SpentAddress.svelte
  packages/shared/components/StakingAirdropIndicator.svelte
  packages/shared/components/Text.svelte
  packages/shared/components/ToastContainer.svelte
  packages/shared/components/Tooltip.svelte
  packages/shared/components/Video.svelte
  packages/shared/components/icon/Index.svelte
  packages/shared/components/inputs/Address.svelte
  packages/shared/components/inputs/Amount.svelte
  packages/shared/components/inputs/Checkbox.svelte
  packages/shared/components/inputs/Dropdown.svelte
  packages/shared/components/inputs/Dropzone.svelte
  packages/shared/components/inputs/ImportTextfield.svelte
  packages/shared/components/inputs/Input.svelte
  packages/shared/components/inputs/Number.svelte
  packages/shared/components/inputs/Password.svelte
  packages/shared/components/inputs/Pin.svelte
  packages/shared/components/inputs/Radio.svelte
  packages/shared/components/inputs/Toggle.svelte
  packages/shared/components/modals/Modal.svelte
  packages/shared/components/popups/AddressHistory.svelte
  packages/shared/components/popups/Backup.svelte
  packages/shared/components/popups/ErrorLog.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/LedgerAppGuide.svelte
  packages/shared/components/popups/LedgerConnectionGuide.svelte
  packages/shared/components/popups/LedgerLegacyTransaction.svelte
  packages/shared/components/popups/LedgerTransaction.svelte
  packages/shared/components/popups/StakingManager.svelte
  packages/shared/components/popups/Transaction.svelte
  packages/shared/components/popups/Version.svelte
  packages/shared/lib/ledger.ts
  packages/shared/lib/typings/routes.ts
  packages/shared/routes/dashboard/staking/Staking.svelte
  packages/shared/routes/dashboard/staking/views/StakingInfo.svelte
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/dashboard/wallet/views/AccountNavigation.svelte
  packages/shared/routes/dashboard/wallet/views/LineChart.svelte
  packages/shared/routes/dashboard/wallet/views/Receive.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  packages/shared/routes/dashboard/wallet/views/WalletBalance.svelte
  packages/shared/routes/setup/Legal.svelte
Labels: type:refactor

#2264 chore(ci): Invalidate CloudFront cache for auto-update files upon release
  .github/workflows/build-desktop.yml
Labels: type:chore, scope:ci

#2268 feat(shared): Privacy policy and ToS update alerts
  packages/shared/components/popups/Index.svelte
  packages/shared/components/popups/LegalUpdate.svelte
  packages/shared/lib/app.ts
  packages/shared/lib/appSettings.ts
  packages/shared/locales/en.json
  packages/shared/routes/login/views/SelectProfile.svelte
  packages/shared/routes/setup/Legal.svelte
Labels: type:feature, scope:shared

#2289 chore(desktop): Output Webpack chunks to build folder
  packages/desktop/webpack.config.js
Labels: type:chore, scope:desktop

#2291 Fix Mobile build: Paired Webpack dependencies with desktop versions
  packages/mobile/package.json
Labels: type:chore

#2282 feat: validate technical side for basic fetching events and voting
  packages/shared/lib/participation/types.ts
  packages/shared/lib/router.ts
  packages/shared/lib/typings/routes.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/governance/Governance.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceDashboard.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceEventDetails.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceEvents.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceVotingPower.svelte
  packages/shared/routes/dashboard/governance/views/index.js
Labels: type:feature, scope:desktop, scope:voting

#2278 refactor: qr scanner into Platform.BarcodeManager
  packages/mobile/capacitor/capacitorApi.ts
  packages/mobile/capacitor/lib/barcodeManager.ts
  packages/shared/lib/device.ts
  packages/shared/lib/platform.ts
  packages/shared/lib/typings/barcodeManager.ts
  packages/shared/lib/typings/platform.ts
Labels: status:donotmerge, type:refactor, scope:mobile, scope:shared

#2277 chore: precommit only checks staged
  .husky/pre-commit
  package.json
Labels: type:chore

#2204 Chore: Mobile wallet plugin api refactor
  packages/mobile/capacitor/walletPluginApi.ts
  packages/mobile/public/index.html
  packages/shared/components/OnboardingLayout.svelte
  packages/shared/components/Sidebar.svelte
  packages/shared/components/ToastContainer.svelte
  packages/shared/routes/dashboard/Dashboard.svelte
  packages/shared/routes/dashboard/wallet/views/Receive.svelte
Labels: scope:mobile

#2313 fix: quit shortcut
  packages/desktop/electron/lib/menu.js
Labels: type:fix, scope:desktop

#2340 Fix: onboarding layouts mobile
  packages/mobile/App.svelte
  packages/shared/routes/index.js
  packages/shared/routes/setup/CrashReporting.svelte
  packages/shared/routes/setup/Legal.svelte
  packages/shared/routes/setup/Secure.svelte
  packages/shared/routes/setup/Welcome.svelte
  packages/shared/routes/setup/legal/Content.svelte
  packages/shared/routes/setup/legal/Legal.svelte
Labels: scope:mobile

#2302 Fix: Android Capacitor wallet plugin
  packages/backend/bindings/capacitor/android/src/main/java/org/iota/walletactorsystem/WalletPlugin.java
  packages/backend/bindings/capacitor/package.json
  packages/mobile/package.json
Labels: type:fix, scope:mobile

#2334 fix(shared): Autofocus PIN field after accepting legal update
  packages/shared/routes/login/views/EnterPin.svelte
Labels: scope:ux, type:fix, scope:shared

#2366 refactor: add `core` and `common` packages
  packages/shared/lib/common/index.ts
  packages/shared/lib/core/index.ts
Labels: type:refactor, scope:shared

#2369 fix: ensure package modules
  packages/shared/lib/common/index.ts
  packages/shared/lib/core/index.ts
Labels: type:fix, scope:shared

#2363 chore: Update yarn.lock
  yarn.lock
Labels: type:chore

#2388 chore: Use Node.js 14 on CI and update readme
  .github/workflows/build-desktop.yml
  .github/workflows/ci.lint.yml
  .github/workflows/ci.test.yml
  packages/desktop/README.md
Labels: type:documentation, scope:ci

#2386 chore: cleanup packages and names
  package.json
  packages/backend/Cargo.lock
  packages/backend/Cargo.toml
  packages/backend/bindings/capacitor/FireflyActorSystemCapacitorBindings.podspec
  packages/backend/bindings/capacitor/README.md
  packages/backend/bindings/capacitor/android/src/main/AndroidManifest.xml
  packages/backend/bindings/capacitor/android/src/main/java/org/iota/walletactorsystem/WalletPlugin.java
  packages/backend/bindings/capacitor/package.json
  packages/backend/bindings/node/native/Cargo.lock
  packages/backend/bindings/node/native/Cargo.toml
  packages/backend/bindings/node/native/src/lib.rs
  packages/backend/bindings/node/package.json
  packages/desktop/electron/preload.js
  packages/desktop/package.json
  packages/mobile/android/app/src/main/res/values/strings.xml
  packages/mobile/capacitor/walletPluginApi.ts
  packages/mobile/ios/App/App/Info.plist
  packages/mobile/ios/App/Podfile
  packages/mobile/package.json
  packages/mobile/yarn.lock
  yarn.lock
Labels: type:chore, package:backend, package:desktop, package:shared, package:mobile

#2361 chore: Move `selectedAccount` to global state
  packages/shared/components/ActivityDetail.svelte
  packages/shared/components/modals/AccountActions.svelte
  packages/shared/components/popups/DeleteAccount.svelte
  packages/shared/components/popups/HideAccount.svelte
  packages/shared/lib/wallet.ts
  packages/shared/routes/dashboard/Dashboard.svelte
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/dashboard/wallet/views/AccountActions.svelte
  packages/shared/routes/dashboard/wallet/views/AccountHistory.svelte
  packages/shared/routes/dashboard/wallet/views/AccountNavigation.svelte
  packages/shared/routes/dashboard/wallet/views/BarChart.svelte
  packages/shared/routes/dashboard/wallet/views/LineChart.svelte
  packages/shared/routes/dashboard/wallet/views/ManageAccount.svelte
  packages/shared/routes/dashboard/wallet/views/Receive.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  packages/shared/routes/dashboard/wallet/views/WalletActions.svelte
  packages/shared/routes/dashboard/wallet/views/WalletHistory.svelte
Labels: type:refactor

#2372 fix: disabled popup if event is ended or inactive
  packages/shared/components/popups/GovernanceCastVote.svelte
  packages/shared/components/popups/GovernanceVotingPowerInfo.svelte
  packages/shared/components/popups/Success.svelte
  packages/shared/lib/participation/constants.ts
  packages/shared/lib/participation/participation.ts
  packages/shared/routes/dashboard/Dashboard.svelte
  packages/shared/routes/dashboard/governance/Governance.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceEventDetails.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceEvents.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceInfo.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceVotingPower.svelte
Labels: type:enhancement, context:voting, platform:desktop

#2402 feat: remove dead code
  packages/shared/components/ActivityDetail.svelte
  packages/shared/components/ActivityRow.svelte
  packages/shared/components/ColorPicker.svelte
  packages/shared/components/inputs/Amount.svelte
  packages/shared/components/inputs/Dropdown.svelte
  packages/shared/components/modals/AccountActions.svelte
  packages/shared/lib/chart.ts
  packages/shared/lib/typings/wallet.ts
  packages/shared/lib/wallet.ts
  packages/shared/routes/dashboard/wallet/Wallet.svelte
  packages/shared/routes/dashboard/wallet/views/AccountActions.svelte
  packages/shared/routes/dashboard/wallet/views/AccountBalance.svelte
  packages/shared/routes/dashboard/wallet/views/AccountHistory.svelte
  packages/shared/routes/dashboard/wallet/views/AccountNavigation.svelte
  packages/shared/routes/dashboard/wallet/views/BarChart.svelte
  packages/shared/routes/dashboard/wallet/views/LineChart.svelte
  packages/shared/routes/dashboard/wallet/views/ManageAccount.svelte
  packages/shared/routes/dashboard/wallet/views/Receive.svelte
  packages/shared/routes/dashboard/wallet/views/Send.svelte
  packages/shared/routes/dashboard/wallet/views/WalletActions.svelte
  packages/shared/routes/dashboard/wallet/views/WalletBalance.svelte
  packages/shared/routes/dashboard/wallet/views/WalletHistory.svelte
  packages/shared/routes/dashboard/wallet/views/index.js
Labels: type:enhancement

#2407 feat: add account reactivity to voting detail view
  packages/shared/components/popups/GovernanceCastVote.svelte
  packages/shared/routes/dashboard/governance/Governance.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceEventDetails.svelte
Labels: type:enhancement, type:fix

#2415 chore: remove C bindings
  .eslintignore
  .prettierignore
  packages/backend/README.md
  packages/backend/bindings/c/.gitignore
  packages/backend/bindings/c/Cargo.lock
  packages/backend/bindings/c/Cargo.toml
  packages/backend/bindings/c/Makefile
  packages/backend/bindings/c/README.md
  packages/backend/bindings/c/header.h
  packages/backend/bindings/c/include/wallet.h
  packages/backend/bindings/c/main.c
  packages/backend/bindings/c/src/lib.rs
Labels: type:chore, package:backend

#2387 feat: voting event detail
  packages/shared/assets/illustrations/governance/governance-info.svg
  packages/shared/assets/illustrations/governance/treasury.png
  packages/shared/components/Illustration.svelte
  packages/shared/lib/participation/governance.ts
  packages/shared/lib/participation/types.ts
  packages/shared/lib/time.ts
  packages/shared/locales/en.json
  packages/shared/routes/dashboard/governance/Governance.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceDashboard.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceEventDetails.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceEvents.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceInfo.svelte
  packages/shared/routes/dashboard/governance/views/GovernanceVotingPower.svelte
Labels: type:feature, priority:1, package:shared, context:voting, platform:desktop

#2413 fix: ledger regenerate address
  packages/shared/lib/wallet.ts
  packages/shared/routes/dashboard/wallet/Wallet.svelte
Labels: type:fix

#2424 chore: update capacitor bindings script
  packages/backend/bindings/capacitor/package.json
Labels: type:chore, package:backend

#2423 feat: generate `electron-builder` config for each stage
  packages/desktop/App.svelte
  packages/desktop/electron-builder-beta.config.json
  packages/desktop/electron-builder-config.js
  packages/desktop/electron-builder-prod.config.json
  packages/desktop/electron/lib/keychain.js
  packages/desktop/electron/main.js
  packages/desktop/package.json
  packages/desktop/public/assets/icons/mac/beta-icon.icns
  packages/desktop/public/assets/icons/mac/firefly_app_icon_beta-1024.png
  packages/desktop/scripts/fix-productName.js
  packages/desktop/scripts/notarize.macos.js
  packages/desktop/webpack.config.js
  packages/mobile/App.svelte
  packages/mobile/webpack.config.js
  packages/shared/components/Logo.svelte
  packages/shared/lib/app.ts
  packages/shared/lib/typings/stage.ts
  packages/shared/routes/setup/Profile.svelte
Labels: type:chore, package:desktop

#2360 refactor: add path alias support
  packages/desktop/package.json
  packages/desktop/tsconfig.json
  packages/desktop/webpack.config.js
  packages/mobile/capacitor/capacitorApi.ts
  packages/mobile/package.json
  packages/mobile/tsconfig.json
  packages/mobile/webpack.config.js
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/tsconfig.json
  packages/shared/tsconfig.test.json
  yarn.lock
Labels: type:refactor, package:backend, package:desktop, package:shared

#2432 feat: send unvoting disclaimer
  packages/shared/components/popups/Transaction.svelte
  packages/shared/locales/en.json
Labels: context:voting

#2421 chore: update `electron` to 12.2.3
  packages/desktop/package.json
  yarn.lock
Labels: type:chore, platform:desktop
