Repository iotaledger/firefly, pull requests merged in 2023-01, with the labels that each got.

#5525 feat-mobile: prepare network configuration settings router & init view
  packages/mobile/components/NodeListTable.svelte
  packages/mobile/components/index.js
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/constants/index.ts
  packages/mobile/lib/contexts/dashboard/enums/index.ts
  packages/mobile/lib/contexts/settings/constants/index.ts
  packages/mobile/lib/contexts/settings/constants/settings-route-meta.constant.ts
  packages/mobile/lib/contexts/settings/enums/index.ts
  packages/mobile/lib/contexts/settings/enums/network-configuration-settings-action.enum.ts
  packages/mobile/lib/contexts/settings/enums/settings-category.enum.ts
  packages/mobile/lib/contexts/settings/index.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/enums/index.ts
  packages/mobile/lib/routers/enums/settings-route.enum.ts
  packages/mobile/lib/routers/enums/settings/index.ts
  packages/mobile/lib/routers/enums/settings/network-configuration-settings-route.enum.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/interfaces/network-configuration-settings-router-event.interface.ts
  packages/mobile/lib/routers/routers/index.ts
  packages/mobile/lib/routers/routers/settings-router.ts
  packages/mobile/lib/routers/routers/settings/index.ts
  packages/mobile/lib/routers/routers/settings/network-configuration-settings-router.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/SettingsRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/SettingsIndexView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/NetworkConfigurationRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/index.js
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationInitView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#5545 enhancement: add reactivity to governance dashboard when registering proposals
  packages/shared/lib/core/profile-manager/api/registerParticipationEvent.ts
Labels: type:enhancement, context:governance

#5551 chore: update files after branch rename
  .github/pull_request_template.md
  .github/workflows/ci.snyk.yml
  .github/workflows/handbook.yml
  README.md
Labels: type:chore

#5555 chore: update `wallet.rs` version
  packages/shared/lib/core/profile-manager/api/getVotingEventIds.ts
  packages/shared/lib/core/profile-manager/api/index.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/tests/__mocks__/profile-manager.mock.ts
  packages/shared/package.json
  yarn.lock
Labels: type:chore

#5533 refactor: minimize `getParticipationOverview` calls
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/desktop/views/dashboard/governance/views/ProposalsView.svelte
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/lib/contexts/governance/actions/index.ts
  packages/shared/lib/contexts/governance/actions/pollGovernanceData.ts
  packages/shared/lib/contexts/governance/actions/proposalsStatePolling.ts
  packages/shared/lib/contexts/governance/constants/default-participation-overview.constant.ts
  packages/shared/lib/contexts/governance/constants/index.ts
  packages/shared/lib/contexts/governance/stores/index.ts
  packages/shared/lib/contexts/governance/stores/participation-overview.store.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfVotingProposals.ts
  packages/shared/lib/contexts/governance/utils/getTotalNumberOfProposals.ts
  packages/shared/lib/contexts/governance/utils/isVotingForProposal.ts
  packages/shared/lib/contexts/governance/utils/isVotingForSelectedProposal.ts
  packages/shared/lib/core/account/actions/setSelectedAccount.ts
  packages/shared/lib/core/account/api/getParticipationOverview.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:refactor, context:governance

#5527 feat-mobile: view node information
  packages/mobile/components/NodeListTable.svelte
  packages/mobile/lib/routers/routers/settings/network-configuration-settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/NetworkConfigurationRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationInitNodeInfoView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationInitView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile, stardust

#5567 fix: disallow user from entering `PARTICIPATE` tag manually
  packages/shared/components/popups/send/SendFormPopup.svelte
  packages/shared/lib/core/wallet/constants/index.ts
  packages/shared/lib/core/wallet/constants/reserved-tag-keywords.constant.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/lib/core/wallet/utils/isReservedTagKeyword.ts
  packages/shared/locales/en.json
Labels: type:fix, context:governance

#5568 feat: pinging badge active vote
  packages/desktop/components/SidebarTab.svelte
  packages/shared/components/PingingBadge.svelte
  packages/shared/components/ProposalAnswer.svelte
Labels: type:feature, package:desktop, package:shared, context:governance, stardust

#5553 chore: upgrade `postcss-url` dep
  packages/desktop/package.json
  yarn.lock
Labels: type:chore

#5565 chore: fix task issue template
  .github/ISSUE_TEMPLATE/create-task.yml
Labels: type:chore

#5560 feat: feature flag platform method
  packages/desktop/electron/electronApi.js
  packages/mobile/capacitor/capacitorApi.ts
  packages/shared/lib/core/app/interfaces/platform.interface.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/tests/__mocks__/platform.mock.ts
Labels: type:feature, package:desktop, platform:mobile, package:shared, context:governance, platform:desktop, package:mobile, stardust

#5570 fix: removes username and password from NodeAuthRequiredPopup
  packages/shared/components/popups/NodeAuthRequiredPopup.svelte
Labels: type:fix, package:shared, context:governance

#5526 enhancement: burn nft activity
  packages/shared/components/atoms/pills/TransactionActivityStatusPill.svelte
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
  packages/shared/lib/core/wallet/enums/activity-action.enum.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivities.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivitiesFromAliasOutputs.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivitiesFromBasicOutputs.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivitiesFromFoundryOutputs.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivitiesFromNftOutputs.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateBasicActivitiesFromTransaction.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleNftActivity.ts
  packages/shared/lib/core/wallet/utils/getActivityTileTitle.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#5608 enhancement: add tooltip to proposal question
  packages/shared/components/ProposalQuestion.svelte
Labels: type:enhancement, context:governance, stardust

#5573 fix: proposal removal logic and UI
  packages/shared/components/modals/ProposalDetailsMenu.svelte
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/isAnyAccountVotingForSelectedProposal.ts
  packages/shared/lib/contexts/governance/utils/isVotingForProposal.ts
  packages/shared/lib/contexts/governance/utils/isVotingForSelectedProposal.ts
  packages/shared/locales/en.json
Labels: type:fix, context:governance, stardust

#5611 fix: show selected vote on collapse instead of voted for
  packages/shared/components/ProposalAnswer.svelte
Labels: type:fix, context:governance, stardust

#5604 fix: setting voting power to zero
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/molecules/activity-info/GovernanceActivityInformation.svelte
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivities.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getGovernanceInfo.ts
Labels: type:fix, context:governance

#5612 fix: remove text hint in VoteForProposalPopup
  packages/shared/components/popups/VoteForProposalPopup.svelte
  packages/shared/locales/en.json
Labels: type:fix, context:governance, stardust

#5622 fix: add hint if no voting power
  packages/shared/components/popups/VoteForProposalPopup.svelte
  packages/shared/locales/en.json
Labels: type:fix, context:governance

#5617 fix: fix glow on voting power input
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/Dropdown2.svelte
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
Labels: type:fix, context:wallet, stardust

#5623 feat: format voting power and total votes
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
Labels: context:governance, type:ui

#5614 feat: change vote activity
  packages/shared/components/atoms/tiles/tileContents/GovernanceActivityTileContent.svelte
  packages/shared/lib/auxiliary/icon/svgs/governance.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/voted.svg.ts
  packages/shared/lib/core/wallet/enums/governance-action.enum.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getGovernanceInfo.ts
  packages/shared/lib/core/wallet/utils/getActivityTileTitle.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:governance, stardust

#5528 enhancement: consolidation activity
  packages/shared/components/atoms/pills/TransactionActivityStatusPill.svelte
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/atoms/tiles/tileContents/ConsolidationActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/index.js
  packages/shared/components/molecules/ActivityInformation.svelte
  packages/shared/components/molecules/ConsolidationActivityDetails.svelte
  packages/shared/components/molecules/FoundryActivityDetails.svelte
  packages/shared/components/molecules/NftActivityDetails.svelte
  packages/shared/components/molecules/activity-info/ConsolidationActivityInformation.svelte
  packages/shared/components/molecules/activity-info/index.js
  packages/shared/components/molecules/index.js
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/lib/core/wallet/enums/activity-type.enum.ts
  packages/shared/lib/core/wallet/types/activities/consolidation-activity.type.ts
  packages/shared/lib/core/wallet/types/activities/index.ts
  packages/shared/lib/core/wallet/types/activity.type.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivities.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivitiesFromBasicOutputs.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleConsolidationActivity.ts
  packages/shared/lib/core/wallet/utils/getActivityTileTitle.ts
  packages/shared/locales/en.json
Labels: type:enhancement, context:wallet, stardust

#5606 feat: style different event phases
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/ProposalAnswer.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/auxiliary/icon/svgs/trophy.svg.ts
  packages/shared/locales/en.json
Labels: type:feature, context:governance, stardust

#5625 feat-mobile: add feature to add nodes to settings
  packages/mobile/lib/routers/index.ts
  packages/mobile/lib/routers/routers/settings/network-configuration-settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/NetworkConfigurationRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationAddUpdateNodeView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationInitView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationNodeInfoView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/index.js
Labels: platform:mobile, context:settings, package:mobile, stardust

#5616 enhancement: add burn native token activity
  packages/desktop/features/features.ts
  packages/shared/components/atoms/tiles/tileContents/TransactionActivityTileContent.svelte
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivitiesFromBasicOutputs.ts
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleBasicActivity.ts
  packages/shared/lib/core/wallet/utils/outputs/getFormattedAmountFromActivity.ts
Labels: type:enhancement, context:wallet, stardust

#5645 enhancement: make event id copyable
  packages/shared/components/molecules/activity-info/ConsolidationActivityInformation.svelte
  packages/shared/components/molecules/activity-info/FoundryActivityInformation.svelte
  packages/shared/components/molecules/activity-info/GenericActivityInformation.svelte
  packages/shared/components/molecules/activity-info/GovernanceActivityInformation.svelte
  packages/shared/components/molecules/activity-info/NftActivityInformation.svelte
  packages/shared/components/molecules/activity-info/TokenActivityInformation.svelte
  packages/shared/components/organisms/ProposalInformation.svelte
  packages/shared/lib/core/utils/interfaces/index.ts
  packages/shared/lib/core/utils/interfaces/key-value-box-list.interface.ts
Labels: type:enhancement, context:governance, stardust

#5642 enhancement: loading state for manage voting power
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/lib/contexts/governance/actions/setVotingPower.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
Labels: type:enhancement, context:governance, stardust

#5639 fix-mobile: center amount
  packages/mobile/components/index.js
  packages/mobile/components/labels/TogglableAssetBalanceLabel.svelte
  packages/mobile/components/labels/index.js
  packages/mobile/views/dashboard/DashboardView.svelte
Labels: type:fix, platform:mobile, package:mobile, stardust

#5609 feat-mobile: adapt mobile notifications
  packages/mobile/App.svelte
  packages/mobile/components/Drawer.svelte
  packages/mobile/components/ToastContainer.svelte
  packages/mobile/components/index.js
Labels: platform:mobile, package:mobile, type:ui, stardust

#5640 fix-mobile: wallet switcher remove horizontal scrollbar
  packages/mobile/components/molecules/menu-items/AccountSwitcherMenuItem.svelte
  packages/mobile/views/dashboard/drawers/account-switcher/views/AccountSwitcher.svelte
Labels: platform:mobile, package:mobile, stardust

#5627 feat-mobile: add feature to edit nodes to settings
  packages/mobile/lib/routers/routers/settings/network-configuration-settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/NetworkConfigurationRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationInitView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationNodeInfoView.svelte
Labels: platform:mobile, package:mobile, stardust

#5632 feat-mobile: add feature to toggle primary node to settings
  packages/mobile/lib/contexts/settings/enums/network-configuration-settings-action.enum.ts
  packages/mobile/lib/routers/enums/settings/network-configuration-settings-route.enum.ts
  packages/mobile/lib/routers/routers/settings/network-configuration-settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/NetworkConfigurationRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationNodeConfirmationView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationNodeInfoView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/index.js
Labels: type:feature, platform:mobile, context:settings, package:mobile

#5668 feat-mobile: add export backup to settings
  packages/mobile/components/StrongholdUnlock.svelte
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/settings/constants/settings-route-meta.constant.ts
  packages/mobile/lib/routers/routers/settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/views/settings/SettingsRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/ExportStrongholdView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/WalletFinderView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#5658 fix-mobile: change amount input type to number
  packages/mobile/views/dashboard/drawers/send/views/AmountView.svelte
  packages/shared/components/inputs/TextInput.svelte
Labels: type:fix, platform:mobile, package:mobile, stardust

#5633 feat-mobile: add exclude/include & delete node to settings
  packages/mobile/lib/routers/routers/settings/network-configuration-settings-router.ts
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/NetworkConfigurationRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationNodeConfirmationView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationNodeInfoView.svelte
Labels: type:feature, platform:mobile, package:mobile, stardust

#5676 feat: add location where profiles are stored to handbook
  docs/guides/developer-tips.md
Labels: type:documentation

#5671 fix: ci machines
  package.json
  packages/desktop/package.json
  packages/shared/package.json
  yarn.lock
Labels: scope:ci, type:fix

#5655 feat: governance polishing
  docs/specifications/deep-links.md
  docs/static/add-proposal-popup.png
  packages/desktop/views/dashboard/Dashboard.svelte
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/desktop/views/dashboard/governance/views/ProposalsView.svelte
  packages/shared/components/ProposalAnswer.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/components/atoms/iconButtons/MeatballMenuButton.svelte
  packages/shared/components/atoms/pills/ProposalStatusPill.svelte
  packages/shared/components/inputs/SliderInput.svelte
  packages/shared/components/modals/ProposalsDetailsMenu.svelte
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/components/popups/AddProposalPopup.svelte
  packages/shared/components/popups/Index.svelte
  packages/shared/lib/auxiliary/deep-link/enums/add-proposal-parameter.enum.ts
  packages/shared/lib/auxiliary/deep-link/enums/governance-operation.enum.ts
  packages/shared/lib/auxiliary/deep-link/enums/index.ts
  packages/shared/lib/auxiliary/deep-link/enums/register-proposal-parameter.enum.ts
  packages/shared/lib/auxiliary/deep-link/handlers/governance/handleDeepLinkGovernanceContext.ts
  packages/shared/lib/auxiliary/deep-link/handlers/governance/operations/handleDeepLinkAddProposalOperation.ts
  packages/shared/lib/auxiliary/deep-link/handlers/governance/operations/index.ts
  packages/shared/lib/contexts/governance/interfaces/proposal.interface.ts
  packages/shared/lib/contexts/governance/interfaces/proposals-details.interface.ts
  packages/shared/lib/contexts/governance/utils/createProposalsFromEvents.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfTotalProposals.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfVotedProposals.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/isProposalAlreadyAdded.ts
  packages/shared/locales/en.json
Labels: type:enhancement, type:feature, type:fix, context:governance, stardust

#5590 feat-mobile: add shimmer claiming
  packages/mobile/components/molecules/ShimmerClaimingAccountList.svelte
  packages/mobile/components/molecules/index.js
  packages/mobile/features/onboarding.features.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/onboarding/index.ts
  packages/mobile/lib/routers/enums/onboarding/shimmer-claiming-route.enum.ts
  packages/mobile/lib/routers/routers/onboarding-router.ts
  packages/mobile/lib/routers/routers/onboarding/index.ts
  packages/mobile/lib/routers/routers/onboarding/profile-setup-router.ts
  packages/mobile/lib/routers/routers/onboarding/shimmer-claiming-router.ts
  packages/mobile/views/onboarding/OnboardingRouter.svelte
  packages/mobile/views/onboarding/views/index.js
  packages/mobile/views/onboarding/views/profile-recovery/views/ImportMnemonicPhraseView.svelte
  packages/mobile/views/onboarding/views/profile-setup/ProfileSetupRouter.svelte
  packages/mobile/views/onboarding/views/profile-setup/views/SetupClaimedView.svelte
  packages/mobile/views/onboarding/views/profile-setup/views/SetupView.svelte
  packages/mobile/views/onboarding/views/profile-setup/views/index.js
  packages/mobile/views/onboarding/views/shimmer-claiming/ShimmerClaimingRouter.svelte
  packages/mobile/views/onboarding/views/shimmer-claiming/index.js
  packages/mobile/views/onboarding/views/shimmer-claiming/views/ClaimRewardsView.svelte
  packages/mobile/views/onboarding/views/shimmer-claiming/views/SuccessView.svelte
  packages/mobile/views/onboarding/views/shimmer-claiming/views/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#5637 feat-mobile: add backup profile action screen
  packages/mobile/components/buttons/ProfileBackupButton.svelte
  packages/mobile/components/buttons/index.js
  packages/mobile/features/features.ts
  packages/mobile/lib/routers/interfaces/profile-router-event.interface.ts
  packages/mobile/lib/routers/routers/dashboard/profile-router.ts
  packages/mobile/views/dashboard/drawers/profile/ProfileDrawer.svelte
  packages/mobile/views/dashboard/drawers/profile/ProfileRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/BackupProfileView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/index.js
Labels: type:feature, platform:mobile, package:mobile, stardust

#5678 fix: proposal registration
  packages/shared/components/popups/AddProposalPopup.svelte
Labels: type:fix, context:governance

#5677 fix: adjust logic for different event phases
  packages/shared/components/organisms/ProposalInformation.svelte
  packages/shared/locales/en.json
Labels: type:fix, context:governance

#5675 feat: sort proposals
  packages/shared/components/Proposals.svelte
  packages/shared/lib/contexts/governance/enums/index.ts
  packages/shared/lib/contexts/governance/enums/proposal-order-option.enum.ts
  packages/shared/lib/contexts/governance/interfaces/proposal-filter.interface.ts
  packages/shared/lib/contexts/governance/stores/proposal-filter.store.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/sortProposals.ts
  packages/shared/locales/en.json
Labels: type:feature, context:governance, stardust

#5674 fix: voting with same answers
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/lib/contexts/governance/utils/getActiveParticipation.ts
  packages/shared/lib/contexts/governance/utils/index.ts
Labels: type:fix, context:governance

#5684 feat-mobile: add export stronghold checkbox to change password
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/ChangePasswordView.svelte
Labels: platform:mobile, package:mobile, stardust

#5686 feat-mobile: prepare account actions drawer and routing
  packages/mobile/components/buttons/AccountActionsButton.svelte
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/enums/account-action.enum.ts
  packages/mobile/lib/contexts/dashboard/enums/index.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/account-actions-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/interfaces/account-actions-router-event.interface.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/routers/dashboard/account-actions-router.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsDrawer.svelte
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsRouter.svelte
  packages/mobile/views/dashboard/drawers/account-actions/index.js
  packages/mobile/views/dashboard/drawers/account-actions/views/AccountActionsView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/index.js
  packages/mobile/views/dashboard/drawers/account-switcher/views/AccountSwitcher.svelte
  packages/mobile/views/dashboard/drawers/index.js
Labels: platform:mobile, package:mobile, stardust

#5680 enhancement: event phases disabled vote
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/locales/en.json
Labels: type:enhancement, context:governance, stardust

#5695 fix: remove submission if key value box is clicked
  packages/shared/components/atoms/boxes/CopyableBox.svelte
Labels: type:fix, context:governance, stardust

#5687 feat-mobile: add customize account
  packages/mobile/features/features.ts
  packages/mobile/lib/routers/routers/dashboard/account-actions-router.ts
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsDrawer.svelte
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsRouter.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/AccountActionsView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/CustomizeAccountView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/index.js
Labels: platform:mobile, package:mobile, stardust

#5688 feat-mobile: account toggle visibility & delete
  packages/mobile/features/features.ts
  packages/mobile/lib/routers/routers/dashboard/account-actions-router.ts
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsDrawer.svelte
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsRouter.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/AccountActionsView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/DeleteAccountConfirmationView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/index.js
  packages/shared/components/Button.svelte
Labels: platform:mobile, package:mobile, stardust

#5691 tests: refactor calculate votes percentages and create tests
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/lib/contexts/governance/utils/getPercentagesFromAnswerStatuses.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/tests/getPercentagesFromAnswerStatuses.test.ts
Labels: type:refactor, type:tests, context:governance, stardust

#5696 enhancement: add voting power to balance summary
  packages/shared/components/atoms/BalanceSummarySection.svelte
  packages/shared/components/popups/StorageDepositBreakdownPopup.svelte
  packages/shared/locales/en.json
Labels: type:enhancement, context:governance, stardust

#5703 fix: percentages undefined
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/lib/contexts/governance/interfaces/index.ts
  packages/shared/lib/contexts/governance/interfaces/proposal-answer-percentages.interface.ts
  packages/shared/lib/contexts/governance/utils/getPercentagesFromAnswerStatuses.ts
  packages/shared/lib/contexts/governance/utils/tests/getPercentagesFromAnswerStatuses.test.ts
Labels: type:fix, context:governance, stardust

#5707 fix: fix inputs preprocessing
  packages/shared/lib/core/wallet/actions/activities/preprocessOutputsForAccount.ts
Labels: type:fix, stardust

#5711 fix: fix text for nft burn popup
  packages/shared/components/modals/CollectibleDetailsMenu.svelte
  packages/shared/locales/af.json
  packages/shared/locales/ar.json
  packages/shared/locales/bg.json
  packages/shared/locales/ca.json
  packages/shared/locales/cs.json
  packages/shared/locales/da.json
  packages/shared/locales/de.json
  packages/shared/locales/el.json
  packages/shared/locales/en.json
  packages/shared/locales/eo.json
  packages/shared/locales/es-ES.json
  packages/shared/locales/es-LA.json
  packages/shared/locales/et.json
  packages/shared/locales/fa.json
  packages/shared/locales/fi.json
  packages/shared/locales/fr.json
  packages/shared/locales/he.json
  packages/shared/locales/hi.json
  packages/shared/locales/hr.json
  packages/shared/locales/hu.json
  packages/shared/locales/id.json
  packages/shared/locales/it.json
  packages/shared/locales/ja.json
  packages/shared/locales/ko.json
  packages/shared/locales/ku.json
  packages/shared/locales/lv.json
  packages/shared/locales/mk.json
  packages/shared/locales/nl.json
  packages/shared/locales/no.json
  packages/shared/locales/pl.json
  packages/shared/locales/pt-BR.json
  packages/shared/locales/pt-PT.json
  packages/shared/locales/ro.json
  packages/shared/locales/ru.json
  packages/shared/locales/si.json
  packages/shared/locales/sk.json
  packages/shared/locales/sl.json
  packages/shared/locales/sq.json
  packages/shared/locales/sr.json
  packages/shared/locales/sv.json
  packages/shared/locales/tr.json
  packages/shared/locales/uk.json
  packages/shared/locales/ur.json
  packages/shared/locales/vi.json
  packages/shared/locales/zh-CN.json
  packages/shared/locales/zh-TW.json
Labels: context:wallet, type:ui, stardust, translations

#5704 refactor: unify activity tile style
  packages/shared/components/atoms/tiles/tileContents/ActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/AliasActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/ConsolidationActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/FoundryActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/GovernanceActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/NftActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/TransactionActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/index.js
  packages/shared/locales/af.json
  packages/shared/locales/ar.json
  packages/shared/locales/bg.json
  packages/shared/locales/ca.json
  packages/shared/locales/cs.json
  packages/shared/locales/da.json
  packages/shared/locales/de.json
  packages/shared/locales/el.json
  packages/shared/locales/en.json
  packages/shared/locales/eo.json
  packages/shared/locales/es-ES.json
  packages/shared/locales/es-LA.json
  packages/shared/locales/et.json
  packages/shared/locales/fa.json
  packages/shared/locales/fi.json
  packages/shared/locales/fr.json
  packages/shared/locales/he.json
  packages/shared/locales/hi.json
  packages/shared/locales/hr.json
  packages/shared/locales/hu.json
  packages/shared/locales/id.json
  packages/shared/locales/it.json
  packages/shared/locales/ja.json
  packages/shared/locales/ko.json
  packages/shared/locales/ku.json
  packages/shared/locales/lv.json
  packages/shared/locales/mk.json
  packages/shared/locales/nl.json
  packages/shared/locales/no.json
  packages/shared/locales/pl.json
  packages/shared/locales/pt-BR.json
  packages/shared/locales/pt-PT.json
  packages/shared/locales/ro.json
  packages/shared/locales/ru.json
  packages/shared/locales/si.json
  packages/shared/locales/sk.json
  packages/shared/locales/sl.json
  packages/shared/locales/sq.json
  packages/shared/locales/sr.json
  packages/shared/locales/sv.json
  packages/shared/locales/tr.json
  packages/shared/locales/uk.json
  packages/shared/locales/ur.json
  packages/shared/locales/vi.json
  packages/shared/locales/zh-CN.json
  packages/shared/locales/zh-TW.json
Labels: type:refactor, context:wallet, type:ui, stardust

#5700 chore: write Governance documentation
  docs/specifications/governance.md
Labels: type:chore, context:governance

#5701 feat: deep link opens already registered proposal
  packages/shared/lib/auxiliary/deep-link/handlers/governance/operations/handleDeepLinkAddProposalOperation.ts
  packages/shared/lib/contexts/governance/actions/getVotingEvents.ts
  packages/shared/lib/contexts/governance/constants/default-proposal-filter.constant.ts
  packages/shared/lib/contexts/governance/constants/proposal-id-regex.constant.ts
  packages/shared/lib/contexts/governance/utils/createProposalFromEvent.ts
  packages/shared/lib/contexts/governance/utils/createProposals.ts
  packages/shared/lib/contexts/governance/utils/createProposalsFromEvents.ts
  packages/shared/lib/contexts/governance/utils/getLatestProposalStatus.ts
  packages/shared/lib/contexts/governance/utils/getProposalFromEventId.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  yarn.lock
Labels: type:feature, context:governance, stardust

#5719 fix: undefined param get percentages
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/lib/contexts/governance/utils/getPercentagesFromAnswerStatuses.ts
Labels: type:fix, context:governance, stardust

#5720 fix: revert breaking change in i18n
  packages/shared/package.json
  yarn.lock
Labels: scope:dependencies, type:fix, stardust
