Repository iotaledger/firefly, pull requests merged in 2023-05, with the labels that each got.

#6634 feat: add ISCP/EVM network support
  packages/desktop/components/NetworkCard.svelte
  packages/desktop/components/drawers/network-config/drawers/ChainDepositAddressDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConnectedChainsDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/components/AddIscpChainForm.svelte
  packages/shared/lib/core/network/classes/index.ts
  packages/shared/lib/core/network/classes/iscp-chain.class.ts
  packages/shared/lib/core/network/classes/stardust-network.class.ts
  packages/shared/lib/core/network/constants/default-chain-configurations.constant.ts
  packages/shared/lib/core/network/constants/index.ts
  packages/shared/lib/core/network/interfaces/block.interface.ts
  packages/shared/lib/core/network/interfaces/chain-configuration.interface.ts
  packages/shared/lib/core/network/interfaces/chain-metadata.interface.ts
  packages/shared/lib/core/network/interfaces/chain-status.interface.ts
  packages/shared/lib/core/network/interfaces/chain.interface.ts
  packages/shared/lib/core/network/interfaces/gas-fee-policy.interface.ts
  packages/shared/lib/core/network/interfaces/gas-limits.interface.ts
  packages/shared/lib/core/network/interfaces/index.ts
  packages/shared/lib/core/network/interfaces/network-metadata.interface.ts
  packages/shared/lib/core/network/interfaces/network.interface.ts
  packages/shared/lib/core/network/interfaces/persisted-network.interface.ts
  packages/shared/lib/core/network/stores/index.ts
  packages/shared/lib/core/network/stores/network.store.ts
  packages/shared/lib/core/network/stores/selected-chain-index.store.ts
  packages/shared/lib/core/network/stores/selected-connected-chain-index.store.ts
  packages/shared/lib/core/network/types/chain-configuration.type.ts
  packages/shared/lib/core/network/types/index.ts
  packages/shared/lib/core/network/types/web3-provider.type.ts
  packages/shared/lib/core/network/utils/buildPersistedNetworkFromNodeInfoResponse.ts
  packages/shared/lib/core/network/utils/getDefaultPersistedNetwork.ts
  packages/shared/lib/core/profile/actions/active-profile/checkAndUpdateActiveProfileNetwork.ts
  packages/shared/package.json
  yarn.lock
Labels: type:feature, platform:desktop, context:layer-2

#6681 test: adds function.test.ts
  packages/shared/lib/core/utils/function.ts
  packages/shared/lib/core/utils/tests/function.test.ts
Labels: type:chore, type:tests, v2

#6679 test: adds date.test.ts, some fixes and refactoring
  packages/shared/lib/core/utils/constants/time.constants.ts
  packages/shared/lib/core/utils/date.ts
  packages/shared/lib/core/utils/enums/index.ts
  packages/shared/lib/core/utils/enums/past-time-unit.enum.ts
  packages/shared/lib/core/utils/interfaces/date-difference.interface.ts
  packages/shared/lib/core/utils/tests/date.test.ts
Labels: type:chore, type:refactor, type:tests, type:fix, v2

#6678 tests: core/utils/format.ts
  packages/shared/lib/core/utils/format.ts
  packages/shared/lib/core/utils/tests/format.test.ts
Labels: type:tests

#6675 tests: core/utils/math.ts
  packages/shared/lib/core/utils/math.ts
  packages/shared/lib/core/utils/tests/math.test.ts
Labels: type:tests

#6680 test: adds number.test.ts and refactor number.ts
  packages/shared/lib/core/utils/number.ts
  packages/shared/lib/core/utils/tests/number.test.ts
Labels: type:chore, type:refactor, type:tests, v2

#6670 feature: chain information drawer
  packages/desktop/components/NetworkCard.svelte
  packages/desktop/components/drawers/Drawer.svelte
  packages/desktop/components/drawers/network-config/NetworkConfigDrawerRouter.svelte
  packages/desktop/components/drawers/network-config/drawers/ChainDepositAddressDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ChainInformationDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConnectedChainsDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/components/AddIscpChainForm.svelte
  packages/desktop/components/drawers/network-config/drawers/components/EvmChainInformation.svelte
  packages/desktop/components/drawers/network-config/drawers/components/IscpChainInformation.svelte
  packages/desktop/components/drawers/network-config/drawers/components/index.ts
  packages/shared/lib/core/network/index.ts
  packages/shared/lib/core/network/stores/selected-chain-index.store.ts
  packages/shared/lib/core/utils/types/index.ts
  packages/shared/lib/core/utils/types/ui-event-function.type.ts
  packages/shared/locales/en.json
Labels: type:ui, v2, context:layer-2

#6674 test: adds tests for unit.ts
  packages/shared/lib/core/utils/constants/default-format-iota-unit-options.constant.ts
  packages/shared/lib/core/utils/constants/index.ts
  packages/shared/lib/core/utils/interfaces/format-iota-unit-options.interface.ts
  packages/shared/lib/core/utils/interfaces/index.ts
  packages/shared/lib/core/utils/tests/unit.test.ts
  packages/shared/lib/core/utils/unit.ts
Labels: type:chore, type:tests, v2

#6673 tests: core/utils/time.ts
  packages/shared/lib/core/utils/date.ts
  packages/shared/lib/core/utils/tests/date.test.ts
  packages/shared/lib/core/utils/tests/time.test.ts
  packages/shared/lib/core/utils/time.ts
Labels: type:tests

#6668 fix-mobile: default native token storage deposit
  packages/mobile/components/drawers/send/SendRouter.svelte
Labels: type:fix, platform:mobile, v2

#6667 chore: update mobile icon assets
  packages/mobile/capacitor/assets/alpha.png
  packages/mobile/capacitor/assets/android/alpha.png
  packages/mobile/capacitor/assets/android/beta.png
  packages/mobile/capacitor/assets/android/prod.png
  packages/mobile/capacitor/assets/assetgen.sh
  packages/mobile/capacitor/assets/beta.png
  packages/mobile/capacitor/assets/dark/alpha.png
  packages/mobile/capacitor/assets/dark/beta.png
  packages/mobile/capacitor/assets/dark/prod.png
  packages/mobile/capacitor/assets/ios/alpha.png
  packages/mobile/capacitor/assets/ios/beta.png
  packages/mobile/capacitor/assets/ios/prod.png
  packages/mobile/capacitor/assets/light/alpha.png
  packages/mobile/capacitor/assets/light/beta.png
  packages/mobile/capacitor/assets/light/prod.png
  packages/mobile/capacitor/assets/prod.png
  packages/mobile/capacitor/assets/splash/alpha.png
  packages/mobile/capacitor/assets/splash/beta.png
  packages/mobile/capacitor/assets/splash/prod.png
  packages/mobile/icons/alpha.png
  packages/mobile/icons/beta.png
  packages/mobile/icons/icongen.sh
  packages/mobile/icons/prod.png
Labels: type:chore, platform:mobile, v2

#6701 mobile-fix: burn button appearing twice
  packages/mobile/components/drawers/SelectedTokenDrawer.svelte
Labels: type:fix, platform:mobile, v2

#6700 fix: recovery phrase autoformat issue
  packages/shared/components/inputs/ImportTextfield.svelte
Labels: type:fix

#6699 feat: add logic to poll chain statuses
  packages/desktop/components/NetworkCard.svelte
  packages/shared/lib/core/network/actions/chain-polling.ts
  packages/shared/lib/core/network/actions/index.ts
  packages/shared/lib/core/network/actions/updateChainStatuses.ts
  packages/shared/lib/core/network/classes/iscp-chain.class.ts
  packages/shared/lib/core/network/constants/chain-statuses-poll-interval.constant.ts
  packages/shared/lib/core/network/constants/index.ts
  packages/shared/lib/core/network/interfaces/chain.interface.ts
  packages/shared/lib/core/network/stores/chain-statuses.store.ts
  packages/shared/lib/core/network/stores/index.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:feature, platform:desktop, context:layer-2

#6703 chore: adds typing to poll interval variables
  packages/shared/lib/contexts/governance/actions/pollParticipationEventStatus.ts
  packages/shared/lib/core/ledger/actions/pollLedgerNanoStatus.ts
  packages/shared/lib/core/market/actions/market-prices-polling.ts
  packages/shared/lib/core/network/actions/chain-polling.ts
  packages/shared/lib/core/network/actions/network-polling.ts
Labels: type:chore, v2

#6658 feat: developer mode toggle setting
  packages/desktop/App.svelte
  packages/desktop/electron/lib/menu.js
  packages/desktop/electron/lib/menuState.js
  packages/desktop/features/settings.features.ts
  packages/desktop/lib/helpers.ts
  packages/desktop/views/dashboard/Sidebar.svelte
  packages/desktop/views/dashboard/settings/views/advanced/DeveloperToggle.svelte
  packages/desktop/views/dashboard/settings/views/advanced/advanced-settings.constant.js
  packages/desktop/views/dashboard/settings/views/advanced/index.js
  packages/shared/lib/auxiliary/icon/constants/settings-icon-svg.ts
  packages/shared/lib/core/app/interfaces/platform-event-map.interface.ts
  packages/shared/lib/core/router/enums/settings/advanced-settings-route.enum.ts
  packages/shared/lib/features/interfaces/settings-features.interface.ts
  packages/shared/locales/en.json
Labels: type:feature, v2

#6676 tests: `convert.ts`
  packages/shared/lib/core/utils/convert.ts
  packages/shared/lib/core/utils/tests/convert.test.ts
  packages/shared/lib/core/wallet/utils/outputs/getOutputIdFromTransactionIdAndIndex.ts
Labels: type:tests

#6715 fix: set readonly attribute to false
  packages/shared/components/inputs/NetworkInput.svelte
Labels: context:layer-2

#6720 mobile-fix: undefined send transaction
  packages/mobile/components/drawers/send/SendRouter.svelte
  packages/mobile/components/drawers/send/views/AmountView.svelte
  packages/mobile/components/drawers/send/views/ReviewView.svelte
  packages/mobile/views/dashboard/DashboardView.svelte
  packages/shared/components/molecules/BasicActivityDetails.svelte
  packages/shared/lib/core/wallet/utils/getOutputOptions.ts
Labels: type:fix, platform:mobile, v2

#6723 hotfix: tsconfig not error checking
  packages/shared/tsconfig.json
Labels: type:hotfix, context:developer

#6732 mobile-fix: add numeric keyboard to send flow
  packages/mobile/components/drawers/send/views/AmountView.svelte
Labels: type:fix, platform:mobile, v2

#6735 feat: add logic to `UpdateStrongholdView`
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/main.js
  packages/shared/lib/core/router/subrouters/import-router.ts
  packages/shared/lib/core/router/subrouters/update-stronghold-router.ts
  packages/shared/lib/core/router/types/event.ts
  packages/shared/lib/profile.ts
  packages/shared/lib/shell/walletApi.ts
  packages/shared/lib/shell/walletErrors.ts
  packages/shared/lib/stronghold.ts
  packages/shared/lib/tests/mocks/platform.ts
  packages/shared/lib/typings/events.ts
  packages/shared/lib/typings/platform.ts
  packages/shared/lib/wallet.ts
  packages/shared/locales/en.json
  packages/shared/routes/setup/import/Import.svelte
  packages/shared/routes/setup/import/views/BackupPassword.svelte
  packages/shared/routes/setup/import/views/FileImport.svelte
  packages/shared/routes/update-stronghold/views/UpdateStrongholdView.svelte
Labels: type:feature, platform:desktop, context:onboarding, v1

#6736 feat: add logic to `ChangePasswordView`
  packages/shared/locales/en.json
  packages/shared/routes/update-stronghold/views/ChangePasswordView.svelte
Labels: type:feature, platform:desktop, context:onboarding, v1

#6705 feat: `SelectAssetPopup`
  packages/desktop/views/dashboard/send-flow/send-flow.router.ts
  packages/desktop/views/dashboard/send-flow/views/InputTokenAmountView.svelte
  packages/desktop/views/dashboard/send-flow/views/SelectTokenView.svelte
  packages/desktop/views/dashboard/send-flow/views/SendFlowTemplate.svelte
  packages/shared/components/atoms/tiles/AssetTile.svelte
  packages/shared/components/inputs/IconInput.svelte
  packages/shared/components/inputs/index.js
  packages/shared/components/molecules/AssetList.svelte
  packages/shared/locales/en.json
Labels: platform:desktop, v2

#6764 fix: svelte check
  package.json
  packages/shared/package.json
  yarn.lock
Labels: scope:dependencies, type:hotfix

#6707 chore: merge network address into default chain configuration
  packages/desktop/components/popups/send/SendFormPopup.svelte
  packages/shared/components/inputs/NetworkInput.svelte
  packages/shared/components/interfaces/option.interface.ts
  packages/shared/lib/core/layer-2/constants/index.ts
  packages/shared/lib/core/layer-2/constants/network-address.constant.ts
  packages/shared/lib/core/layer-2/utils/getDestinationNetworkFromAddress.ts
  packages/shared/lib/core/layer-2/utils/getLayer2NetworkFromAddress.ts
  packages/shared/lib/core/layer-2/utils/index.ts
  packages/shared/lib/core/layer-2/utils/isLayer1Destination.ts
  packages/shared/lib/core/network/classes/stardust-network.class.ts
  packages/shared/lib/core/network/constants/default-chain-configurations.constant.ts
  packages/shared/lib/core/network/interfaces/network.interface.ts
  packages/shared/lib/core/network/stores/selected-chain.store.ts
  packages/shared/lib/core/network/utils/index.ts
  packages/shared/lib/core/network/utils/isEvmChain.ts
  packages/shared/lib/core/network/utils/isIscpChain.ts
  packages/shared/lib/core/profile/stores/active-profile.store.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getLayer2ActivityInformation.ts
Labels: type:chore, context:layer-2

#6758 chore: pass strict null check for network test
  packages/shared/components/organisms/NodeConfigurationForm.svelte
  packages/shared/lib/core/network/tests/network.test.ts
  packages/shared/lib/core/network/utils/buildPersistedNetworkFromNodeInfoResponse.ts
  packages/shared/lib/core/network/utils/checkNetworkId.ts
  packages/shared/lib/core/network/utils/checkNodeUrlValidity.ts
  packages/shared/lib/core/network/utils/cleanAuth.ts
  packages/shared/lib/core/network/utils/getDefaultPersistedNetwork.ts
  packages/shared/lib/core/network/utils/getNetworkNameFromNetworkId.ts
  packages/shared/lib/core/network/utils/index.ts
  packages/shared/lib/core/network/utils/isOfficialNetwork.ts
  packages/shared/tsconfig.json
Labels: type:chore

#6768 test: core/utils/ui.ts
  packages/shared/lib/core/utils/date.ts
  packages/shared/lib/core/utils/tests/ui.test.ts
  packages/shared/lib/core/utils/ui.ts
  packages/shared/tsconfig.json
Labels: type:tests, context:developer

#6743 feat: add logic / improve UX for `SaveBackupView`
  packages/desktop/public/index.html
  packages/shared/components/Profile.svelte
  packages/shared/components/WarningBadge.svelte
  packages/shared/lib/core/router/subrouters/login-router.ts
  packages/shared/lib/core/router/subrouters/update-stronghold-router.ts
  packages/shared/lib/migration.ts
  packages/shared/lib/stronghold.ts
  packages/shared/lib/wallet.ts
  packages/shared/locales/en.json
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/login/views/SelectProfile.svelte
  packages/shared/routes/setup/import/Import.svelte
  packages/shared/routes/setup/import/views/BackupPassword.svelte
  packages/shared/routes/setup/import/views/Success.svelte
  packages/shared/routes/update-stronghold/UpdateStrongholdRouter.svelte
  packages/shared/routes/update-stronghold/views/ChangePasswordView.svelte
  packages/shared/routes/update-stronghold/views/SaveBackupView.svelte
  packages/shared/routes/update-stronghold/views/UpdateStrongholdView.svelte
Labels: type:feature, platform:desktop, context:onboarding, v1

#6717 feat: select amount route
  packages/desktop/components/popups/send/SendConfirmationPopup.svelte
  packages/desktop/components/popups/send/SendFormPopup.svelte
  packages/desktop/views/dashboard/send-flow/SendFlowRouterView.svelte
  packages/desktop/views/dashboard/send-flow/send-flow-route.enum.ts
  packages/desktop/views/dashboard/send-flow/views/InputDestinationView.svelte
  packages/desktop/views/dashboard/send-flow/views/InputTokenAmountView.svelte
  packages/desktop/views/dashboard/send-flow/views/SelectTokenView.svelte
  packages/desktop/views/dashboard/send-flow/views/TransactionSummaryView.svelte
  packages/shared/components/atoms/tiles/TokenAmountTile.svelte
  packages/shared/components/atoms/tiles/index.js
  packages/shared/components/inputs/AmountInput.svelte
  packages/shared/components/inputs/TokenAmountInput.svelte
  packages/shared/components/inputs/index.js
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendConfirmationOperation.ts
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendFormOperation.ts
  packages/shared/lib/contexts/onboarding/actions/claimShimmerRewards.ts
  packages/shared/lib/core/i18n/utils/formatCurrency.ts
  packages/shared/lib/core/layer-2/helpers/encodeAssetAllowance.ts
  packages/shared/lib/core/ledger/helpers/deconstructLedgerVerificationProps.ts
  packages/shared/lib/core/market/utils/getMarketAmountFromAssetValue.ts
  packages/shared/lib/core/market/utils/getMarketPriceForAsset.ts
  packages/shared/lib/core/wallet/stores/new-transaction-details.store.ts
  packages/shared/lib/core/wallet/tests/getOutputOptions.test.ts
  packages/shared/lib/core/wallet/types/new-transaction-details.type.ts
  packages/shared/lib/core/wallet/utils/getOutputOptions.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/lib/core/wallet/utils/validateTokenAmount.ts
  packages/shared/locales/en.json
Labels: type:enhancement, platform:desktop, v2

#6734 feat: update select network recipient popup
  packages/desktop/views/dashboard/send-flow/SendFlowRouterView.svelte
  packages/desktop/views/dashboard/send-flow/send-flow-route.enum.ts
  packages/desktop/views/dashboard/send-flow/send-flow.router.ts
  packages/desktop/views/dashboard/send-flow/views/InputDestinationView.svelte
  packages/desktop/views/dashboard/send-flow/views/InputTokenAmountView.svelte
  packages/desktop/views/dashboard/send-flow/views/SelectRecipientView.svelte
  packages/desktop/views/dashboard/send-flow/views/index.js
  packages/shared/components/interfaces/index.ts
  packages/shared/components/interfaces/network-recipient-selector-option.interface.ts
  packages/shared/components/molecules/NetworkRecipientItem.svelte
  packages/shared/components/molecules/NetworkRecipientSelector.svelte
  packages/shared/components/molecules/index.js
  packages/shared/locales/en.json
Labels: type:enhancement, platform:desktop, v2

#6774 chore: remove duplicate hex2rgb function
  packages/shared/components/ColorPicker.svelte
  packages/shared/lib/core/utils/tests/ui.test.ts
  packages/shared/lib/core/utils/ui.ts
Labels: type:chore, context:developer

#6826 ci: Fix Windows build
  .github/workflows/build-desktop.yml
  manual-patches/neon_temp_buf.patch
  manual-patches/openssl_fips.patch
  manual-patches/windows_cargo_toml.patch
Labels: os:windows, scope:ci

#6829 chore: update wallet.rs
  packages/desktop/components/popups/send/SendConfirmationPopup.svelte
  packages/desktop/views/dashboard/send-flow/views/TransactionSummaryView.svelte
  packages/mobile/components/drawers/send/SendRouter.svelte
  packages/shared/lib/contexts/onboarding/actions/claimShimmerRewards.ts
  packages/shared/lib/core/account/api/prepareOutput.ts
  packages/shared/lib/core/account/interfaces/account.interface.ts
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/actions/mintNft.ts
  packages/shared/lib/core/wallet/tests/getOutputParameters.test.ts
  packages/shared/lib/core/wallet/utils/getOutputParameters.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/lib/core/wallet/utils/send/validateSendConfirmation.ts
  packages/shared/lib/tests/__mocks__/account.mock.ts
  packages/shared/package.json
  yarn.lock
Labels: scope:dependencies, context:wallet, v2

#6744 feat: set nft as profile pic
  packages/desktop/views/dashboard/Sidebar.svelte
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/desktop/views/login/views/SelectProfileView.svelte
  packages/shared/components/Profile.svelte
  packages/shared/components/ProfilePicture.svelte
  packages/shared/components/atoms/MediaDisplay.svelte
  packages/shared/components/atoms/tiles/tileContents/NftActivityTileContent.svelte
  packages/shared/components/index.js
  packages/shared/components/modals/CollectibleDetailsMenu.svelte
  packages/shared/components/modals/ProfileActions.svelte
  packages/shared/components/molecules/AssetIcon.svelte
  packages/shared/components/molecules/NftGalleryItem.svelte
  packages/shared/components/molecules/NftImageOrIconBox.svelte
  packages/shared/components/molecules/NftMedia.svelte
  packages/shared/lib/core/account/utils/getIconColorFromString.ts
  packages/shared/lib/core/nfts/stores/selected-account-nfts.store.ts
  packages/shared/lib/core/nfts/utils/checkIfNftShouldBeDownloaded.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/nfts/utils/isNftOwnedByAnyAccount.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/profile/actions/active-profile/checkAndRemoveProfilePicture.ts
  packages/shared/lib/core/profile/actions/active-profile/index.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/saveActiveProfile.ts
  packages/shared/lib/core/profile/interfaces/persisted-profile.interface.ts
  packages/shared/locales/en.json
Labels: type:feature, v2

#6822 feature: gift storage deposit
  packages/desktop/views/dashboard/send-flow/views/TransactionSummaryView.svelte
  packages/desktop/views/dashboard/send-flow/views/components/StorageDepositButton.svelte
  packages/desktop/views/dashboard/send-flow/views/components/TransactionDetails.svelte
  packages/shared/locales/en.json
Labels: type:feature, context:wallet, v2

#6833 refactor: change parseNftMetadata to pass strict
  packages/shared/lib/core/nfts/utils/parseNftMetadata.ts
  packages/shared/tsconfig.json
Labels: type:refactor

#6839 fix: timelock not shown on tx summary
  packages/desktop/views/dashboard/send-flow/views/TransactionSummaryView.svelte
Labels: type:fix, context:wallet, v2

#6853 chore: add `coinType` to chain configuration
  packages/shared/lib/core/network/constants/coin-type.constant.ts
  packages/shared/lib/core/network/constants/default-chain-configurations.constant.ts
  packages/shared/lib/core/network/enums/chain-id.enum.ts
  packages/shared/lib/core/network/enums/index.ts
  packages/shared/lib/core/network/interfaces/chain-configuration.interface.ts
Labels: type:chore, platform:desktop, context:layer-2

#6823 feat: Ledger address generation flow
  packages/desktop/components/NetworkCard.svelte
  packages/desktop/components/drawers/network-config/NetworkConfigDrawerRouter.svelte
  packages/desktop/components/drawers/network-config/drawers/ChainDepositAddressDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConfirmLedgerEvmAddressDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConnectLedgerDeviceDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConnectedChainsDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/index.ts
  packages/desktop/features/network.features.ts
  packages/desktop/lib/routers/enums/network-config-route.enum.ts
  packages/desktop/lib/routers/routers/network-config.router.ts
  packages/shared/components/atoms/boxes/KeyValueBox.svelte
  packages/shared/components/molecules/menu-items/AccountSwitcherMenuItem.svelte
  packages/shared/lib/core/error/stores/error-log.store.ts
  packages/shared/lib/core/layer-2/actions/loadEvmAddressForSelectedAccount.ts
  packages/shared/lib/core/ledger/actions/registerLedgerDeviceEventHandlers.ts
  packages/shared/lib/core/ledger/enums/ledger-app-name.enum.ts
  packages/shared/lib/core/ledger/utils/determineLedgerConnectionState.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/locales/en.json
Labels: type:feature, scope:ledger, platform:desktop, context:layer-2

#6841 release: desktop 2.1.1
  packages/desktop/App.svelte
  packages/desktop/components/TitleBar.svelte
  packages/desktop/components/popups/send/SendConfirmationPopup.svelte
  packages/desktop/package.json
  packages/desktop/views/dashboard/TopNavigation.svelte
  packages/desktop/views/dashboard/send-flow/views/TransactionSummaryView.svelte
  packages/mobile/components/drawers/send/SendRouter.svelte
  packages/shared/components/inputs/AssetAmountInput.svelte
  packages/shared/components/inputs/PinInput.svelte
  packages/shared/lib/contexts/onboarding/actions/claimShimmerRewards.ts
  packages/shared/lib/core/account/api/prepareOutput.ts
  packages/shared/lib/core/account/interfaces/account.interface.ts
  packages/shared/lib/core/network/tests/network.test.ts
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/actions/mintNft.ts
  packages/shared/lib/core/wallet/tests/convertToRawAmount.test.ts
  packages/shared/lib/core/wallet/tests/getOutputParameters.test.ts
  packages/shared/lib/core/wallet/utils/convertToRawAmount.ts
  packages/shared/lib/core/wallet/utils/getOutputParameters.ts
  packages/shared/lib/core/wallet/utils/index.ts
  packages/shared/lib/core/wallet/utils/send/validateSendConfirmation.ts
  packages/shared/lib/tests/__mocks__/account.mock.ts
  packages/shared/package.json
  yarn.lock
Labels: type:chore, platform:desktop

#6843 release: desktop 2.1.2
  packages/desktop/features/onboarding.features.ts
  packages/desktop/package.json
  packages/shared/lib/core/error/handlers/handleError.ts
  packages/shared/lib/core/error/handlers/walletRs/handleWalletRsError.ts
  packages/shared/lib/core/error/handlers/walletRs/subhandlers/handleClientError.ts
Labels: type:chore, platform:desktop

#6818 chore: improve error handling from Ledger
  packages/desktop/App.svelte
  packages/desktop/components/NetworkCard.svelte
  packages/desktop/components/drawers/network-config/NetworkConfigDrawerRouter.svelte
  packages/desktop/components/drawers/network-config/drawers/ChainDepositAddressDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConfirmLedgerEvmAddressDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConnectLedgerDeviceDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/ConnectedChainsDrawer.svelte
  packages/desktop/components/drawers/network-config/drawers/index.ts
  packages/desktop/electron/lib/ledger.js
  packages/desktop/electron/main.js
  packages/desktop/features/network.features.ts
  packages/desktop/lib/routers/enums/network-config-route.enum.ts
  packages/desktop/lib/routers/routers/network-config.router.ts
  packages/shared/components/atoms/boxes/KeyValueBox.svelte
  packages/shared/components/molecules/menu-items/AccountSwitcherMenuItem.svelte
  packages/shared/lib/core/app/interfaces/platform-event-map.interface.ts
  packages/shared/lib/core/error/stores/error-log.store.ts
  packages/shared/lib/core/layer-2/actions/loadEvmAddressForSelectedAccount.ts
  packages/shared/lib/core/layer-2/actions/registerLayer2EventHandlers.ts
  packages/shared/lib/core/ledger/actions/index.ts
  packages/shared/lib/core/ledger/actions/registerLedgerDeviceEventHandlers.ts
  packages/shared/lib/core/ledger/enums/ledger-app-name.enum.ts
  packages/shared/lib/core/ledger/enums/ledger-error.enum.ts
  packages/shared/lib/core/ledger/utils/determineLedgerConnectionState.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/locales/en.json
Labels: type:chore, scope:ledger, platform:desktop, context:layer-2

#6862 refactor: create list for evm addresses per cointype
  packages/desktop/components/NetworkCard.svelte
  packages/desktop/components/drawers/network-config/drawers/ConnectedChainsDrawer.svelte
  packages/desktop/electron/lib/ledger.js
  packages/desktop/electron/main.js
  packages/desktop/views/dashboard/send-flow/views/SelectRecipientView.svelte
  packages/shared/lib/core/account/actions/buildAccountState.ts
  packages/shared/lib/core/account/interfaces/account-state.interface.ts
  packages/shared/lib/core/app/interfaces/evm-address-event.interface.ts
  packages/shared/lib/core/app/interfaces/index.ts
  packages/shared/lib/core/app/interfaces/platform-event-map.interface.ts
  packages/shared/lib/core/layer-2/actions/getSelectedAccountLayer2Tokens.ts
  packages/shared/lib/core/layer-2/actions/getSelectedAccountWrappedNativeTokens.ts
  packages/shared/lib/core/layer-2/actions/loadEvmAddressForSelectedAccount.ts
  packages/shared/lib/core/layer-2/actions/registerLayer2EventHandlers.ts
  packages/shared/lib/core/network/stores/network.store.ts
Labels: type:refactor, v2, context:layer-2

#6868 release: desktop 2.1.3
  packages/desktop/components/popups/ManageVotingPowerPopup.svelte
  packages/desktop/package.json
Labels: type:chore, platform:desktop

#6840 enhancement: add surplus to tx summary
  packages/desktop/views/dashboard/send-flow/views/TransactionSummaryView.svelte
  packages/desktop/views/dashboard/send-flow/views/components/TokenAmountTile.svelte
  packages/desktop/views/dashboard/send-flow/views/components/TransactionDetails.svelte
  packages/shared/components/atoms/tiles/Tile.svelte
Labels: type:enhancement, context:wallet, v2

#6859 enhancement: start ledger process only on ledger profile
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/main.js
  packages/shared/lib/core/app/interfaces/platform.interface.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:enhancement, v2, context:layer-2

#6857 feat: fetch ERC20 tokens
  packages/desktop/components/buttons/popup-buttons/ImportErc20TokenButton.svelte
  packages/desktop/components/buttons/popup-buttons/index.js
  packages/desktop/components/popups/ImportErc20TokenFormPopup.svelte
  packages/desktop/components/popups/Popup.svelte
  packages/desktop/features/developer-tools.features.ts
  packages/desktop/views/dashboard/developer/Developer.svelte
  packages/shared/components/inputs/ChainInput.svelte
  packages/shared/components/inputs/index.js
  packages/shared/lib/auxiliary/popup/enums/popup-id.enum.ts
  packages/shared/lib/core/layer-2/abis/erc20.abi.ts
  packages/shared/lib/core/layer-2/abis/index.ts
  packages/shared/lib/core/layer-2/abis/isc-sandbox.abi.ts
  packages/shared/lib/core/layer-2/actions/getSelectedAccountLayer2Tokens.ts
  packages/shared/lib/core/layer-2/actions/getSelectedAccountWrappedNativeTokens.ts
  packages/shared/lib/core/layer-2/actions/importErc20Token.ts
  packages/shared/lib/core/layer-2/actions/index.ts
  packages/shared/lib/core/layer-2/constants/erc-20-token-address-length.constant.ts
  packages/shared/lib/core/layer-2/constants/index.ts
  packages/shared/lib/core/layer-2/enums/contract-type.enum.ts
  packages/shared/lib/core/layer-2/enums/index.ts
  packages/shared/lib/core/layer-2/types/abi.type.ts
  packages/shared/lib/core/layer-2/types/contract.type.ts
  packages/shared/lib/core/layer-2/types/index.ts
  packages/shared/lib/core/layer-2/utils/getAbiForContractType.ts
  packages/shared/lib/core/layer-2/utils/index.ts
  packages/shared/lib/core/network/classes/iscp-chain.class.ts
  packages/shared/lib/core/network/interfaces/chain.interface.ts
  packages/shared/lib/features/interfaces/developer-features.interface.ts
  packages/shared/locales/en.json
Labels: type:feature, context:wallet, platform:desktop, context:layer-2

#6871 feat: cache evm addresses
  packages/desktop/components/popups/AddProposalPopup.svelte
  packages/desktop/components/popups/ManageAccountPopup.svelte
  packages/desktop/components/popups/RemoveProposalPopup.svelte
  packages/shared/components/molecules/menu-items/ToggleHiddenAccountMenuItem.svelte
  packages/shared/lib/core/account/actions/buildAccountState.ts
  packages/shared/lib/core/account/actions/buildAccountStateAndPersistedData.ts
  packages/shared/lib/core/account/actions/createNewAccount.ts
  packages/shared/lib/core/account/actions/index.ts
  packages/shared/lib/core/account/actions/loadAccount.ts
  packages/shared/lib/core/account/actions/tryEditSelectedAccountPersistedData.ts
  packages/shared/lib/core/account/interfaces/account-state.interface.ts
  packages/shared/lib/core/account/interfaces/persisted-account-data.interface.ts
  packages/shared/lib/core/layer-2/actions/registerLayer2EventHandlers.ts
  packages/shared/lib/core/network/interfaces/evm-addresses.interface.ts
  packages/shared/lib/core/network/interfaces/index.ts
  packages/shared/lib/core/profile/actions/active-profile/saveActiveProfile.ts
  packages/shared/lib/core/profile/actions/profiles/checkAndMigrateProfiles.ts
  packages/shared/lib/core/profile/stores/active-profile.store.ts
Labels: type:enhancement, type:feature, type:refactor

#6893 chore: automated test building for Firefly Shimmer Desktop
  .github/workflows/build-test.yml
Labels: type:chore, scope:ci, platform:desktop

#6910 chore: adjust automated build CI for Firefly Shimmer
  .github/workflows/build-test.yml
Labels: type:chore, scope:ci, platform:desktop

#6911 chore: reorder send flow
  packages/desktop/views/dashboard/send-flow/send-flow.router.ts
Labels: type:enhancement, context:wallet, v2

#6916 enhancement: cache deposit address
  packages/desktop/components/NetworkCard.svelte
  packages/shared/lib/core/account/actions/buildAccountState.ts
  packages/shared/lib/core/account/actions/buildAccountStateAndPersistedData.ts
  packages/shared/lib/core/account/interfaces/persisted-account-data.interface.ts
  packages/shared/lib/core/profile/actions/profiles/checkAndMigrateProfiles.ts
Labels: type:enhancement, context:wallet, v2

#6921 chore: bump electron to 22.3.11
  packages/desktop/package.json
  yarn.lock
Labels: scope:dependencies, scope:security, v2

#6924 fix: claiming smr
  packages/shared/lib/contexts/onboarding/actions/restoreBackupFromStrongholdFile.ts
  packages/shared/lib/contexts/onboarding/actions/verifyAndStoreMnemonic.ts
  packages/shared/lib/core/app/classes/platform.class.ts
  packages/shared/lib/core/app/stores/mobile.store.ts
  packages/shared/lib/core/error/classes/base-error.class.ts
  packages/shared/lib/core/profile/types/account-recovery-configuration.type.ts
Labels: type:fix, context:onboarding

#6926 enhancement: add unverified status icon
  packages/desktop/components/popups/TokenInformationPopup.svelte
  packages/mobile/components/TokenWithMax.svelte
  packages/mobile/components/drawers/SelectedTokenDrawer.svelte
  packages/shared/components/atoms/AmountBox.svelte
  packages/shared/components/atoms/badges/VerificationBadge.svelte
  packages/shared/components/atoms/badges/index.js
  packages/shared/components/atoms/tiles/TokenAmountTile.svelte
  packages/shared/components/atoms/tiles/tileContents/FoundryActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/TransactionActivityTileContent.svelte
  packages/shared/components/molecules/AssetIcon.svelte
Labels: type:enhancement, context:wallet, v2

#6927 feat: display irc30 from l2
  packages/shared/lib/core/layer-2/actions/fetchSelectedAccountLayer2Balance.ts
  packages/shared/lib/core/layer-2/actions/getSelectedAccountLayer2Tokens.ts
  packages/shared/lib/core/layer-2/actions/getSelectedAccountWrappedNativeTokens.ts
  packages/shared/lib/core/layer-2/actions/index.ts
  packages/shared/lib/core/layer-2/actions/pollLayer2NativeAssets.ts
  packages/shared/lib/core/layer-2/interfaces/index.ts
  packages/shared/lib/core/layer-2/interfaces/layer2-account-balance.interface.ts
  packages/shared/lib/core/layer-2/interfaces/layer2-profile-balance.interface.ts
  packages/shared/lib/core/layer-2/stores/index.ts
  packages/shared/lib/core/layer-2/stores/layer2-balances.store.ts
  packages/shared/lib/core/network/stores/network.store.ts
  packages/shared/lib/core/wallet/actions/getAccountAssetsForSelectedAccount.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
  packages/shared/lib/core/wallet/utils/sortAssets.ts
Labels: type:feature, context:wallet, v2, context:layer-2
