Repository iotaledger/firefly, pull requests merged in 2023-03, with the labels that each got.

#5966 enhancement: register all proposals of specific nodes
  packages/desktop/App.svelte
  packages/desktop/components/popups/AddNodePopup.svelte
  packages/desktop/components/popups/AddProposalPopup.svelte
  packages/shared/components/modals/NodeActionsMenu.svelte
  packages/shared/lib/contexts/governance/actions/addProposalsFromParticipationEventMap.ts
  packages/shared/lib/contexts/governance/actions/index.ts
  packages/shared/lib/contexts/governance/actions/registerParticipationEvents.ts
  packages/shared/lib/contexts/governance/actions/registerProposalsForAccounts.ts
  packages/shared/lib/contexts/governance/actions/registerProposalsFromNode.ts
  packages/shared/lib/contexts/governance/actions/registerProposalsFromNodes.ts
  packages/shared/lib/contexts/governance/actions/registerProposalsFromPrimaryNode.ts
  packages/shared/lib/core/account/actions/tryCreateAdditionalAccount.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/profiles/checkAndMigrateProfiles.ts
Labels: type:enhancement

#5967 enhancement: add option to add all events from a given node
  packages/desktop/components/popups/AddProposalPopup.svelte
  packages/shared/locales/en.json
Labels: type:enhancement, status:do-not-merge

#6017 ui: fix scrollbar on proposal list
  packages/shared/components/Proposals.svelte
Labels: context:governance, type:ui, stardust

#6012 refactor: share toast container
  packages/desktop/App.svelte
  packages/mobile/App.svelte
  packages/mobile/components/ToastContainer.svelte
  packages/mobile/components/index.js
  packages/shared/components/Swiper.svelte
  packages/shared/components/Toast.svelte
  packages/shared/components/ToastContainer.svelte
  packages/shared/components/index.js
  packages/shared/tailwind.config.js
Labels: type:refactor, package:desktop, platform:mobile, platform:desktop, package:mobile

#6009 refactor: mobile profile drawer
  packages/mobile/components/Drawer.svelte
  packages/mobile/components/TopBar.svelte
  packages/mobile/components/buttons/DashboardProfileButton.svelte
  packages/mobile/components/drawers/DrawerManager.svelte
  packages/mobile/components/drawers/NetworkStatusDrawer.svelte
  packages/mobile/components/drawers/index.js
  packages/mobile/components/drawers/profile/ProfileDrawer.svelte
  packages/mobile/components/drawers/profile/ProfileRouter.svelte
  packages/mobile/components/drawers/profile/index.js
  packages/mobile/components/drawers/profile/views/ActionsView.svelte
  packages/mobile/components/drawers/profile/views/index.js
  packages/mobile/components/drawers/profile/views/settings/SettingsView.svelte
  packages/mobile/components/drawers/profile/views/settings/index.js
  packages/mobile/lib/auxiliary/drawer/constants/drawer-static-title-locale.constant.ts
  packages/mobile/lib/auxiliary/drawer/enums/drawer-id.enum.ts
  packages/mobile/lib/auxiliary/drawer/utils/get-drawer-router.util.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/profile-route.enum.ts
  packages/mobile/lib/routers/enums/index.ts
  packages/mobile/lib/routers/enums/wallet/index.ts
  packages/mobile/lib/routers/enums/wallet/profile-route.enum.ts
  packages/mobile/lib/routers/enums/wallet/send-route.enum.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/interfaces/profile-router-event.interface.ts
  packages/mobile/lib/routers/routers/dashboard-router.ts
  packages/mobile/lib/routers/routers/dashboard/profile-router.ts
  packages/mobile/lib/routers/routers/index.ts
  packages/mobile/lib/routers/routers/settings-router.ts
  packages/mobile/lib/routers/utils/getRouterForAppContext.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/DashboardView.svelte
  packages/mobile/views/dashboard/drawers/index.js
  packages/mobile/views/dashboard/drawers/profile/ProfileRouter.svelte
  packages/mobile/views/dashboard/drawers/profile/views/BackupProfileView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/index.js
Labels: type:refactor, platform:mobile, package:mobile, stardust

#6020 refactor: all mobile legal drawers & fix legal logic
  packages/mobile/components/Drawer.svelte
  packages/mobile/components/drawers/DrawerManager.svelte
  packages/mobile/components/drawers/LegalDrawer.svelte
  packages/mobile/components/drawers/LegalUpdateDrawer.svelte
  packages/mobile/components/drawers/index.js
  packages/mobile/lib/auxiliary/drawer/constants/drawer-static-title-locale.constant.ts
  packages/mobile/lib/auxiliary/drawer/enums/drawer-id.enum.ts
  packages/mobile/views/login/LoginRouter.svelte
  packages/mobile/views/login/views/EnterPinView.svelte
  packages/mobile/views/login/views/LegalUpdateView.svelte
  packages/mobile/views/login/views/SelectProfileView.svelte
  packages/mobile/views/login/views/index.js
  packages/mobile/views/onboarding/views/app-setup/drawers/LegalDrawer.svelte
  packages/mobile/views/onboarding/views/app-setup/drawers/index.js
  packages/mobile/views/onboarding/views/app-setup/views/WelcomeView.svelte
Labels: status:do-not-merge, type:refactor, platform:mobile, package:mobile, stardust

#6026 ui: update text of delete wallet popup
  packages/desktop/components/popups/DeleteAccountPopup.svelte
  packages/shared/locales/en.json
Labels: context:wallet, type:ui, stardust

#5911 fix: urls for mobile wiki
  packages/shared/lib/core/router/enums/routes.ts
Labels: type:fix

#6029 refactor: move developer tab buttons to desktop
  packages/desktop/components/buttons/index.js
  packages/desktop/components/buttons/popup-buttons/CreateAliasButton.svelte
  packages/desktop/components/buttons/popup-buttons/FaucetRequestButton.svelte
  packages/desktop/components/buttons/popup-buttons/MintNativeTokenButton.svelte
  packages/desktop/components/buttons/popup-buttons/MintNftButton.svelte
  packages/desktop/components/buttons/popup-buttons/RefreshTokenMetadataButton.svelte
  packages/desktop/components/buttons/popup-buttons/TestDeepLinkButton.svelte
  packages/desktop/components/buttons/popup-buttons/index.js
  packages/desktop/components/index.js
  packages/desktop/views/dashboard/developer/Developer.svelte
  packages/shared/components/atoms/buttons/index.js
Labels: type:refactor, package:desktop, platform:desktop

#6004 refactor: RecoveryPhrase & ViewMnemonicView & VerifyMnemonicView
  packages/desktop/views/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
  packages/desktop/views/onboarding/views/profile-backup/views/ViewMnemonicView.svelte
  packages/mobile/components/RecoveryPhrase.svelte
  packages/mobile/components/index.js
  packages/mobile/views/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
  packages/mobile/views/onboarding/views/profile-backup/views/ViewMnemonicView.svelte
  packages/shared/components/RecoveryPhrase.svelte
  packages/shared/lib/auxiliary/wordlists/index.ts
  packages/shared/lib/auxiliary/wordlists/utils/generateRandomWord.ts
  packages/shared/lib/auxiliary/wordlists/utils/index.ts
  packages/shared/lib/contexts/onboarding/utils/getWordChoices.ts
  packages/shared/lib/contexts/onboarding/utils/index.ts
Labels: type:chore, type:refactor, package:desktop, platform:mobile, package:shared, platform:desktop, package:mobile, type:ui, stardust

#6089 fix: VerifyMnemonicView desktop
  packages/desktop/views/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
Labels: type:fix, package:desktop, platform:desktop, stardust

#6090 feat: add stronghold version to profile
  packages/desktop/features/onboarding.features.ts
  packages/desktop/views/onboarding/views/CongratulationsView.svelte
  packages/shared/lib/contexts/onboarding/helpers/convertOnboardingProfileToPersistedProfile.ts
  packages/shared/lib/core/app/utils/index.ts
  packages/shared/lib/core/app/utils/isStrongholdUpdated.ts
  packages/shared/lib/core/profile/actions/active-profile/saveActiveProfile.ts
  packages/shared/lib/core/profile/constants/default-persisted-profile-object.constant.ts
  packages/shared/lib/core/profile/interfaces/persisted-profile.interface.ts
  packages/shared/lib/core/stronghold/constants/index.ts
  packages/shared/lib/core/stronghold/constants/stronghold-version.constant.ts
Labels: type:feature, stardust

#6084 feat: add stronghold badge
  packages/desktop/views/login/views/SelectProfileView.svelte
  packages/shared/components/Profile.svelte
  packages/shared/components/atoms/Icon.svelte
  packages/shared/components/atoms/badges/StrongholdBadge.svelte
  packages/shared/components/atoms/badges/index.js
  packages/shared/lib/core/app/utils/isStrongholdUpdated.ts
  packages/shared/locales/en.json
Labels: type:feature, package:shared, stardust

#6085 feat: adds update stronghold TextHint in EnterPinView
  packages/desktop/views/login/views/EnterPinView.svelte
  packages/shared/locales/en.json
Labels: type:feature, package:desktop, package:shared, platform:desktop, stardust

#6086 feat: adds update stronghold router and route
  packages/desktop/lib/routers/actions/initialiseRouters.ts
  packages/desktop/lib/routers/actions/resetRouters.ts
  packages/desktop/lib/routers/utils/getSubroutersForAppContext.ts
  packages/shared/lib/core/router/enums/index.ts
  packages/shared/lib/core/router/enums/login-route.enum.ts
  packages/shared/lib/core/router/enums/login/index.ts
  packages/shared/lib/core/router/enums/login/update-stronghold-route.enum.ts
  packages/shared/lib/core/router/subrouters/index.ts
  packages/shared/lib/core/router/subrouters/login-router.ts
  packages/shared/lib/core/router/subrouters/login/index.ts
  packages/shared/lib/core/router/subrouters/login/update-stronghold-router.ts
Labels: type:feature, package:desktop, package:shared, platform:desktop, stardust

#6087 feat: adds update stronghold view
  packages/desktop/views/login/LoginRouter.svelte
  packages/desktop/views/login/views/EnterPinView.svelte
  packages/desktop/views/login/views/index.js
  packages/desktop/views/login/views/update-stronghold/UpdateStrongholdRouter.svelte
  packages/desktop/views/login/views/update-stronghold/index.js
  packages/desktop/views/login/views/update-stronghold/views/UpdateStrongholdView.svelte
  packages/desktop/views/login/views/update-stronghold/views/index.js
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/unlockStronghold.ts
  packages/shared/lib/core/profile/interfaces/login-options.interface.ts
  packages/shared/locales/en.json
Labels: type:feature, package:desktop, platform:desktop, type:ui, stardust

#6088 feat: adds ChangePassword view for update stronghold
  packages/desktop/views/login/views/update-stronghold/UpdateStrongholdRouter.svelte
  packages/desktop/views/login/views/update-stronghold/views/ChangePasswordView.svelte
  packages/desktop/views/login/views/update-stronghold/views/UpdateStrongholdView.svelte
  packages/desktop/views/login/views/update-stronghold/views/index.js
  packages/shared/locales/en.json
Labels: type:feature, package:desktop, platform:desktop, type:ui, stardust

#6034 enhancement: add outdated node url state for removed proposals
  packages/desktop/components/popups/RemoveProposalPopup.svelte
  packages/desktop/features/governance.features.ts
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/OutdatedNodeTooltip.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/components/ProposalStatusInfo.svelte
  packages/shared/components/ResultsNotAvailableTooltip.svelte
  packages/shared/components/atoms/buttons/ProposalDetailsButton.svelte
  packages/shared/components/atoms/pills/Pill.svelte
  packages/shared/components/atoms/pills/ProposalStatusPill.svelte
  packages/shared/components/index.js
  packages/shared/lib/contexts/governance/actions/deregisterParticipationEvent.ts
  packages/shared/lib/contexts/governance/actions/getAccountsParticipationEventStatusForEvent.ts
  packages/shared/lib/contexts/governance/actions/index.ts
  packages/shared/lib/contexts/governance/actions/initializeRegisteredProposals.ts
  packages/shared/lib/contexts/governance/enums/index.ts
  packages/shared/lib/contexts/governance/enums/proposal-error.enum.ts
  packages/shared/lib/contexts/governance/interfaces/proposal-state.interface.ts
  packages/shared/lib/contexts/governance/stores/selected-participation-event-status.store.ts
  packages/shared/lib/contexts/governance/utils/createProposalFromError.ts
  packages/shared/lib/contexts/governance/utils/createProposalFromEvent.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/locales/en.json
Labels: type:enhancement

#5968 fix: not visible surplus
  packages/desktop/components/popups/send/SendConfirmationPopup.svelte
  packages/shared/components/molecules/activity-info/GenericActivityInformation.svelte
  packages/shared/lib/auxiliary/deep-link/errors/index.ts
  packages/shared/lib/auxiliary/deep-link/errors/surplus-not-supported.error.ts
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendConfirmationOperation.ts
  packages/shared/lib/core/wallet/types/activities/base-activity.type.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getStorageDepositFromOutput.ts
  packages/shared/locales/en.json
Labels: type:fix, package:desktop, package:shared, stardust

#6114 fix: only show dismiss button by default in mobile app
  packages/mobile/App.svelte
  packages/shared/components/ToastContainer.svelte
Labels: type:fix, package:desktop, platform:mobile, package:shared, platform:desktop, package:mobile, type:ui, stardust

#6118 Feat: update proposal card color in dark mode
  packages/shared/components/organisms/ProposalCard.svelte
Labels: type:ui

#6121 chore: move update stronghold files to outside of login folder
  packages/desktop/views/index.js
  packages/desktop/views/login/LoginRouter.svelte
  packages/desktop/views/login/views/index.js
  packages/desktop/views/onboarding/views/profile-recovery/ProfileRecoveryRouter.svelte
  packages/desktop/views/update-stronghold/UpdateStrongholdRouter.svelte
  packages/desktop/views/update-stronghold/index.js
  packages/desktop/views/update-stronghold/views/ChangePasswordView.svelte
  packages/desktop/views/update-stronghold/views/UpdateBackupView.svelte
  packages/desktop/views/update-stronghold/views/UpdateStrongholdView.svelte
  packages/desktop/views/update-stronghold/views/index.js
  packages/shared/lib/core/router/enums/index.ts
  packages/shared/lib/core/router/enums/login/index.ts
  packages/shared/lib/core/router/enums/update-stronghold-route.enum.ts
  packages/shared/lib/core/router/subrouters/index.ts
  packages/shared/lib/core/router/subrouters/login-router.ts
  packages/shared/lib/core/router/subrouters/login/index.ts
  packages/shared/lib/core/router/subrouters/onboarding/profile-recovery-router.ts
  packages/shared/lib/core/router/subrouters/update-stronghold-router.ts
Labels: type:chore, package:desktop, package:shared, platform:desktop, stardust

#6127 fix: fix royalty validations
  packages/desktop/components/popups/MintNftFormPopup.svelte
  packages/shared/components/Error.svelte
  packages/shared/locales/en.json
Labels: type:fix, stardust

#6129 fix: fix toasts
  packages/shared/components/Toast.svelte
  packages/shared/components/ToastContainer.svelte
Labels: type:fix, stardust

#6044 refactor: AccountActions button & menu
  packages/desktop/components/AccountSummary.svelte
  packages/desktop/components/buttons/index.js
  packages/desktop/components/buttons/menu-buttons/AccountActionsButton.svelte
  packages/desktop/components/buttons/menu-buttons/index.js
  packages/desktop/components/index.js
  packages/desktop/components/modals/AccountActionsMenu.svelte
  packages/desktop/components/modals/index.js
  packages/desktop/views/dashboard/wallet/Wallet.svelte
  packages/shared/components/atoms/buttons/index.js
  packages/shared/components/modals/index.js
  packages/shared/components/organisms/AccountSummary.svelte
  packages/shared/components/organisms/index.js
Labels: type:chore, type:refactor, package:desktop, package:shared, platform:desktop, type:ui, stardust

#6091 feat: track stronghold version
  packages/shared/components/Button.svelte
  packages/shared/lib/profile.ts
  packages/shared/lib/stronghold.ts
  packages/shared/lib/typings/profile.ts
Labels: type:feature, platform:mobile, package:mobile

#6094 feat: add warning badge and apply to profiles that require stronghold update
  packages/shared/components/Profile.svelte
  packages/shared/components/WarningBadge.svelte
  packages/shared/components/icon/icons.js
  packages/shared/components/index.js
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/login/views/SelectProfile.svelte
Labels: platform:mobile, package:mobile

#6095 feat: add warning hint to update stronghold to login view
  packages/shared/locales/en.json
  packages/shared/routes/login/views/EnterPin.svelte
Labels: status:do-not-merge, platform:mobile, package:mobile

#6097 feat: add update stronghold router
  packages/shared/lib/core/router/app-router.ts
  packages/shared/lib/core/router/enums/routes.ts
  packages/shared/lib/core/router/subrouters/index.ts
  packages/shared/lib/core/router/subrouters/update-stronghold-router.ts
Labels: status:do-not-merge, platform:mobile, package:mobile

#6098 feat: add update stronghold view
  packages/mobile/App.svelte
  packages/shared/locales/en.json
  packages/shared/routes/index.js
  packages/shared/routes/update-stronghold/UpdateStronghold.svelte
  packages/shared/routes/update-stronghold/views/Update.svelte
  packages/shared/routes/update-stronghold/views/index.js
Labels: status:do-not-merge, platform:mobile, package:mobile

#6101 feat: add change password view to update stronghold flow
  packages/shared/locales/en.json
  packages/shared/routes/update-stronghold/UpdateStronghold.svelte
  packages/shared/routes/update-stronghold/views/ChangePassword.svelte
  packages/shared/routes/update-stronghold/views/Update.svelte
  packages/shared/routes/update-stronghold/views/index.js
Labels: status:do-not-merge, platform:mobile, package:mobile

#6106 feat: add update stronghold success view
  packages/shared/lib/core/router/enums/routes.ts
  packages/shared/lib/core/router/subrouters/update-stronghold-router.ts
  packages/shared/locales/en.json
  packages/shared/routes/update-stronghold/UpdateStronghold.svelte
  packages/shared/routes/update-stronghold/views/ChangePassword.svelte
  packages/shared/routes/update-stronghold/views/Success.svelte
  packages/shared/routes/update-stronghold/views/index.js
Labels: status:do-not-merge, platform:mobile, package:mobile

#6107 Feat: add update stronghold to import stronghold onboarding flow
  packages/shared/lib/core/router/app-router.ts
  packages/shared/lib/core/router/subrouters/import-router.ts
  packages/shared/lib/core/router/types/event.ts
  packages/shared/locales/en.json
  packages/shared/routes/update-stronghold/UpdateStronghold.svelte
  packages/shared/routes/update-stronghold/views/Success.svelte
  packages/shared/routes/update-stronghold/views/Update.svelte
Labels: status:do-not-merge, platform:mobile, package:mobile

#5543 enhancement: download nft media to local system
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/main.js
  packages/desktop/package.json
  packages/desktop/webpack.config.js
  packages/shared/lib/core/app/interfaces/platform.interface.ts
  packages/shared/lib/core/nfts/actions/downloadNftMedia.ts
  packages/shared/lib/core/nfts/actions/index.ts
  packages/shared/lib/core/nfts/constants/bytes-per-megabyte.constant.ts
  packages/shared/lib/core/nfts/constants/index.ts
  packages/shared/lib/core/nfts/enums/download-error-type.enum.ts
  packages/shared/lib/core/nfts/enums/download-warning-type.enum.ts
  packages/shared/lib/core/nfts/enums/http-header.enum.ts
  packages/shared/lib/core/nfts/enums/index.ts
  packages/shared/lib/core/nfts/interfaces/index.ts
  packages/shared/lib/core/nfts/interfaces/nft-download-metadata.interface.ts
  packages/shared/lib/core/nfts/interfaces/nft.interface.ts
  packages/shared/lib/core/nfts/utils/buildNftFromNftOutput.ts
  packages/shared/lib/core/nfts/utils/downloadAllNftMedia.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/tests/__mocks__/platform.mock.ts
  yarn.lock
Labels: type:enhancement, stardust, context:nft

#6025 refactor: moves Governance components to desktop
  packages/desktop/components/ProposalAnswer.svelte
  packages/desktop/components/ProposalCard.svelte
  packages/desktop/components/ProposalQuestion.svelte
  packages/desktop/components/ProposalStatusInfo.svelte
  packages/desktop/components/ProposalStatusTimelineTooltip.svelte
  packages/desktop/components/Proposals.svelte
  packages/desktop/components/ProposalsDetails.svelte
  packages/desktop/components/VotingPower.svelte
  packages/desktop/components/index.js
  packages/desktop/components/menu-buttons/ProposalDetailsButton.svelte
  packages/desktop/components/menu-buttons/index.js
  packages/desktop/views/dashboard/governance/views/GovernanceDashboardView.svelte
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/atoms/buttons/index.js
  packages/shared/components/index.js
  packages/shared/components/organisms/index.js
Labels: type:chore, type:refactor, package:desktop, package:shared, platform:desktop, type:ui, stardust

#6180 fix: shared components exports
  packages/shared/components/index.js
Labels: type:fix, package:shared, stardust

#6202 fix: fix nft download behavior
  packages/desktop/App.svelte
  packages/desktop/electron/main.js
  packages/shared/lib/core/app/actions/registerAppEvents.ts
  packages/shared/lib/core/app/actions/registerDownloadEvents.ts
  packages/shared/lib/core/app/interfaces/platform-event-map.interface.ts
  packages/shared/lib/core/nfts/constants/check-currently-downloading.constants.ts
  packages/shared/lib/core/nfts/stores/downloading-nft.store.ts
  packages/shared/lib/core/nfts/stores/index.ts
  packages/shared/lib/core/nfts/utils/downloadAllNftMedia.ts
  packages/shared/lib/core/nfts/utils/validateNftMedia.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:enhancement, stardust, context:collectibles

#5544 enhancement: serve nft media from file system
  packages/desktop/public/index.html
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/shared/components/atoms/MediaDisplay.svelte
  packages/shared/components/modals/CollectibleDetailsMenu.svelte
  packages/shared/components/molecules/NftGalleryItem.svelte
  packages/shared/components/molecules/NftMedia.svelte
  packages/shared/lib/core/nfts/actions/downloadNftMedia.ts
  packages/shared/lib/core/nfts/utils/buildNftFromNftOutput.ts
  yarn.lock
Labels: context:wallet, stardust, context:nft

#6208 fix: make questions collapsible
  packages/desktop/components/ProposalAnswer.svelte
Labels: type:fix, context:governance, stardust

#6220 enhancement: add head request to nft minting for nft type
  packages/desktop/components/popups/MintNftFormPopup.svelte
  packages/shared/components/organisms/NodeConfigurationForm.svelte
  packages/shared/lib/core/nfts/utils/buildNftFromNftOutput.ts
  packages/shared/lib/core/nfts/utils/composeUrlFromNftUri.ts
  packages/shared/lib/core/nfts/utils/fetchWithTimeout.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/nfts/utils/validateNftMedia.ts
  packages/shared/lib/core/utils/index.ts
  packages/shared/lib/core/utils/url.ts
  packages/shared/locales/en.json
Labels: type:enhancement, stardust, context:developer

#6188 fix: adds default constant of lockScreenTimeoutInMinutes as fallback
  packages/desktop/views/dashboard/settings/views/security/AppLock.svelte
  packages/mobile/components/drawers/profile/views/settings/views/AppLockView.svelte
  packages/shared/components/Idle.svelte
Labels: type:fix, stardust

#6222 feat: add Stronghold version
  packages/shared/lib/profile.ts
  packages/shared/lib/typings/profile.ts
  packages/shared/lib/wallet.ts
Labels: type:feature

#6223 feat: add warning icon to profile badge icon
  packages/shared/components/Profile.svelte
  packages/shared/components/StrongholdWarningBadge.svelte
  packages/shared/components/WarningBadge.svelte
  packages/shared/components/icon/icons.js
  packages/shared/components/index.js
  packages/shared/lib/wallet.ts
  packages/shared/locales/en.json
  packages/shared/routes/login/views/EnterPin.svelte
  packages/shared/routes/login/views/SelectProfile.svelte
Labels: type:feature

#6224 feat: add warning hint to pin entry page
  packages/shared/locales/en.json
  packages/shared/routes/login/views/EnterPin.svelte
Labels: type:feature

#6196 fix: fix squished proposal details
  packages/desktop/components/panes/ProposalInformationPane.svelte
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/molecules/MarkdownBlock.svelte
  packages/shared/components/molecules/markdown-renderers/LinkBlock.svelte
  packages/shared/components/molecules/markdown-renderers/ParagraphBlock.svelte
Labels: context:governance, type:ui, stardust

#6241 enhancement: improve performance for nft loading
  packages/desktop/electron/main.js
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
  packages/shared/lib/core/nfts/actions/downloadNftMedia.ts
  packages/shared/lib/core/nfts/actions/index.ts
  packages/shared/lib/core/nfts/constants/check-currently-downloading.constants.ts
  packages/shared/lib/core/nfts/interfaces/download-queue-nft-item.interface.ts
  packages/shared/lib/core/nfts/interfaces/index.ts
  packages/shared/lib/core/nfts/utils/downloadAllNftMedia.ts
  packages/shared/lib/core/nfts/utils/downloadNftMedia.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
Labels: type:enhancement, stardust, context:collectibles

#6239 ci: upgrade deprecated feature
  .github/workflows/build-desktop.yml
Labels: scope:ci, stardust

#6243 fix: handle long nft names on activities
  packages/shared/components/atoms/tiles/tileContents/ActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/FoundryActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/GovernanceActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/TransactionActivityTileContent.svelte
  packages/shared/components/molecules/NftActivityDetails.svelte
Labels: type:fix, type:ui, stardust

#6233 feat: stronghold password timeout setting
  packages/desktop/features/settings.features.ts
  packages/desktop/views/dashboard/settings/views/security/StrongholdPasswordTimeout.svelte
  packages/desktop/views/dashboard/settings/views/security/index.js
  packages/desktop/views/dashboard/settings/views/security/security-settings.constant.js
  packages/shared/lib/auxiliary/icon/constants/settings-icon-svg.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/profiles/checkAndMigrateProfiles.ts
  packages/shared/lib/core/profile/constants/default-persisted-profile-object.constant.ts
  packages/shared/lib/core/profile/constants/default_stronghold_password_timeout_in_minutes.constant.ts
  packages/shared/lib/core/profile/constants/index.ts
  packages/shared/lib/core/profile/constants/profile-version.constant.ts
  packages/shared/lib/core/profile/constants/stronghold-password-clear-interval.constant.ts
  packages/shared/lib/core/profile/interfaces/profile-settings.interface.ts
  packages/shared/lib/core/profile/stores/hasStrongholdLocked.store.ts
  packages/shared/lib/core/router/enums/settings/security-settings-route.enum.ts
  packages/shared/locales/en.json
Labels: type:feature, context:settings, stardust

#6246 feat: add update stronghold router and UI to login flow
  packages/shared/lib/core/router/enums/index.ts
  packages/shared/lib/core/router/enums/routes.ts
  packages/shared/lib/core/router/enums/update-stronghold-routes.ts
  packages/shared/lib/core/router/subrouters/index.ts
  packages/shared/lib/core/router/subrouters/login-router.ts
  packages/shared/lib/core/router/subrouters/update-stronghold-router.ts
  packages/shared/locales/en.json
  packages/shared/routes/login/Login.svelte
  packages/shared/routes/login/views/ChangePasswordView.svelte
  packages/shared/routes/login/views/SaveBackupView.svelte
  packages/shared/routes/login/views/UpdateStrongholdView.svelte
  packages/shared/routes/login/views/index.js
Labels: type:feature

#6249 enhancement: persist nft head data
  packages/shared/lib/core/nfts/interfaces/index.ts
  packages/shared/lib/core/nfts/interfaces/persisted-nft-data.interface.ts
  packages/shared/lib/core/nfts/interfaces/persisted-nft-store.interface.ts
  packages/shared/lib/core/nfts/stores/index.ts
  packages/shared/lib/core/nfts/stores/persisted-nft-data.store.ts
  packages/shared/lib/core/nfts/utils/validateNftMedia.ts
Labels: type:enhancement, stardust, context:collectibles

#6274 refactor: split network settings
  packages/desktop/features/settings.features.ts
  packages/desktop/views/dashboard/settings/views/SettingsSection.svelte
  packages/desktop/views/dashboard/settings/views/index.js
  packages/desktop/views/dashboard/settings/views/network/ConfigureNodeList.svelte
  packages/desktop/views/dashboard/settings/views/network/LocalProofOfWork.svelte
  packages/desktop/views/dashboard/settings/views/network/NetworkConfiguration.svelte
  packages/desktop/views/dashboard/settings/views/network/NetworkInformation.svelte
  packages/desktop/views/dashboard/settings/views/network/index.js
  packages/desktop/views/dashboard/settings/views/network/network-settings.constant.js
  packages/shared/lib/auxiliary/icon/constants/settings-icon-svg.ts
  packages/shared/lib/core/router/enums/settings/network-settings-route.enum.ts
  packages/shared/locales/af.json
  packages/shared/locales/ar.json
  packages/shared/locales/bg.json
  packages/shared/locales/ca.json
  packages/shared/locales/cs.json
  packages/shared/locales/da.json
  packages/shared/locales/de.json
  packages/shared/locales/el.json
  packages/shared/locales/en.json
  packages/shared/locales/eo.json
  packages/shared/locales/es-ES.json
  packages/shared/locales/es-LA.json
  packages/shared/locales/et.json
  packages/shared/locales/fa.json
  packages/shared/locales/fi.json
  packages/shared/locales/fr.json
  packages/shared/locales/he.json
  packages/shared/locales/hi.json
  packages/shared/locales/hr.json
  packages/shared/locales/hu.json
  packages/shared/locales/id.json
  packages/shared/locales/it.json
  packages/shared/locales/ja.json
  packages/shared/locales/ko.json
  packages/shared/locales/ku.json
  packages/shared/locales/lv.json
  packages/shared/locales/mk.json
  packages/shared/locales/nl.json
  packages/shared/locales/no.json
  packages/shared/locales/pl.json
  packages/shared/locales/pt-BR.json
  packages/shared/locales/pt-PT.json
  packages/shared/locales/ro.json
  packages/shared/locales/ru.json
  packages/shared/locales/si.json
  packages/shared/locales/sk.json
  packages/shared/locales/sl.json
  packages/shared/locales/sq.json
  packages/shared/locales/sr.json
  packages/shared/locales/sv.json
  packages/shared/locales/tr.json
  packages/shared/locales/uk.json
  packages/shared/locales/ur.json
  packages/shared/locales/vi.json
  packages/shared/locales/zh-CN.json
  packages/shared/locales/zh-TW.json
Labels: type:refactor, context:settings, stardust

#6256 enhancement: global download queue
  packages/desktop/App.svelte
  packages/desktop/components/popups/MintNftFormPopup.svelte
  packages/desktop/components/popups/send/SendFormPopup.svelte
  packages/desktop/views/dashboard/Dashboard.svelte
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/desktop/views/dashboard/collectibles/views/CollectiblesGalleryView.svelte
  packages/shared/components/inputs/NftInput.svelte
  packages/shared/components/molecules/NftActivityDetails.svelte
  packages/shared/components/molecules/NftMedia.svelte
  packages/shared/lib/core/app/actions/registerDownloadEvents.ts
  packages/shared/lib/core/nfts/actions/addNftsToDownloadQueue.ts
  packages/shared/lib/core/nfts/actions/downloadNextNftInQueue.ts
  packages/shared/lib/core/nfts/actions/index.ts
  packages/shared/lib/core/nfts/constants/check-currently-downloading.constants.ts
  packages/shared/lib/core/nfts/stores/index.ts
  packages/shared/lib/core/nfts/stores/nft-download-queue.store.ts
  packages/shared/lib/core/nfts/stores/selected-account-nfts.store.ts
  packages/shared/lib/core/nfts/utils/checkIfNftShouldBeDownloaded.ts
  packages/shared/lib/core/nfts/utils/downloadNftMedia.ts
  packages/shared/lib/core/nfts/utils/index.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleNewOutputEvent.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:enhancement, stardust, context:collectibles

#6296 enhancement: improve check if media exists
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/main.js
  packages/shared/lib/core/app/interfaces/platform.interface.ts
  packages/shared/lib/core/nfts/utils/checkIfNftShouldBeDownloaded.ts
  packages/shared/lib/tests/__mocks__/platform.mock.ts
Labels: type:enhancement, stardust, context:collectibles

#6092 Feat: send nft to l2
  packages/desktop/components/popups/send/SendConfirmationPopup.svelte
  packages/desktop/components/popups/send/SendFormPopup.svelte
  packages/shared/lib/core/layer-2/constants/ending-signal-bytes.constant.ts
  packages/shared/lib/core/layer-2/constants/index.ts
  packages/shared/lib/core/layer-2/helpers/encodeAddress.ts
  packages/shared/lib/core/layer-2/helpers/encodeAssetAllowance.ts
  packages/shared/lib/core/layer-2/helpers/encodeSmartContractParameters.ts
  packages/shared/lib/core/layer-2/helpers/index.ts
  packages/shared/lib/core/layer-2/interfaces/index.ts
  packages/shared/lib/core/layer-2/interfaces/layer2-asset-allowance.interface.ts
  packages/shared/lib/core/layer-2/interfaces/layer2-smart-contract-call-data.interface.ts
  packages/shared/lib/core/layer-2/tests/parseLayer2MetadataForTransfer.test.ts
  packages/shared/lib/core/layer-2/utils/getLayer2MetadataForTransfer.ts
  packages/shared/lib/core/layer-2/utils/parseLayer2Metadata.ts
  packages/shared/lib/core/layer-2/utils/parseLayer2MetadataForTransfer.ts
  packages/shared/lib/core/nfts/constants/index.ts
  packages/shared/lib/core/nfts/constants/nft-id-byte-length.constant.ts
  packages/shared/lib/core/utils/convert.ts
  packages/shared/lib/core/wallet/tests/getOutputOptions.test.ts
  packages/shared/lib/core/wallet/utils/convertBech32ToHexAddress.ts
  packages/shared/lib/core/wallet/utils/hashOutputId.ts
  packages/shared/lib/core/wallet/utils/parseGovernanceMetadata.ts
Labels: type:feature, context:wallet, v2, context:collectibles

#6297 feat: add new evm testnet address
  packages/desktop/components/popups/send/SendFormPopup.svelte
  packages/desktop/features/wallet.features.ts
  packages/shared/lib/core/layer-2/constants/network-address.constant.ts
  packages/shared/lib/core/layer-2/enums/destination-network.enum.ts
Labels: type:chore, v2, context:layer-2

#6321 chore: update lock file
  yarn.lock
Labels: type:chore

#6294 enhancement: interrupt downloads
  packages/desktop/electron/electronApi.js
  packages/desktop/electron/main.js
  packages/desktop/views/dashboard/Dashboard.svelte
  packages/shared/components/molecules/menu-items/AccountSwitcherMenuItem.svelte
  packages/shared/lib/core/app/actions/registerDownloadEvents.ts
  packages/shared/lib/core/app/interfaces/platform.interface.ts
  packages/shared/lib/core/nfts/actions/index.ts
  packages/shared/lib/core/nfts/actions/interruptNftDownloadAfterTimeout.ts
  packages/shared/lib/core/nfts/actions/stopDownloadingNftMediaFromQueue.ts
  packages/shared/lib/core/nfts/constants/check-currently-downloading.constants.ts
  packages/shared/lib/core/nfts/constants/index.ts
  packages/shared/lib/core/nfts/constants/max-downloading-time.constant.ts
  packages/shared/lib/core/nfts/stores/nft-download-queue.store.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
  packages/shared/lib/tests/__mocks__/platform.mock.ts
Labels: type:enhancement, v2, context:collectibles

#6225 enhancement: removed event ids store
  packages/desktop/components/popups/AddProposalPopup.svelte
  packages/desktop/components/popups/RemoveProposalPopup.svelte
  packages/shared/lib/contexts/governance/actions/registerParticipationEvents.ts
  packages/shared/lib/core/account/interfaces/account-metadata.interface.ts
Labels: type:enhancement, context:governance, v2

#6319 enhancement: truncate addresses displaying more characters
  packages/shared/components/atoms/tiles/tileContents/AliasActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/NftActivityTileContent.svelte
  packages/shared/components/atoms/tiles/tileContents/TransactionActivityTileContent.svelte
Labels: type:enhancement, type:fix, platform:desktop, type:ui, v2, context:layer-2

#6332 fix: mobile send crash
  packages/mobile/components/drawers/send/SendRouter.svelte
  packages/mobile/components/drawers/send/views/ReviewView.svelte
Labels: platform:mobile, v2
