Repository iotaledger/firefly, pull requests merged in 2023-02, with the labels that each got.

#5689 feat-mobile: balance breakdown
  packages/mobile/components/Drawer.svelte
  packages/mobile/features/features.ts
  packages/mobile/lib/contexts/dashboard/enums/account-action.enum.ts
  packages/mobile/lib/routers/enums/dashboard/account-actions-route.enum.ts
  packages/mobile/lib/routers/routers/dashboard/account-actions-router.ts
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsDrawer.svelte
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsRouter.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/AccountActionsView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/BalanceBreakdownView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/ConsolidateConfirmationView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/CustomizeAccountView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/DeleteAccountConfirmationView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/index.js
Labels: platform:mobile, package:mobile, stardust

#5718 fix: require at least one answer
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/popups/VoteForProposalPopup.svelte
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/isProposalVotable.ts
  packages/shared/locales/en.json
Labels: type:fix, context:governance

#5723 feat: governance polishing #2
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/components/atoms/pills/ProposalStatusPill.svelte
  packages/shared/components/filters/items/OrderFilterItem.svelte
  packages/shared/components/modals/ProposalsDetailsMenu.svelte
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/lib/contexts/governance/utils/getPercentagesFromAnswerStatuses.ts
  packages/shared/lib/contexts/governance/utils/tests/getPercentagesFromAnswerStatuses.test.ts
  packages/shared/lib/core/utils/number.ts
Labels: type:enhancement, type:feature, type:fix, context:governance, stardust

#5733 fix: do not freeze on negative participation range
  packages/desktop/views/dashboard/governance/views/DetailsView.svelte
  packages/shared/lib/contexts/governance/utils/calculateTotalVotesForTrackedParticipations.ts
  packages/shared/lib/contexts/governance/utils/calculateWeightedVotes.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/isProposalVotable.ts
Labels: type:fix, context:governance

#5737 fix: reset Governance dashboard on wallet switch
  packages/desktop/views/dashboard/collectibles/Collectibles.svelte
  packages/desktop/views/dashboard/governance/Governance.svelte
  packages/desktop/views/dashboard/governance/views/GovernanceDashboardView.svelte
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/desktop/views/dashboard/governance/views/index.js
Labels: type:fix, context:governance, context:navigation

#5742 fix: busy states during governance transactions
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/components/popups/StopVotingPopup.svelte
  packages/shared/components/popups/VoteForProposalPopup.svelte
  packages/shared/lib/contexts/governance/actions/setVotingPower.ts
  packages/shared/lib/contexts/governance/actions/stopVotingForProposal.ts
  packages/shared/lib/contexts/governance/actions/vote.ts
  packages/shared/lib/contexts/governance/stores/has-to-revote.store.ts
  packages/shared/lib/contexts/governance/stores/index.ts
  packages/shared/lib/contexts/governance/stores/pending-governance-transaction-ids.store.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:fix, context:governance

#5761 fix: fix setup view error
  packages/shared/locales/en.json
  packages/shared/package.json
  yarn.lock
Labels: type:fix, context:onboarding, stardust

#5777 refactor: logout function
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:refactor, package:shared

#5744 chore: adjust PR template
  .github/pull_request_template.md
Labels: type:chore

#5802 chore: add feature flag for removing Governance proposals
  packages/desktop/features/governance.features.ts
  packages/shared/components/modals/ProposalDetailsMenu.svelte
Labels: type:chore, context:governance

#5798 fix: new staking event
  packages/shared/lib/participation/constants.ts
Labels: context:staking

#5800 feat-mobile: swipe to dismiss notification
  packages/mobile/components/Swiper.svelte
  packages/mobile/components/ToastContainer.svelte
  packages/mobile/components/index.js
  packages/shared/components/Alert.svelte
  packages/shared/components/Drawer.svelte
  packages/shared/components/Toast.svelte
  packages/shared/lib/core/utils/ui.ts
Labels: type:feature, platform:mobile, package:shared, package:mobile, stardust

#5804 chore: add feature flag for L1->L2 support
  packages/desktop/features/collectibles.features.ts
  packages/desktop/features/electron.features.ts
  packages/desktop/features/features.ts
  packages/desktop/features/settings.features.ts
  packages/desktop/features/wallet.features.ts
  packages/shared/components/popups/send/SendFormPopup.svelte
Labels: type:chore, context:wallet

#5814 fix: Button size changing suddenly after loading state
  packages/shared/components/Button.svelte
Labels: type:fix, package:shared, stardust

#5805 chore: update `wallet.rs`
  packages/desktop/views/onboarding/views/app-setup/views/LanguageAndAppearanceView.svelte
  packages/desktop/views/onboarding/views/network-setup/views/ChooseNetworkView.svelte
  packages/desktop/views/onboarding/views/network-setup/views/SetupPrivateNetworkConnectionView.svelte
  packages/desktop/views/onboarding/views/profile-setup/views/SetupNewView.svelte
  packages/desktop/views/onboarding/views/profile-setup/views/SetupView.svelte
  packages/mobile/views/login/views/SelectProfileView.svelte
  packages/mobile/views/onboarding/views/app-setup/views/WelcomeView.svelte
  packages/mobile/views/onboarding/views/network-setup/views/ChooseNetworkView.svelte
  packages/mobile/views/onboarding/views/profile-setup/views/SetupView.svelte
  packages/shared/lib/contexts/governance/utils/createProposalFromEvent.ts
  packages/shared/lib/contexts/onboarding/actions/cleanupOnboardingProfileManager.ts
  packages/shared/lib/contexts/onboarding/actions/deleteOnboardingProfile.ts
  packages/shared/lib/contexts/onboarding/actions/destroyShimmerClaimingProfileManager.ts
  packages/shared/lib/contexts/onboarding/actions/initialiseOnboardingFlow.ts
  packages/shared/lib/contexts/onboarding/actions/initialiseOnboardingProfile.ts
  packages/shared/lib/contexts/onboarding/actions/initialiseProfileManagerFromOnboardingProfile.ts
  packages/shared/lib/contexts/onboarding/actions/resetOnboardingProfile.ts
  packages/shared/lib/core/profile-manager/actions/destroyProfileManager.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/core/profile-manager/tests/api.test.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
  packages/shared/package.json
  yarn.lock
Labels: type:chore, package:wallet.rs

#5699 feat-mobile: add shimmer claiming with stronghold import
  packages/mobile/features/onboarding.features.ts
  packages/mobile/lib/routers/routers/onboarding-router.ts
  packages/mobile/lib/routers/routers/onboarding/profile-recovery-router.ts
  packages/mobile/views/onboarding/views/profile-recovery/ProfileRecoveryRouter.svelte
  packages/mobile/views/onboarding/views/profile-recovery/views/BackupPasswordView.svelte
  packages/mobile/views/onboarding/views/profile-recovery/views/ImportStrongholdBackupView.svelte
  packages/mobile/views/onboarding/views/profile-recovery/views/SuccessView.svelte
  packages/mobile/views/onboarding/views/profile-recovery/views/index.js
  packages/mobile/views/onboarding/views/profile-setup/views/EnterNameView.svelte
Labels: platform:mobile, package:mobile, stardust

#5745 feat-mobile: adds search assets input in assets tab
  packages/mobile/components/AssetList.svelte
  packages/mobile/components/inputs/SearchInput.svelte
  packages/mobile/components/inputs/index.js
Labels: type:feature, platform:mobile, context:wallet, package:mobile

#5832 fix: improve efficiency of governance api requests
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/components/ProposalStatusInfo.svelte
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/components/organisms/ProposalInformation.svelte
  packages/shared/components/popups/RemoveProposalPopup.svelte
  packages/shared/lib/contexts/governance/actions/deregisterParticipationEvent.ts
  packages/shared/lib/contexts/governance/actions/getAccountsParticipationEventStatusForEvent.ts
  packages/shared/lib/contexts/governance/actions/getGovernanceData.ts
  packages/shared/lib/contexts/governance/actions/index.ts
  packages/shared/lib/contexts/governance/actions/initializeProposalStates.ts
  packages/shared/lib/contexts/governance/actions/initializeRegisteredProposals.ts
  packages/shared/lib/contexts/governance/actions/pollGovernanceData.ts
  packages/shared/lib/contexts/governance/actions/pollParticipationEventStatus.ts
  packages/shared/lib/contexts/governance/actions/registerParticipationEvent.ts
  packages/shared/lib/contexts/governance/constants/index.ts
  packages/shared/lib/contexts/governance/constants/participation-event-status-poll-interval.constant.ts
  packages/shared/lib/contexts/governance/constants/proposal-status-poll-interval.constant.ts
  packages/shared/lib/contexts/governance/interfaces/proposal-state.interface.ts
  packages/shared/lib/contexts/governance/stores/index.ts
  packages/shared/lib/contexts/governance/stores/proposal-states.store.ts
  packages/shared/lib/contexts/governance/stores/registered-proposals.store.ts
  packages/shared/lib/contexts/governance/stores/selected-participation-event-status.store.ts
  packages/shared/lib/contexts/governance/stores/selected-proposal.store.ts
  packages/shared/lib/contexts/governance/utils/createProposalFromEvent.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfActiveProposals.ts
  packages/shared/lib/contexts/governance/utils/getProposalStatusForMilestone.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/contexts/governance/utils/isVisibleProposal.ts
  packages/shared/lib/contexts/governance/utils/sortProposals.ts
  packages/shared/lib/core/account/api/getParticipationOverview.ts
  packages/shared/lib/core/profile-manager/actions/events-handlers/handleTransactionInclusionEvent.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
Labels: type:refactor, context:governance, stardust

#5833 fix: logout times
  packages/desktop/views/dashboard/Dashboard.svelte
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/mobile/views/dashboard/drawers/profile/views/ActionsView.svelte
  packages/shared/components/Idle.svelte
  packages/shared/components/modals/ProfileActions.svelte
  packages/shared/lib/contexts/settings/actions/deleteProfile.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
  packages/shared/lib/core/profile/actions/active-profile/logout.ts
  packages/shared/lib/core/profile/constants/check-previous-manager-is-destroyed.constants.ts
  packages/shared/lib/core/profile/constants/index.ts
  packages/shared/lib/core/profile/stores/index.ts
  packages/shared/lib/core/profile/stores/is-destroying-manager.store.ts
Labels: type:fix, stardust

#5750 feat-mobile: filter assets
  packages/mobile/components/AssetList.svelte
  packages/mobile/components/filters/Filter.svelte
  packages/mobile/components/filters/FilterItem.svelte
  packages/mobile/components/filters/index.js
  packages/mobile/components/index.js
  packages/mobile/lib/contexts/dashboard/constants/index.ts
  packages/mobile/lib/contexts/dashboard/enums/filter-action.enum.ts
  packages/mobile/lib/contexts/dashboard/enums/index.ts
  packages/mobile/lib/contexts/dashboard/stores/index.ts
  packages/mobile/lib/contexts/dashboard/stores/selected-filter.store.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/filter-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/interfaces/filter-router-event.interface.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/routers/dashboard/filter-router.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/drawers/filter/FilterDrawer.svelte
  packages/mobile/views/dashboard/drawers/filter/FilterRouter.svelte
  packages/mobile/views/dashboard/drawers/filter/index.js
  packages/mobile/views/dashboard/drawers/filter/views/FilterView.svelte
  packages/mobile/views/dashboard/drawers/filter/views/index.js
  packages/mobile/views/dashboard/drawers/index.js
  packages/shared/lib/core/utils/types/index.ts
  packages/shared/lib/core/wallet/constants/default-activity-filter.constant.ts
  packages/shared/lib/core/wallet/constants/default-asset-filter.constant.ts
  packages/shared/lib/core/wallet/constants/index.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/stores/selected-account-assets.store.ts
Labels: type:feature, platform:mobile, package:shared, context:wallet, package:mobile

#5827 hackathon: replace ts-loader for esbuild-loader
  .github/workflows/ci.ts.yml
  package.json
  packages/desktop/package.json
  packages/desktop/webpack.config.js
  packages/mobile/webpack.config.js
  yarn.lock
Labels: type:enhancement, scope:dependencies, scope:ci, package:desktop, package:shared, platform:desktop

#5839 fix: multiple calls to participation overview at the same time
  packages/shared/lib/contexts/governance/stores/participation-overviews.store.ts
Labels: type:fix, context:governance, stardust

#5837 enhancement: governance loading animations
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/ProposalAnswer.svelte
  packages/shared/components/ProposalQuestion.svelte
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/components/atoms/boxes/KeyValueBox.svelte
  packages/shared/lib/contexts/governance/actions/pollParticipationEventStatus.ts
Labels: type:enhancement, context:governance, stardust

#5846 fix: correct name for deposit NFTs popup
  packages/desktop/views/dashboard/collectibles/views/CollectiblesGalleryView.svelte
  packages/shared/components/atoms/buttons/ReceiveButton.svelte
  packages/shared/components/popups/ReceiveAddressPopup.svelte
Labels: type:ui

#5848 fix: add selected account as a parameter in case store is cleared
  packages/shared/components/popups/AliasConfirmationPopup.svelte
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/lib/contexts/governance/actions/setVotingPower.ts
  packages/shared/lib/contexts/governance/actions/stopVotingForProposal.ts
  packages/shared/lib/contexts/governance/actions/vote.ts
  packages/shared/lib/core/wallet/actions/burnAsset.ts
  packages/shared/lib/core/wallet/actions/burnNft.ts
  packages/shared/lib/core/wallet/actions/consolidateOutputs.ts
  packages/shared/lib/core/wallet/actions/mintNativeToken.ts
  packages/shared/lib/core/wallet/actions/sendOutput.ts
  packages/shared/lib/core/wallet/utils/processAndAddToActivities.ts
Labels: type:fix

#5847 feat-mobile: check asset status when activity is clicked
  packages/mobile/lib/routers/routers/dashboard/activity-router.ts
  packages/mobile/lib/routers/routers/dashboard/token-router.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
Labels: type:feature, platform:mobile, package:mobile, stardust

#5558 feat: automatic proposal querying
  packages/desktop/views/onboarding/views/network-setup/views/SetupPrivateNetworkConnectionView.svelte
  packages/shared/components/modals/NodeActionsMenu.svelte
  packages/shared/lib/contexts/governance/actions/index.ts
  packages/shared/lib/contexts/governance/actions/registerProposalsFromNode.ts
  packages/shared/lib/contexts/governance/actions/registerProposalsFromPrimaryNode.ts
  packages/shared/lib/contexts/governance/utils/createProposalFromEvent.ts
  packages/shared/lib/contexts/governance/utils/getVotingParticipationEventIds.ts
  packages/shared/lib/contexts/governance/utils/index.ts
  packages/shared/lib/core/network/tests/network.test.ts
  packages/shared/lib/core/network/utils/getDefaultClientOptions.ts
  packages/shared/lib/core/profile/actions/active-profile/login.ts
Labels: type:feature, context:governance

#5853 release: desktop `2.1.0-alpha-5`
  packages/desktop/features/governance.features.ts
  packages/desktop/package.json
Labels: type:chore

#5858 fix: fix endless loading on proposal details
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/ProposalsDetails.svelte
  packages/shared/lib/contexts/governance/stores/participation-overviews.store.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfVotedProposals.ts
  packages/shared/lib/contexts/governance/utils/getNumberOfVotingProposals.ts
Labels: type:fix, context:governance, stardust

#5854 feat: activity filter
  packages/mobile/components/ActivityList.svelte
  packages/mobile/components/AssetList.svelte
Labels: type:feature, type:fix, platform:mobile, package:mobile, stardust

#5838 feat: adds search in activities
  packages/mobile/components/ActivityList.svelte
  packages/shared/lib/core/wallet/utils/outputs/getFormattedAmountFromActivity.ts
Labels: type:feature, platform:mobile, package:shared, package:mobile, stardust

#5882 fix: fix destructuring error
  packages/shared/lib/contexts/governance/utils/isSelectedAccountVoting.ts
Labels: bug report

#5869 feat-mobile: polish filter styles
  packages/mobile/components/ActivityList.svelte
  packages/mobile/components/AssetList.svelte
  packages/mobile/components/filters/FilterItem.svelte
  packages/mobile/views/dashboard/drawers/filter/FilterDrawer.svelte
Labels: platform:mobile, package:mobile, type:ui, stardust

#5885 chore: update `wallet.rs`
  packages/shared/package.json
  yarn.lock
Labels: type:chore, package:wallet.rs

#5884 fix: correctly disable governance buttons
  packages/shared/components/VotingPower.svelte
  packages/shared/components/popups/ManageVotingPowerPopup.svelte
  packages/shared/components/popups/RevotePopup.svelte
  packages/shared/components/popups/VotingPowerToZeroPopup.svelte
Labels: type:fix

#5893 fix: add more optional chaining
  packages/shared/components/molecules/activity-info/GenericActivityInformation.svelte
  packages/shared/components/popups/ActivityDetailsPopup.svelte
  packages/shared/components/popups/BurnNativeTokensConfirmationPopup.svelte
  packages/shared/components/popups/send/SendConfirmationPopup.svelte
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendFormOperation.ts
  packages/shared/lib/core/wallet/actions/getAccountAssetsForSelectedAccount.ts
  packages/shared/lib/core/wallet/stores/selected-account-activities.store.ts
  packages/shared/lib/core/wallet/utils/sortAssets.ts
Labels: type:fix, stardust

#5897 fix: manage voting power when stronghold locked
  packages/shared/lib/core/stronghold/actions/checkOrUnlockStronghold.ts
  yarn.lock
Labels: type:fix, context:governance

#5829 refactor: move `panes` to desktop `components` folder
  packages/desktop/components/index.js
  packages/desktop/components/panes/ProposalInformationPane.svelte
  packages/desktop/components/panes/index.js
  packages/desktop/tsconfig.json
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/desktop/views/dashboard/developer/Developer.svelte
  packages/desktop/views/dashboard/governance/views/GovernanceDashboardView.svelte
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/desktop/views/dashboard/wallet/Wallet.svelte
  packages/mobile/tsconfig.json
  packages/shared/components/atoms/Pane.svelte
  packages/shared/components/atoms/index.js
  packages/shared/components/index.js
  packages/shared/components/organisms/index.js
  packages/shared/components/panes/index.js
Labels: type:refactor

#5883 refactor: TitleBar component
  packages/desktop/App.svelte
  packages/desktop/components/TitleBar.svelte
  packages/desktop/components/index.js
  packages/shared/components/TitleBar.svelte
  packages/shared/components/atoms/Icon.svelte
  packages/shared/components/index.js
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/svgs/close-thin.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/hamburger.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/auxiliary/icon/svgs/maximize.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/minimize.svg.ts
  packages/shared/lib/auxiliary/icon/svgs/restore-size.svg.ts
Labels: type:refactor, package:desktop, package:shared, platform:desktop

#5904 chore: remove unused components
  packages/desktop/components/popups/Popup.svelte
  packages/desktop/components/popups/VideoPopup.svelte
  packages/desktop/views/dashboard/Sidebar.svelte
  packages/shared/components/CollapsibleBlock.svelte
  packages/shared/components/CopyButton.svelte
  packages/shared/components/Drawer.svelte
  packages/shared/components/Video.svelte
  packages/shared/components/index.js
  packages/shared/lib/auxiliary/popup/enums/popup-id.enum.ts
Labels: type:chore, package:shared, stardust

#5909 fix: update URLS
  packages/shared/lib/contexts/settings/constants/documentation-url.constant.ts
  packages/shared/lib/contexts/settings/constants/faq-url.constant.ts
Labels: type:documentation, type:fix

#5907 refactor: moves AccountSwitcher from shared to desktop
  packages/desktop/components/AccountSwitcher.svelte
  packages/desktop/components/index.js
  packages/desktop/components/modals/AccountSwitcherModal.svelte
  packages/desktop/components/modals/index.js
  packages/desktop/views/dashboard/TopNavigation.svelte
  packages/shared/components/AccountSwitcher.svelte
  packages/shared/components/index.js
  packages/shared/components/modals/index.js
Labels: type:refactor, package:desktop, package:shared, platform:desktop, stardust

#5912 enhancement: improve apply filter button
  packages/desktop/components/filter/Filter.svelte
Labels: type:enhancement, context:wallet, stardust

#5889 refactor: Route component
  packages/desktop/App.svelte
  packages/mobile/App.svelte
  packages/mobile/components/Route.svelte
  packages/mobile/components/index.js
  packages/shared/components/Route.svelte
  packages/shared/components/index.js
Labels: type:refactor, package:desktop, platform:mobile, package:shared, platform:desktop, package:mobile, stardust

#5925 fix: dont show governance activities on asset filter
  packages/shared/lib/core/wallet/utils/isVisibleActivity.ts
Labels: type:fix, context:wallet, stardust

#5933 fix: fix storage deposit for foundry activities
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/shared/lib/core/wallet/utils/generateActivity/generateSingleFoundryActivity.ts
Labels: type:fix, context:wallet, stardust

#5916 Fix: glitch when sending output
  packages/desktop/components/popups/send/SendConfirmationPopup.svelte
  packages/desktop/views/dashboard/collectibles/views/CollectiblesDetailsView.svelte
  packages/shared/lib/core/wallet/actions/sendOutput.ts
Labels: type:fix

#5950 fix: revert mobile App.svelte import order changes
  packages/mobile/App.svelte
Labels: type:fix, platform:mobile, package:mobile, stardust

#5952 fix: fix soonaverse urls with special characters
  packages/shared/components/molecules/NftMedia.svelte
Labels: type:fix, context:wallet, stardust

#5910 fix: update faq & urls for FFv1
  packages/shared/lib/core/router/enums/routes.ts
Labels: type:fix

#5958 enhancement: add manage voting power button to vote popup
  packages/desktop/components/popups/VoteForProposalPopup.svelte
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
Labels: type:enhancement, context:governance, stardust

#5955 fix: handle new soonaverse nfts
  packages/shared/components/atoms/MediaDisplay.svelte
  packages/shared/components/molecules/NftMedia.svelte
Labels: type:fix, stardust, context:collectibles

#5849 fix: fix claiming for timelocked activity
  packages/shared/components/atoms/tiles/ActivityTile.svelte
  packages/shared/components/atoms/tiles/tileFooters/AsyncActivityTileFooter.svelte
  packages/shared/lib/core/wallet/actions/activities/setAsyncStatusOfAccountActivities.ts
  packages/shared/lib/core/wallet/constants/unlock-condition.constants.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getAsyncDataFromOutput.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/getAsyncStatus.ts
  packages/shared/lib/core/wallet/utils/generateActivity/helper/index.ts
  packages/shared/lib/core/wallet/utils/outputs/getTimeDifference.ts
Labels: type:fix, context:wallet, stardust

#5962 fix: url not being passed in media display
  packages/shared/components/atoms/MediaDisplay.svelte
  packages/shared/components/molecules/NftMedia.svelte
Labels: type:fix, stardust, context:collectibles

#5899 chore: upgrade Electron to `22.3.0`
  packages/desktop/package.json
  yarn.lock
Labels: type:chore

#5963 enhancement: improve quantity and other optional inputs on mint nft flow
  packages/desktop/components/popups/MintNftConfirmationPopup.svelte
  packages/desktop/components/popups/MintNftFormPopup.svelte
  packages/shared/lib/core/wallet/actions/mintNft.ts
  packages/shared/lib/core/wallet/interfaces/mint-nft-details.interface.ts
  packages/shared/lib/core/wallet/stores/mint-nft-details.store.ts
  packages/shared/locales/en.json
Labels: type:enhancement, stardust, context:collectibles

#5949 refactor: ColorPicker
  packages/desktop/components/popups/CreateAccountPopup.svelte
  packages/desktop/components/popups/ManageAccountPopup.svelte
  packages/mobile/components/ColorPicker.svelte
  packages/mobile/components/index.js
  packages/mobile/views/dashboard/drawers/account-actions/views/CustomizeAccountView.svelte
  packages/mobile/views/dashboard/drawers/account-switcher/views/CreateAccount.svelte
  packages/shared/components/ColorPicker.svelte
  packages/shared/lib/core/utils/ui.ts
Labels: type:refactor, package:desktop, package:shared, platform:desktop, stardust

#5969 fix-mobile: balance font size
  packages/mobile/components/labels/TogglableAssetBalanceLabel.svelte
Labels: platform:mobile, package:mobile, stardust

#5964 chore: update `wallet.rs`
  packages/desktop/App.svelte
  packages/desktop/components/popups/AddNodePopup.svelte
  packages/mobile/views/dashboard/drawers/profile/views/settings/views/networkConfiguration/views/NetworkConfigurationAddUpdateNodeView.svelte
  packages/shared/components/atoms/buttons/NodeActionsButton.svelte
  packages/shared/components/organisms/NodeConfigurationForm.svelte
  packages/shared/lib/contexts/governance/actions/registerParticipationEvent.ts
  packages/shared/lib/contexts/governance/actions/registerProposalsFromNode.ts
  packages/shared/lib/contexts/governance/utils/getVotingParticipationEventIds.ts
  packages/shared/lib/core/account/interfaces/account.interface.ts
  packages/shared/lib/core/network/constants/empty-node.constant.ts
  packages/shared/lib/core/network/constants/index.ts
  packages/shared/lib/core/network/interfaces/auth.interface.ts
  packages/shared/lib/core/network/tests/network.test.ts
  packages/shared/lib/core/network/utils/cleanAuth.ts
  packages/shared/lib/core/network/utils/getOfficialNodes.ts
  packages/shared/lib/core/profile-manager/interfaces/profile-manager.interface.ts
  packages/shared/lib/core/profile/actions/profiles/checkAndMigrateProfiles.ts
  packages/shared/lib/core/profile/constants/profile-version.constant.ts
  packages/shared/lib/tests/__mocks__/account.mock.ts
  packages/shared/lib/tests/__mocks__/profile-manager.mock.ts
  packages/shared/package.json
  yarn.lock
Labels: type:chore

#5956 feat: change node url for proposal
  packages/desktop/components/popups/AddProposalPopup.svelte
  packages/desktop/views/dashboard/governance/views/ProposalDetailsView.svelte
  packages/shared/components/atoms/Icon.svelte
  packages/shared/components/atoms/MenuItem.svelte
  packages/shared/components/atoms/buttons/ProposalDetailsButton.svelte
  packages/shared/components/modals/ProposalDetailsMenu.svelte
  packages/shared/components/modals/index.js
  packages/shared/components/molecules/ActivityInformation.svelte
  packages/shared/components/organisms/ProposalCard.svelte
  packages/shared/lib/auxiliary/deep-link/handlers/governance/operations/handleDeepLinkAddProposalOperation.ts
  packages/shared/lib/auxiliary/icon/constants/icon-svg.ts
  packages/shared/lib/auxiliary/icon/enums/icon.enum.ts
  packages/shared/lib/auxiliary/icon/interfaces/svg-circle.interface.ts
  packages/shared/lib/auxiliary/icon/interfaces/svg.interface.ts
  packages/shared/lib/auxiliary/icon/svgs/index.ts
  packages/shared/lib/auxiliary/icon/svgs/node.svg.ts
  packages/shared/lib/contexts/governance/actions/registerParticipationEvent.ts
  packages/shared/lib/contexts/governance/stores/registered-proposals.store.ts
  packages/shared/lib/contexts/governance/stores/selected-proposal.store.ts
  packages/shared/lib/contexts/governance/utils/isVotingForSelectedProposal.ts
  packages/shared/locales/en.json
Labels: type:feature, context:governance, stardust

#5970 fix: only show burn activities if it is self transaction
  packages/shared/lib/core/wallet/utils/generateActivity/generateActivitiesFromBasicOutputs.ts
Labels: type:fix, context:wallet, stardust

#5973 fix: validate asset id from deeplinks
  packages/shared/lib/auxiliary/deep-link/errors/index.ts
  packages/shared/lib/auxiliary/deep-link/errors/invalid-asset-id.error.ts
  packages/shared/lib/auxiliary/deep-link/handlers/wallet/operations/handleDeepLinkSendConfirmationOperation.ts
  packages/shared/lib/core/utils/crypto/utils/index.ts
  packages/shared/lib/core/utils/crypto/utils/validateAssetId.ts
  packages/shared/locales/en.json
Labels: type:fix, package:shared, stardust

#5975 refactor: move badges
  packages/shared/components/NetworkIconBadge.svelte
  packages/shared/components/atoms/badges/NetworkIconBadge.svelte
  packages/shared/components/atoms/badges/NotificationBadge.svelte
  packages/shared/components/atoms/badges/PingingBadge.svelte
  packages/shared/components/atoms/badges/VerificationBadge.svelte
  packages/shared/components/atoms/badges/index.js
  packages/shared/components/atoms/index.js
  packages/shared/components/index.js
  packages/shared/components/molecules/index.js
Labels: type:refactor, package:shared, type:ui, stardust

#5977 refactor: move NetworkIcon
  packages/shared/components/atoms/NetworkIcon.svelte
  packages/shared/components/atoms/index.js
  packages/shared/components/index.js
Labels: type:chore, type:refactor, package:shared, type:ui, stardust

#5886 refactor: mobile activity drawers
  packages/mobile/App.svelte
  packages/mobile/components/ActivityList.svelte
  packages/mobile/components/Drawer.svelte
  packages/mobile/components/drawers/ConfirmDrawer.svelte
  packages/mobile/components/drawers/DrawerManager.svelte
  packages/mobile/components/drawers/EnterPasswordDrawer.svelte
  packages/mobile/components/drawers/SelectedActivityDrawer.svelte
  packages/mobile/components/drawers/index.js
  packages/mobile/components/index.js
  packages/mobile/lib/auxiliary/drawer/actions/closeDrawer.ts
  packages/mobile/lib/auxiliary/drawer/actions/index.ts
  packages/mobile/lib/auxiliary/drawer/actions/openDrawer.ts
  packages/mobile/lib/auxiliary/drawer/actions/updateDrawerProps.ts
  packages/mobile/lib/auxiliary/drawer/constants/drawer-component.constants.ts
  packages/mobile/lib/auxiliary/drawer/constants/drawer-static-title-locale.constant.ts
  packages/mobile/lib/auxiliary/drawer/constants/index.ts
  packages/mobile/lib/auxiliary/drawer/enums/drawer-id.enum.ts
  packages/mobile/lib/auxiliary/drawer/enums/index.ts
  packages/mobile/lib/auxiliary/drawer/index.ts
  packages/mobile/lib/auxiliary/drawer/interfaces/drawer.interface.ts
  packages/mobile/lib/auxiliary/drawer/interfaces/index.ts
  packages/mobile/lib/auxiliary/drawer/stores/drawers.stores.ts
  packages/mobile/lib/auxiliary/drawer/stores/index.ts
  packages/mobile/lib/auxiliary/drawer/types/drawer-props.type.ts
  packages/mobile/lib/auxiliary/drawer/types/index.ts
  packages/mobile/lib/auxiliary/drawer/utils/get-drawer-router.util.ts
  packages/mobile/lib/auxiliary/drawer/utils/index.ts
  packages/mobile/lib/contexts/dashboard/constants/index.ts
  packages/mobile/lib/contexts/dashboard/stores/index.ts
  packages/mobile/lib/contexts/dashboard/stores/selected-activity.store.ts
  packages/mobile/lib/contexts/wallet/actions/handleClaimActivity.ts
  packages/mobile/lib/contexts/wallet/actions/handleRejectActivity.ts
  packages/mobile/lib/contexts/wallet/actions/index.ts
  packages/mobile/lib/contexts/wallet/index.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/activity-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/interfaces/activity-router-event.interface.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/routers/dashboard/activity-router.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/lib/routers/utils/resetRouterWithDrawerDelay.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/drawers/activity/ActivityDrawer.svelte
  packages/mobile/views/dashboard/drawers/activity/ActivityRouter.svelte
  packages/mobile/views/dashboard/drawers/activity/index.js
  packages/mobile/views/dashboard/drawers/activity/views/index.js
  packages/mobile/views/dashboard/drawers/index.js
  packages/mobile/views/dashboard/tabs/ActivityTab.svelte
Labels: type:refactor, platform:mobile, package:mobile, stardust

#5947 refactor: mobile wallet switcher drawers
  packages/mobile/components/Drawer.svelte
  packages/mobile/components/buttons/AccountSwitcherButton.svelte
  packages/mobile/components/drawers/AccountSwitcherDrawer.svelte
  packages/mobile/components/drawers/CreateAccountDrawer.svelte
  packages/mobile/components/drawers/DrawerManager.svelte
  packages/mobile/components/drawers/EnterPasswordDrawer.svelte
  packages/mobile/components/drawers/SelectedActivityDrawer.svelte
  packages/mobile/components/drawers/SelectedTokenDrawer.svelte
  packages/mobile/components/drawers/index.js
  packages/mobile/lib/auxiliary/drawer/actions/closeAllDrawers.ts
  packages/mobile/lib/auxiliary/drawer/actions/index.ts
  packages/mobile/lib/auxiliary/drawer/constants/drawer-static-title-locale.constant.ts
  packages/mobile/lib/auxiliary/drawer/enums/drawer-id.enum.ts
  packages/mobile/lib/auxiliary/drawer/utils/get-drawer-router.util.ts
  packages/mobile/lib/contexts/wallet/actions/handleClaimActivity.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/account-switcher-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/enums/dashboard/token-route.enum.ts
  packages/mobile/lib/routers/routers/dashboard/account-switcher-router.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/drawers/account-switcher/AccountSwitcherDrawer.svelte
  packages/mobile/views/dashboard/drawers/account-switcher/AccountSwitcherRouter.svelte
  packages/mobile/views/dashboard/drawers/account-switcher/index.js
  packages/mobile/views/dashboard/drawers/account-switcher/views/index.js
  packages/mobile/views/dashboard/drawers/index.js
Labels: type:refactor, platform:mobile, package:mobile, stardust

#5953 refactor: mobile receive drawer
  packages/mobile/components/drawers/DrawerManager.svelte
  packages/mobile/components/drawers/ReceiveDrawer.svelte
  packages/mobile/components/drawers/index.js
  packages/mobile/lib/auxiliary/drawer/constants/drawer-static-title-locale.constant.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/DashboardView.svelte
  packages/mobile/views/dashboard/drawers/ReceiveDrawer.svelte
  packages/mobile/views/dashboard/drawers/index.js
Labels: type:refactor, platform:mobile, package:mobile, stardust

#5959 refactor: account actions drawers
  packages/mobile/components/buttons/AccountActionsButton.svelte
  packages/mobile/components/drawers/AccountActionsDrawer.svelte
  packages/mobile/components/drawers/BalanceBreakdownDrawer.svelte
  packages/mobile/components/drawers/CustomizeAccountDrawer.svelte
  packages/mobile/components/drawers/DeleteAccountDrawer.svelte
  packages/mobile/components/drawers/DrawerManager.svelte
  packages/mobile/components/drawers/index.js
  packages/mobile/lib/auxiliary/drawer/constants/drawer-static-title-locale.constant.ts
  packages/mobile/lib/auxiliary/drawer/enums/drawer-id.enum.ts
  packages/mobile/lib/auxiliary/drawer/utils/get-drawer-router.util.ts
  packages/mobile/lib/contexts/dashboard/enums/account-action.enum.ts
  packages/mobile/lib/contexts/dashboard/enums/index.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/account-actions-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/interfaces/account-actions-router-event.interface.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/routers/dashboard/account-actions-router.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsDrawer.svelte
  packages/mobile/views/dashboard/drawers/account-actions/AccountActionsRouter.svelte
  packages/mobile/views/dashboard/drawers/account-actions/index.js
  packages/mobile/views/dashboard/drawers/account-actions/views/ConsolidateConfirmationView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/DeleteAccountConfirmationView.svelte
  packages/mobile/views/dashboard/drawers/account-actions/views/index.js
  packages/mobile/views/dashboard/drawers/index.js
Labels: type:refactor, platform:mobile, package:mobile, stardust

#5965 refactor: filter drawers
  packages/mobile/components/ActivityList.svelte
  packages/mobile/components/AssetList.svelte
  packages/mobile/components/drawers/DrawerManager.svelte
  packages/mobile/components/drawers/FilterDrawer.svelte
  packages/mobile/components/drawers/index.js
  packages/mobile/components/filters/Filter.svelte
  packages/mobile/lib/auxiliary/drawer/enums/drawer-id.enum.ts
  packages/mobile/lib/contexts/dashboard/enums/activity-action.enum.ts
  packages/mobile/lib/contexts/dashboard/enums/filter-action.enum.ts
  packages/mobile/lib/contexts/dashboard/enums/index.ts
  packages/mobile/lib/contexts/dashboard/stores/index.ts
  packages/mobile/lib/contexts/dashboard/stores/selected-filter.store.ts
  packages/mobile/lib/contexts/wallet/enums/filter-type.enum.ts
  packages/mobile/lib/contexts/wallet/enums/index.ts
  packages/mobile/lib/contexts/wallet/index.ts
  packages/mobile/lib/contexts/wallet/utils/getFilterStore.ts
  packages/mobile/lib/contexts/wallet/utils/index.ts
  packages/mobile/lib/routers/actions/initialiseRouters.ts
  packages/mobile/lib/routers/actions/resetRouters.ts
  packages/mobile/lib/routers/enums/dashboard/filter-route.enum.ts
  packages/mobile/lib/routers/enums/dashboard/index.ts
  packages/mobile/lib/routers/interfaces/filter-router-event.interface.ts
  packages/mobile/lib/routers/interfaces/index.ts
  packages/mobile/lib/routers/routers/dashboard/filter-router.ts
  packages/mobile/lib/routers/routers/dashboard/index.ts
  packages/mobile/lib/routers/utils/getSubroutersForAppContext.ts
  packages/mobile/views/dashboard/DashboardRouter.svelte
  packages/mobile/views/dashboard/drawers/filter/FilterDrawer.svelte
  packages/mobile/views/dashboard/drawers/filter/FilterRouter.svelte
  packages/mobile/views/dashboard/drawers/filter/index.js
  packages/mobile/views/dashboard/drawers/filter/views/FilterView.svelte
  packages/mobile/views/dashboard/drawers/filter/views/index.js
  packages/mobile/views/dashboard/drawers/index.js
Labels: type:refactor, platform:mobile, package:mobile, stardust

#5979 refactor: OnboardingLayout
  packages/desktop/components/OnboardingLayout.svelte
  packages/desktop/components/index.js
  packages/desktop/views/onboarding/views/CongratulationsView.svelte
  packages/desktop/views/onboarding/views/app-setup/views/LanguageAndAppearanceView.svelte
  packages/desktop/views/onboarding/views/app-setup/views/LegalView.svelte
  packages/desktop/views/onboarding/views/app-setup/views/WelcomeView.svelte
  packages/desktop/views/onboarding/views/ledger-setup/views/ConnectLedgerView.svelte
  packages/desktop/views/onboarding/views/ledger-setup/views/LedgerInstallationGuideView.svelte
  packages/desktop/views/onboarding/views/network-setup/views/ChooseNetworkView.svelte
  packages/desktop/views/onboarding/views/network-setup/views/ChooseProtocolView.svelte
  packages/desktop/views/onboarding/views/network-setup/views/SetupPrivateNetworkConnectionView.svelte
  packages/desktop/views/onboarding/views/profile-backup/views/BackupMnemonicView.svelte
  packages/desktop/views/onboarding/views/profile-backup/views/BackupStrongholdView.svelte
  packages/desktop/views/onboarding/views/profile-backup/views/VerifyMnemonicView.svelte
  packages/desktop/views/onboarding/views/profile-backup/views/ViewMnemonicView.svelte
  packages/desktop/views/onboarding/views/profile-recovery/views/BackupPasswordView.svelte
  packages/desktop/views/onboarding/views/profile-recovery/views/ImportMnemonicPhraseView.svelte
  packages/desktop/views/onboarding/views/profile-recovery/views/ImportStrongholdBackupView.svelte
  packages/desktop/views/onboarding/views/profile-recovery/views/LedgerView.svelte
  packages/desktop/views/onboarding/views/profile-recovery/views/SuccessView.svelte
  packages/desktop/views/onboarding/views/profile-setup/views/EnterNameView.svelte
  packages/desktop/views/onboarding/views/profile-setup/views/SetupClaimedView.svelte
  packages/desktop/views/onboarding/views/profile-setup/views/SetupNewView.svelte
  packages/desktop/views/onboarding/views/profile-setup/views/SetupRecoveredView.svelte
  packages/desktop/views/onboarding/views/profile-setup/views/SetupView.svelte
  packages/desktop/views/onboarding/views/shimmer-claiming/views/ClaimRewardsView.svelte
  packages/desktop/views/onboarding/views/shimmer-claiming/views/SuccessView.svelte
  packages/desktop/views/onboarding/views/storage-protection-setup/views/SetupPinProtectionView.svelte
  packages/desktop/views/onboarding/views/stronghold-setup/views/SetupStrongholdPasswordView.svelte
  packages/shared/components/OnboardingLayout.svelte
  packages/shared/components/index.js
Labels: type:chore, type:refactor, package:desktop, package:shared, platform:desktop, type:ui, stardust
